In [10]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.display import display
InteractiveShell.ast_node_interactivity = "all"

In [11]:
%load_ext autoreload
%autoreload 2

In [12]:
import pandas as pd

In [13]:
%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_seq_items', 500)

In [5]:
API_KEY = "<API Key>"

# Fundamental Analysis Library

In [4]:
from financetoolkit import Toolkit, Discovery
import os

FMP_API_KEY = os.getenv("FMP_API_KEY")
#print(FMP_API_KEY)

In [5]:
discovery = Discovery(api_key=FMP_API_KEY)

stock_list = discovery.get_stock_list()

stock_list.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60005 entries, 000001.SZ to ZZZOF
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           59969 non-null  object
 1   Price          59982 non-null  float64
 2   Exchange       60004 non-null  object
 3   Exchange Code  60004 non-null  object
dtypes: float64(1), object(3)
memory usage: 2.3+ MB

In [6]:
print(len(stock_list))

60005

In [8]:
stock_list["Exchange"].unique()

array(['Shenzhen', 'KSE', 'HKSE', 'Kuala Lumpur', 'KOSDAQ',
       'Frankfurt Stock Exchange', 'Warsaw Stock Exchange',
       'London Stock Exchange', 'International Order Book', 'Stuttgart',
       'Swiss Exchange', 'IOB', 'Saudi', 'Taiwan', 'Tokyo',
       'Australian Securities Exchange', 'Taipei Exchange', 'Milan',
       'Stock Exchange of Singapore', 'Vienna', 'Oslo Stock Exchange',
       'Bombay Stock Exchange', 'National Stock Exchange of India',
       'Thailand', 'Stockholm Stock Exchange', 'Paris', 'Berlin',
       'Madrid Stock Exchange', 'Dusseldorf', 'Budapest', 'Johannesburg',
       'Munich', 'Shanghai', 'Irish', 'New York Stock Exchange', 'Athens',
       'Other OTC', 'Copenhagen', 'Toronto Stock Exchange',
       'NASDAQ Global Market', 'NASDAQ Global Select',
       'NASDAQ Capital Market', 'Toronto Stock Exchange Ventures',
       'Amsterdam', 'Jakarta Stock Exchange', 'Helsinki', 'SÃ£o Paulo',
       'American Stock Exchange', 'Mexico', 'NEO', 'NASDAQ',
       'Buenos Aires', 'Brussels', 'Tel Aviv', 'Moscow Stock Exchange',
       'Canadian Securities Exchange', 'TSXV', 'NZSE',
       'Istanbul Stock Exchange', 'Santiago', 'Nasdaq', 'Qatar', 'Dubai',
       'Lisbon', 'XETRA', 'Cboe Europe', 'Iceland',
       'New York Stock Exchange Arca', 'CBOE BZX', 'Cboe CA', 'Prague',
       'EGX', 'Canadian Sec', 'Hamburg', 'BATS', 'Aquis AQSE', 'Kuwait',
       'Riga', None], dtype=object)

In [18]:
stock_list.head()

,Name,Price,Exchange,Exchange Code
Symbol,,,,
000001.SZ,"Ping An Bank Co., Ltd.",9.46,Shenzhen,SHZ
000002.SZ,"China Vanke Co., Ltd.",9.60,Shenzhen,SHZ
000004.SZ,Shenzhen GuoHua Network Security Technology Co...,12.35,Shenzhen,SHZ
000005.SZ,Shenzhen Fountain Corporation,0.94,Shenzhen,SHZ
000006.SZ,"Shenzhen Zhenye (Group) Co.,Ltd.",4.17,Shenzhen,SHZ

In [23]:
# New York Stock Exchange (NYSE)
# NASDAQ Stock Market (NASDAQ)
# Chicago Board Options Exchange (CBOE)
# Chicago Mercantile Exchange (CME)
# Intercontinental Exchange (ICE)
# BATS Global Markets (BATS)
# Miami International Securities Exchange (MIAX)
# Philadelphia Stock Exchange (PHLX)
# BOX Options Exchange (BOX)
# NYSE American (formerly known as American Stock Exchange or AMEX)

us_stocks = stock_list[stock_list["Exchange Code"].isin(["AMEX", "NASDAQ", "NYSE","CBOE", "CME", "ICE", "BATS", "MIAX", "PHLX", "BOX", "NSX", "CHX"])]
print(len(us_stocks))

10248

In [24]:
us_stocks.head(10)

,Name,Price,Exchange,Exchange Code
Symbol,,,,
A,"Agilent Technologies, Inc.",134.2800,New York Stock Exchange,NYSE
AA,Alcoa Corporation,30.6100,New York Stock Exchange,NYSE
AAC,Ares Acquisition Corporation,10.7900,New York Stock Exchange,NYSE
AAC-UN,Ares Acquisition Corporation,10.8100,New York Stock Exchange,NYSE
AAC-WT,Ares Acquisition Corporation Re,0.6300,New York Stock Exchange,NYSE
AACG,ATA Creativity Global,1.0800,NASDAQ Global Market,NASDAQ
AACI,Armada Acquisition Corp. I,10.8900,NASDAQ Global Market,NASDAQ
AACIU,Armada Acquisition Corp. I,10.8900,NASDAQ Global Market,NASDAQ
AACIW,Armada Acquisition Corp. I,0.0256,NASDAQ Global Market,NASDAQ
AACQU,Artius Acquisition Inc.,11.0500,NASDAQ Global Select,NASDAQ

In [21]:
df = us_stocks.reset_index()
df.head(10)
df.to_excel("stock_all.xlsx", index=False, header=True, engine="openpyxl", sheet_name="stock")

,Symbol,Name,Price,Exchange,Exchange Code
0,20MICRONS.BO,20 Microns Limited,169.30,Bombay Stock Exchange,BSE
1,21STCENMGM.BO,Twentyfirst Century Management Services Limited,43.13,Bombay Stock Exchange,BSE
2,360ONE.BO,360 One Wam Limited,620.50,Bombay Stock Exchange,BSE
3,3IINFOTECH.BO,3i Infotech Limited,54.83,Bombay Stock Exchange,BSE
4,3MINDIA.BO,3M India Limited,34447.20,Bombay Stock Exchange,BSE
5,3PLAND.BO,3P Land Holdings Limited,37.95,Bombay Stock Exchange,BSE
6,5PAISA.BO,5paisa Capital Limited,602.10,Bombay Stock Exchange,BSE
7,63MOONS.BO,63 moons technologies limited,423.95,Bombay Stock Exchange,BSE
8,7NR.BO,JPY/KMF,6.46,Bombay Stock Exchange,BSE
9,7SEASL.BO,7SEAS ENTERTAINMENT LIMITED,39.89,Bombay Stock Exchange,BSE

In [ ]:
!ls stock_all.xlsx

# Finance Database

In [ ]:
import financedatabase as fd

## Countries

In [ ]:
import financedatabase as fd

# Initialize the Equities database
equities = fd.Equities()

# Obtain all countries from the database
equities_countries = equities.options('country')

equities_countries

## Sectors

In [ ]:
# Obtain all sectors from the database
equities_sectors = equities.options('sector')
equities_sectors

## Industries

In [ ]:
# Obtain all industry groups from the database
equities_industry_groups = equities.options('industry_group')
equities_industry_groups

In [ ]:
# Obtain a selection from the database
equities_united_states = equities.select(country="United States")
print(len(equities_united_states))

In [ ]:
# Obtain all industries from a country from the database
equities_germany_industries = equities.options('industry', country='United States')
equities_germany_industries

In [ ]:
equities_industries = equities.options('industry')
equities_industries

In [ ]:
# Obtain a detailed selection from the database
equities_usa_consumer_electronics = equities.select(country="United States", industry="Insurance")
print(len(equities_usa_consumer_electronics))

In [ ]:
# Search specific fields from the database
equities_uk_biotech = equities.search(country='United Kingdom', summary='biotech', exchange='LSE')
print(len(equities_uk_biotech))

## All Options

In [ ]:
# Obtain all countries + sectors + industries from the database
#equities_all_categories = fd.show_options('equities')
#equities_all_categories

## Equities for US

### By Country and Stock Exchanges

In [ ]:
all_equities = equities.select()
df_all_equities = pd.DataFrame(all_equities)

In [ ]:
#df_all_equities = df_all_equities.T
#df_all_equities.index.name = "symbol"
df_all_equities.reset_index(inplace=True)

In [ ]:
print(len(df_all_equities))
df_all_equities[df_all_equities["symbol"] == "AMKBY"].head(10)

In [ ]:
df_us_market = df_all_equities[ (df_all_equities["country"] == "United States") | 
                               ( (df_all_equities["exchange"].isin(["NMS","NYQ"])) & (df_all_equities["market"] == "us_market") ) ]

In [ ]:
print(len(df_us_market))

In [ ]:
df_us_market.head(10)

In [ ]:
df_us_market.groupby(by=["exchange"])[["symbol"]].count()

In [ ]:
df_us_market[df_us_market["symbol"].isin(["PBR", "GOGL", "ELY", "SNPTY","BAK", "CLM","SBLK", "OXLC", "CCU", "ORC", "HIMX"])].head(20)

### By Country

In [ ]:
us_equities = equities.select(country='United States')
df_us_equities = pd.DataFrame(us_equities)
#df_us_equities = df_us_equities.T
#df_us_equities.index.name = "symbol"
df_us_equities.reset_index(inplace=True)
print(len(df_us_equities))
df_us_equities.head(3)

## Equities by Sectors

In [ ]:
df_us_sector = df_us_equities.groupby(by=["sector"], axis=0)["symbol"].count()
df_us_sector

In [ ]:
df_us_sector.plot.pie(subplots=True,figsize=(7, 7))

## Stocks with High Dividend Value

In [ ]:
df_us_utilities = df_us_equities[df_us_equities["sector"] == "Utilities"]
print(f"Count of utilities equities : {len(df_us_utilities)}")

In [ ]:
import yfinance as yf
import time

In [ ]:
equities_stats = []
for equity in df_us_utilities.itertuples(index=False, name="Equity"):
    ticker = yf.Ticker(equity.symbol)
    stats = ticker.stats()
    if "defaultKeyStatistics" in stats.keys():
        print(f"Getting stats for {equity.symbol}-{equity.short_name}")
        key_stats = stats["defaultKeyStatistics"]
        if key_stats is not None:
            key_stats["symbol"] = equity.symbol
            key_stats["name"] = equity.short_name
            equities_stats.append(key_stats)
            time.sleep(2)

In [ ]:
df_utilities_stats = pd.DataFrame(equities_stats)

In [ ]:
df_utilities_stats.info()

In [ ]:
df_utilities_stats.sort_values(by=["lastDividendValue"], ascending=False)[["symbol", "name", "lastDividendValue" ]]

## Save the Dataset

In [ ]:
#df_us_equities.to_excel("stock.xlsx", index=False, header=True, engine="openpyxl", sheet_name="stock")

In [ ]:
#df_excel = pd.read_excel("stock.xlsx", sheet_name="stock")

In [ ]:
#df_excel.head(3)

In [ ]:
#print(len(df_excel))

In [ ]:
df_us_equities.to_excel("stock_usa.xlsx", index=False, header=True, engine="openpyxl", sheet_name="stock")

In [ ]:
df_excel = pd.read_excel("stock_usa.xlsx", sheet_name="stock")

In [ ]:
print(len(df_excel))

In [ ]:
# All equities

In [ ]:
print(len(df_all_equities))

In [ ]:
df_all_equities.to_excel("stock_all.xlsx", index=False, header=True, engine="openpyxl", sheet_name="stock")

In [ ]:
df_excel = pd.read_excel("stock_all.xlsx", sheet_name="stock")

In [ ]:
print(len(df_excel))