In [1]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.display import display
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np
import time
from datetime import datetime, timezone
from alphalib.analysis import all_sources

In [4]:
%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_seq_items', 500)

# High Dividend Yield Stocks

https://finance.yahoo.com/u/yahoo-finance/watchlists/high-yield-dividend-stocks/

In [5]:
symbols = ["PBR","PBR-A", "SNPTY", "BNPQY", "NRDBY", "AMKBY", "ISNPY", "NLY", "BAK", "AGNC", "ELP", "ZIM", "SBLK", "CCU", "CLM", "GOGL", "CIM", "ARI", "MFA", "CRF", "BRMK", "EGLE", "OPI", "ARR", "LPG", "ECC", "IVR", "ORC", "BPT", "GLO"]

In [6]:
stock_details = all_sources("GOGL")

In [7]:
stock_details.nasdaq.to_df()

,label,symbol,exDividendDate,dividend_yield_pct,annual_dividend,pe_ratio,url
0,GOGL Dividend History,GOGL,2022-09-06,29.06,2.4,2.47,https://www.nasdaq.com/market-activity/stocks/...

In [8]:
stock_details.yahoo_finance.to_df().T

                                                       0
symbol                                              GOGL
name                          Golden Ocean Group Limited
exchange                                             NMS
sector                                       Industrials
currentPrice                                        8.43
fiveYearAvgDividendYield                            None
earningsDate                         2022-11-30 18:59:00
exDividendDate                       2022-09-06 08:00:00
dividendDate                         2022-09-14 08:00:00
lastDividendDate                     2022-09-06 08:00:00
forwardEps                                         18.89
forwardPE                                       0.446268
trailingEps                                         3.44
trailingPE                                      2.450582
pegRatio                                            None
priceToBook                                     0.873756
freeCashflow                                   446609632
returnOnEquity                                   0.36823
debtToEquity                                      69.431
priceToSalesTrailing12Months                    1.235166
payoutRatio                                       0.7925
dividendYield                                     0.2906
dividendRate                                         2.4

In [9]:
stock_details.seeking_alpha

SeekingAlpha(symbol='GOGL', url='https://seekingalpha.com/symbol/GOGL/dividends/history', dividend_history=       declaration_date ex_dividend_date          record_date  \
0   2022-08-25 00:00:00       2022-09-06  2022-09-07 00:00:00
1   2022-05-19 00:00:00       2022-05-31  2022-06-01 00:00:00
2   2022-02-16 00:00:00       2022-03-02  2022-03-03 00:00:00
3   2021-11-24 00:00:00       2021-12-08  2021-12-09 00:00:00
4   2021-08-26 00:00:00       2021-09-09  2021-09-10 00:00:00
5   0001-01-01 00:00:00       2021-06-02  2021-06-03 00:00:00
6   2020-02-18 00:00:00       2020-03-05  2020-03-06 00:00:00
7   2019-11-21 00:00:00       2019-12-02  2019-12-03 00:00:00
8   2019-08-15 00:00:00       2019-08-29  2019-08-30 00:00:00
9   2019-05-22 00:00:00       2019-06-05  2019-06-06 00:00:00
10  2019-02-18 00:00:00       2019-03-06  2019-03-07 00:00:00
11  2018-11-20 00:00:00       2018-12-06  2018-12-06 00:00:00
12  2018-08-17 00:00:00       2018-09-05  2018-09-06 00:00:00
13  2018-05-31 00:00:00       2018-06-13  2018-06-14 00:00:00
14  2018-02-20 00:00:00       2018-03-02  2018-03-05 00:00:00
15  2014-11-21 00:00:00       2014-12-01  2014-12-03 00:00:00
16  0001-01-01 00:00:00       2014-08-26  2014-08-28 00:00:00
17  2014-02-04 00:00:00       2014-05-20  2014-05-22 00:00:00
18  2014-02-04 00:00:00       2014-02-14  2014-02-19 00:00:00
19  2013-11-13 00:00:00       2013-11-26  2013-11-29 00:00:00
20  2013-08-14 00:00:00       2013-08-26  2013-08-28 00:00:00
21  0001-01-01 00:00:00       2013-05-20  2013-05-22 00:00:00
22  2013-02-07 00:00:00       2013-02-15  2013-02-20 00:00:00
23  0001-01-01 00:00:00       2012-11-26  2012-11-28 00:00:00
24  0001-01-01 00:00:00       2012-08-28  2012-08-30 00:00:00
25  0001-01-01 00:00:00       2012-05-21  2012-05-23 00:00:00
26  0001-01-01 00:00:00       2012-02-21  2012-02-23 00:00:00
27  0001-01-01 00:00:00       2011-11-16  2011-11-18 00:00:00
28  0001-01-01 00:00:00       2011-08-29  2011-08-31 00:00:00
29  0001-01-01 00:00:00       2011-05-23  2011-05-25 00:00:00
30  0001-01-01 00:00:00       2011-02-15  2011-02-17 00:00:00
31  0001-01-01 00:00:00       2010-11-17  2010-11-19 00:00:00
32  0001-01-01 00:00:00       2010-08-20  2010-08-24 00:00:00
33  0001-01-01 00:00:00       2010-05-19  2010-05-21 00:00:00
34  0001-01-01 00:00:00       2010-02-17  2010-02-19 00:00:00
35  0001-01-01 00:00:00       2009-02-13  2009-02-18 00:00:00
36  0001-01-01 00:00:00       2008-11-13  2008-11-17 00:00:00
37  0001-01-01 00:00:00       2008-08-20  2008-08-22 00:00:00
38  0001-01-01 00:00:00       2008-05-22  2008-05-27 00:00:00
39  0001-01-01 00:00:00       2008-02-22  2008-02-26 00:00:00
40  0001-01-01 00:00:00       2007-11-21  2007-11-23 00:00:00
41  0001-01-01 00:00:00       2007-08-21  2007-08-23 00:00:00
42  0001-01-01 00:00:00       2007-05-23  2007-05-26 00:00:00
43  0001-01-01 00:00:00       2007-02-22  2007-02-26 00:00:00
44  0001-01-01 00:00:00       2006-11-22  2006-11-27 00:00:00
45  0001-01-01 00:00:00       2006-08-23  2006-08-25 00:00:00
46  0001-01-01 00:00:00       2006-05-24  2006-05-29 00:00:00
47  0001-01-01 00:00:00       2006-02-21  2006-02-23 00:00:00
48  0001-01-01 00:00:00       2005-11-17  2005-11-21 00:00:00
49  0001-01-01 00:00:00       2005-08-24  2005-08-26 00:00:00
50  0001-01-01 00:00:00       2005-05-17  2005-05-19 00:00:00
51  0001-01-01 00:00:00       2005-02-23  2005-02-25 00:00:00
52  0001-01-01 00:00:00       2004-11-10  2004-11-15 00:00:00
53  0001-01-01 00:00:00       2004-08-11  2004-08-13 00:00:00
54  0001-01-01 00:00:00       2004-05-20  2004-05-24 00:00:00
55  0001-01-01 00:00:00       2004-01-23  0001-01-01 00:00:00
56  0001-01-01 00:00:00       2003-10-23  0001-01-01 00:00:00
57  0001-01-01 00:00:00       2003-07-23  0001-01-01 00:00:00
58  0001-01-01 00:00:00       2003-04-23  2003-04-25 00:00:00
59  0001-01-01 00:00:00       2003-01-23  2003-01-27 00:00:00
60  0001-01-01 00:00:00       2002-10-23  2002-10-25 00:00:00
61  0001-01-01 00:00:00       2002-07-23  2002-07-25 00:00:00
62  0001-01-01 00:00:00       2002-04-25  2002-04-25 00:00:00
63  0001-01-01 00:00:00       2002-01-23  2002-01-25 00:00:00
64  0001-01-01 00:00:00       2001-10-23  2001-10-25 00:00:00
65  0001-01-01 00:00:00       2001-07-24  2001-07-26 00:00:00
66  0001-01-01 00:00:00       2001-04-25  2001-04-27 00:00:00
67  0001-01-01 00:00:00       2001-01-21  2001-01-26 00:00:00
68  0001-01-01 00:00:00       2000-10-24  2000-10-26 00:00:00
69  0001-01-01 00:00:00       2000-07-20  2000-07-24 00:00:00
70  0001-01-01 00:00:00       2000-04-25  2000-04-27 00:00:00
71  0001-01-01 00:00:00       2000-01-26  2000-01-28 00:00:00
72  0001-01-01 00:00:00       1999-10-22  1999-10-26 00:00:00
73  0001-01-01 00:00:00       1999-07-23  1999-07-27 00:00:00
74  0001-01-01 00:00:00       1999-04-23  1999-04-26 00:00:00
75  0001-01-01 00:00:00       1999-01-21  1999-01-25 00:00:00
76  0001-01-01 00:00:00       1998-10-22  1998-10-26 00:00:00
77  0001-01-01 00:00:00       1998-07-23  1998-07-27 00:00:00
78  0001-01-01 00:00:00       1998-04-23  1998-04-27 00:00:00
79  0001-01-01 00:00:00       1998-01-22  1998-01-26 00:00:00
80  0001-01-01 00:00:00       1997-10-27  1997-10-27 00:00:00
81  0001-01-01 00:00:00       1997-07-29  1997-07-25 00:00:00
82  0001-01-01 00:00:00       1997-04-23  1997-04-25 00:00:00

               pay_date  frequency  amount  adj_amount
0   2022-09-14 00:00:00  Quarterly   0.600       0.600
1   2022-06-08 00:00:00  Quarterly   0.500       0.500
2   2022-03-10 00:00:00  Quarterly   0.900       0.900
3   2021-12-16 00:00:00  Quarterly   0.850       0.850
4   2021-09-20 00:00:00  Quarterly   0.500       0.500
5   2021-06-10 00:00:00  Quarterly   0.250       0.250
6   2020-03-19 00:00:00  Quarterly   0.050       0.050
7   2019-12-18 00:00:00  Quarterly   0.150       0.150
8   2019-09-12 00:00:00  Quarterly   0.100       0.100
9   2019-06-20 00:00:00  Quarterly   0.025       0.025
10  2019-03-21 00:00:00  Quarterly   0.050       0.050
11  2018-12-20 00:00:00  Quarterly   0.150       0.150
12  2018-09-20 00:00:00  Quarterly   0.100       0.100
13  2018-06-28 00:00:00  Quarterly   0.100       0.100
14  2018-03-22 00:00:00  Quarterly   0.100       0.100
15  2014-12-10 00:00:00  Quarterly   0.050       0.250
16  2014-09-10 00:00:00  Quarterly   0.200       1.000
17  2014-06-05 00:00:00  Quarterly   0.200       1.000
18  2014-03-06 00:00:00  Quarterly   0.175       0.875
19  2013-12-10 00:00:00  Quarterly   0.175       0.875
20  2013-09-10 00:00:00  Quarterly   0.175       0.875
21  2013-06-05 00:00:00  Quarterly   0.175       0.875
22  2013-03-06 00:00:00  Quarterly   0.175       0.875
23  2012-12-12 00:00:00  Quarterly   0.175       0.875
24  2012-09-12 00:00:00  Quarterly   0.175       0.875
25  2012-06-06 00:00:00  Quarterly   0.350       1.750
26  2012-03-08 00:00:00  Quarterly   0.500       2.500
27  2011-12-02 00:00:00  Quarterly   0.500       2.500
28  2011-09-14 00:00:00  Quarterly   0.500       2.500
29  2011-06-09 00:00:00  Quarterly   0.500       2.500
30  2011-03-03 00:00:00  Quarterly   0.500       2.500
31  2010-12-06 00:00:00  Quarterly   0.500       2.500
32  2010-09-07 00:00:00  Quarterly   0.500       2.500
33  2010-06-07 00:00:00  Quarterly   0.400       2.000
34  2010-03-04 00:00:00     Annual   0.300       1.500
35  2009-03-02 00:00:00      Other   0.250       1.250
36  2008-12-01 00:00:00  Quarterly   0.500       2.500
37  2008-09-09 00:00:00  Quarterly   0.750       3.750
38  2008-06-09 00:00:00  Quarterly   0.750       3.750
39  2008-03-07 00:00:00      Other   0.750       3.750
40  2007-12-07 00:00:00  Quarterly   0.500       2.500
41  2007-09-07 00:00:00  Quarterly   0.600       3.000
42  2007-06-11 00:00:00  Quarterly   0.600       3.000
43  2007-03-09 00:00:00      Other   0.800       4.000
44  2006-12-07 00:00:00  Quarterly   1.000       5.000
45  2006-09-08 00:00:00  Quarterly   0.800       4.000
46  2006-06-12 00:00:00  Quarterly   1.000       5.000
47  2006-03-09 00:00:00      Other   0.800       4.000
48  2005-12-05 00:00:00  Quarterly   0.500       2.500
49  2005-09-06 00:00:00  Quarterly   0.800       4.000
50  2005-06-01 00:00:00  Quarterly   1.500       7.500
51  2005-03-11 00:00:00      Other   1.750       8.750
52  2004-11-29 00:00:00  Quarterly   1.000       5.000
53  2004-08-27 00:00:00  Quarterly   0.750       3.750
54  2004-06-07 00:00:00  Quarterly   2.000      10.000
55  2004-02-10 00:00:00      Other   0.800       4.000
56  2003-11-10 00:00:00  Quarterly   0.450       2.250
57  2003-08-08 00:00:00  Quarterly   0.650       3.250
58  2003-05-08 00:00:00  Quarterly   1.190       5.950
59  2003-02-07 00:00:00      Other   0.450       2.250
60  2002-11-07 00:00:00  Quarterly   0.450       2.250
61  2002-08-07 00:00:00  Quarterly   0.450       2.250
62  2002-05-08 00:00:00  Quarterly   0.450       2.250
63  2002-02-08 00:00:00      Other   0.460       2.300
64  2001-11-08 00:00:00  Quarterly   0.450       2.250
65  2001-08-09 00:00:00  Quarterly   0.720       3.600
66  2001-05-11 00:00:00  Quarterly   1.390       6.950
67  2001-02-09 00:00:00      Other   1.680       8.400
68  2000-11-08 00:00:00  Quarterly   1.170       5.850
69  2000-08-07 00:00:00  Quarterly   0.610       3.050
70  2000-05-12 00:00:00  Quarterly   0.440       2.200
71  2000-02-11 00:00:00  Quarterly   0.440       2.200
72  1999-11-10 00:00:00      Other   0.450       2.250
73  1999-08-11 00:00:00  Quarterly   0.450       2.250
74  1999-05-11 00:00:00  Quarterly   0.450       2.250
75  1999-02-09 00:00:00  Quarterly   0.450       2.250
76  1998-11-10 00:00:00      Other   0.530       2.650
77  1998-08-11 00:00:00  Quarterly   0.630       3.150
78  1998-05-12 00:00:00  Quarterly   0.450       2.250
79  0001-01-01 00:00:00  Quarterly   0.750       3.750
80  1997-11-13 00:00:00  Quarterly   0.640       3.200
81  1997-08-11 00:00:00  Quarterly   0.450       2.250
82  1997-05-09 00:00:00  Quarterly   0.170       0.850  )

# Analyse High Dividend Stocks

In [6]:
def from_epoch_time(value) -> datetime:
    return pd.to_datetime(value, unit="s")

In [7]:
COUNTRY = "united states"

STOCK_FILE = "data/stock.xlsx"
SHEET_NAME_STOCK = "stock"

STOCK_INFO_FILE = "data/stock_info.xlsx"
SHEET_NAME_STOCK_INFO = "stock_info"

STOCK_STATS_FILE = "data/stock_stats.xlsx"
SHEET_NAME_STOCK_STATS = "stock_stats"

STOCK_DIVIDEND_FILE = "data/stock_dividends.xlsx"
SHEET_NAME_STOCK_DIVIDEND = "stock_dividends"

In [8]:
df_stock = pd.read_excel(STOCK_FILE, sheet_name=SHEET_NAME_STOCK, engine="openpyxl")
df_stock_info = pd.read_excel(STOCK_INFO_FILE, sheet_name=SHEET_NAME_STOCK_INFO, engine="openpyxl")
df_stock_stats = pd.read_excel(STOCK_STATS_FILE, sheet_name=SHEET_NAME_STOCK_STATS, engine="openpyxl")
df_stock_dividend = pd.read_excel(STOCK_DIVIDEND_FILE, sheet_name=SHEET_NAME_STOCK_DIVIDEND, engine="openpyxl")

In [9]:
# Convert field names to lower case
df_stock = df_stock.rename(columns=str.lower)
df_stock_info = df_stock_info.rename(columns=str.lower)
df_stock_stats = df_stock_stats.rename(columns=str.lower)
df_stock_dividend = df_stock_dividend.rename(columns=str.lower)

In [10]:
df_stock_stats["lastdividenddate"] = df_stock_stats["lastdividenddate"].apply(from_epoch_time)

In [11]:
df_yield = df_stock_stats.sort_values(by=["fiveyearavgdividendyield"], ascending=False)[["symbol","name","sector","fiveyearavgdividendyield", "lastdividendvalue", "lastdividenddate", "threeyearaveragereturn", "fiveyearaveragereturn" ]]

In [12]:
df_high_yield = df_yield[df_yield["lastdividenddate"].dt.year == 2022]
df_high_yield.head(15)

,symbol,name,sector,fiveyearavgdividendyield,lastdividendvalue,lastdividenddate,threeyearaveragereturn,fiveyearaveragereturn
1439,CEN,Center Coast Brookfield MLP & E,Financial Services,24.95,0.225,2022-09-13,NaN,NaN
1530,CHKR,CHESAPEAKE GRANITE WASH TR,Energy,22.62,0.085,2022-08-18,NaN,NaN
5335,NTG,"Tortoise Midstream Energy Fund,",Financial Services,20.49,0.770,2022-08-23,NaN,NaN
2893,FMO,Fiduciary/Claymore Energy Infra,Financial Services,20.12,0.245,2022-02-14,NaN,NaN
1617,CLM,111422,Financial Services,19.93,0.181,2022-09-14,NaN,NaN
1828,CRF,33138,Financial Services,19.61,0.173,2022-09-14,NaN,NaN
5632,OXLC,Oxford Lane Capital Corp.,Financial Services,18.62,0.075,2022-09-15,NaN,NaN
4092,IVR,INVESCO MORTGAGE CAPITAL INC,Real Estate,18.20,0.900,2022-07-08,NaN,NaN
5575,ORC,"Orchid Island Capital, Inc.",Real Estate,18.03,0.160,2022-08-30,NaN,NaN
2340,ECTM,ECA Marcellus Trust I,Energy,17.98,0.176,2022-08-18,NaN,NaN
3185,GER,Goldman Sachs MLP Energy Renais,Financial Services,17.18,0.175,2022-08-22,NaN,NaN
3172,GECC,Great Elm Capital Corp.,Financial Services,16.68,0.450,2022-09-14,NaN,NaN
2343,EDF,Stone Harbor Emerging Markets I,Financial Services,16.54,0.060,2022-09-12,NaN,NaN
4855,MMLP,Martin Midstream Partners L.P.,Energy,16.28,0.005,2022-08-04,NaN,NaN
5049,MVO,MV Oil Trust,Energy,15.44,0.700,2022-07-14,NaN,NaN

In [13]:
symbols = df_high_yield["symbol"].head(15).tolist()

# By Sector

In [14]:
df_yield_sector = df_stock_stats.sort_values(by=["sector", "fiveyearavgdividendyield"], ascending=False)[["symbol","name", "sector", "fiveyearavgdividendyield", "lastdividendvalue", "lastdividenddate" ]]
df_yield_sector = df_yield_sector[ (df_yield_sector["lastdividenddate"].dt.year == 2022) & (df_yield_sector["fiveyearavgdividendyield"].notnull())]

In [15]:
df_yield_sector.groupby(by=["sector"]).head(2)

,symbol,name,sector,fiveyearavgdividendyield,lastdividendvalue,lastdividenddate
6937,SPH,"Suburban Propane Partners, L.P.",Utilities,11.04,0.3250,2022-08-01
3290,GNE-PA,Genie Energy Ltd. Series 2012 -,Utilities,7.67,0.1594,2022-08-05
4813,MINDP,"MIND Technology, Inc. - Series",Technology,11.15,0.5630,2022-04-13
5378,NVEC,NVE Corporation,Technology,5.85,1.0000,2022-07-29
4092,IVR,INVESCO MORTGAGE CAPITAL INC,Real Estate,18.20,0.9000,2022-07-08
5575,ORC,"Orchid Island Capital, Inc.",Real Estate,18.03,0.1600,2022-08-30
2002,CWPS,CONWEST PARTNERSHIP PART UNITS,Industrials,15.42,1.5440,2022-07-14
7684,USDP,USD Partners LP,Industrials,14.97,0.1240,2022-08-02
5003,MTBCP,"CareCloud, Inc. - 11% Series A",Healthcare,10.34,0.2290,2022-08-30
2020,CYCCP,"Cyclacel Pharmaceuticals, Inc.",Healthcare,9.30,0.1500,2022-07-14
1439,CEN,Center Coast Brookfield MLP & E,Financial Services,24.95,0.2250,2022-09-13
5335,NTG,"Tortoise Midstream Energy Fund,",Financial Services,20.49,0.7700,2022-08-23
1530,CHKR,CHESAPEAKE GRANITE WASH TR,Energy,22.62,0.0850,2022-08-18
2340,ECTM,ECA Marcellus Trust I,Energy,17.98,0.1760,2022-08-18
7777,VGR,Vector Group Ltd.,Consumer Defensive,9.63,0.2000,2022-09-14
937,BGS,"B&G Foods, Inc. B&G Foods, Inc.",Consumer Defensive,7.50,0.4750,2022-06-29
2729,FCNE,FOUR CORNERS INC,Consumer Cyclical,15.15,0.0500,2022-09-07
932,BGFV,Big 5 Sporting Goods Corporatio,Consumer Cyclical,7.97,0.2500,2022-08-31
5116,NCMI,"National CineMedia, Inc.",Communication Services,11.22,0.0300,2022-08-19
4577,LUMN,"Lumen Technologies, Inc.",Communication Services,10.43,0.2500,2022-08-29
4972,MSB,Mesabi Trust,Basic Materials,10.94,0.8400,2022-07-28
8032,WLKP,Westlake Chemical Partners LP,Basic Materials,7.56,0.4710,2022-08-10

Stocks to track
- PBR-A
- PBR
- GOGL
- ORC - monthly
- OXLC - monthly