In [1]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.display import display
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np
import time
from datetime import datetime, timezone

In [4]:
%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_seq_items', 500)
pd.set_option("display.max_colwidth", None)

# Analyse High-Yield Dividend Stocks

In [5]:
from alphalib.analysis.dividend_yield import recommend_stocks

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/alpha2phi/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [6]:
rec_stocks = recommend_stocks()

2022-10-25 11:39:15,952 - [ dividend_yield.py:54 - recommend_stocks() - INFO ] Analyze stocks by sector
2022-10-25 11:39:15,965 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for SPH
2022-10-25 11:39:22,700 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MINDP
2022-10-25 11:39:28,557 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for IVR
2022-10-25 11:39:33,797 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ORC
2022-10-25 11:39:37,802 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for WMC
2022-10-25 11:39:42,248 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for BVERS
2022-10-25 11:40:05,372 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for BVERS
2022-10-25 11:40:05,704 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MITT
2022-10-25 11:40:11,025 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NYMT
2022-10-25 11:40:15,102 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CHMI
2022-10-25 11:40:19,667 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ARR
2022-10-25 11:40:23,561 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MFA
2022-10-25 11:40:27,904 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for EARN
2022-10-25 11:40:31,868 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CIM
2022-10-25 11:40:36,089 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for TWO
2022-10-25 11:40:40,297 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ARI
2022-10-25 11:40:44,303 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NLY
2022-10-25 11:40:48,420 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for AGNC
2022-10-25 11:40:52,468 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for DX
2022-10-25 11:40:56,579 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for RC
2022-10-25 11:41:00,853 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for OPI
2022-10-25 11:41:04,863 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for LFT
2022-10-25 11:41:09,264 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GNL
2022-10-25 11:41:13,822 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for SACH
2022-10-25 11:41:17,711 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for PMT
2022-10-25 11:41:40,816 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for PMT
2022-10-25 11:41:41,265 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ACR-PC
2022-10-25 11:42:07,800 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ACR-PC
2022-10-25 11:42:08,146 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CWPS
2022-10-25 11:42:32,166 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for CWPS
2022-10-25 11:42:32,494 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for USDP
2022-10-25 11:42:36,578 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for IEP
2022-10-25 11:42:41,281 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MMTRS
2022-10-25 11:43:04,241 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for MMTRS
2022-10-25 11:43:04,582 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MTBCP
2022-10-25 11:43:27,847 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for MTBCP
2022-10-25 11:43:28,189 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CEN
2022-10-25 11:43:32,907 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NTG
2022-10-25 11:43:38,028 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FMO
2022-10-25 11:44:02,576 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for FMO
2022-10-25 11:44:02,932 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CLM
2022-10-25 11:44:07,231 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CRF
2022-10-25 11:44:11,385 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for OXLC
2022-10-25 11:44:15,139 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GER
2022-10-25 11:44:18,917 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GECC
2022-10-25 11:44:23,538 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for EDF
2022-10-25 11:44:46,964 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for EDF
2022-10-25 11:44:48,373 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for OXSQ
2022-10-25 11:44:54,303 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for EDI
2022-10-25 11:45:17,548 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for EDI
2022-10-25 11:45:17,951 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ICMB
2022-10-25 11:45:22,192 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FCRD
2022-10-25 11:45:26,912 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for EMO
2022-10-25 11:45:30,341 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FSK
2022-10-25 11:45:34,028 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for OFS
2022-10-25 11:45:38,694 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for BKCC
2022-10-25 11:45:42,130 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for RIV
2022-10-25 11:45:45,348 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for OPP
2022-10-25 11:45:49,328 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FTF
2022-10-25 11:45:53,710 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MRCC
2022-10-25 11:45:58,624 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for VGI
2022-10-25 11:46:02,940 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FGB
2022-10-25 11:46:06,461 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ACV
2022-10-25 11:46:29,699 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ACV
2022-10-25 11:46:30,140 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GLV
2022-10-25 11:46:34,104 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for RA
2022-10-25 11:46:39,566 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GLO
2022-10-25 11:46:44,080 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for JQC
2022-10-25 11:46:55,990 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FEN
2022-10-25 11:46:59,979 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NCV
2022-10-25 11:47:04,814 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FPL
2022-10-25 11:47:28,105 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for FPL
2022-10-25 11:47:28,513 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NCZ
2022-10-25 11:47:32,334 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GOF
2022-10-25 11:47:55,203 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for GOF
2022-10-25 11:47:56,588 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for PSEC
2022-10-25 11:48:01,763 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FEI
2022-10-25 11:48:05,642 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GLQ
2022-10-25 11:48:28,872 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for GLQ
2022-10-25 11:48:29,311 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GGN
2022-10-25 11:48:33,293 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for AFSIM
2022-10-25 11:48:55,880 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for AFSIM
2022-10-25 11:48:56,218 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CUBA
2022-10-25 11:49:00,215 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for AFSIC
2022-10-25 11:49:23,361 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for AFSIC
2022-10-25 11:49:23,676 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for PHK
2022-10-25 11:49:28,106 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for DMO
2022-10-25 11:49:32,001 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for EOD
2022-10-25 11:49:56,087 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for EOD
2022-10-25 11:49:56,523 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for AFSIP
2022-10-25 11:50:19,495 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for AFSIP
2022-10-25 11:50:19,821 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for PNNT
2022-10-25 11:50:24,420 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for TPVG
2022-10-25 11:50:28,225 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for AFSIB
2022-10-25 11:50:51,130 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for AFSIB
2022-10-25 11:50:51,463 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for SRV
2022-10-25 11:50:57,367 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for TTP
2022-10-25 11:51:01,465 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for WHF
2022-10-25 11:51:05,735 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for HIE
2022-10-25 11:51:09,810 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for EFC
2022-10-25 11:51:13,806 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for HTY
2022-10-25 11:51:36,884 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for HTY
2022-10-25 11:51:37,335 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CGBD
2022-10-25 11:51:41,195 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for TCPC
2022-10-25 11:51:45,364 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for PGP
2022-10-25 11:52:08,311 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for PGP
2022-10-25 11:52:08,770 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NMFC
2022-10-25 11:52:12,443 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FEO
2022-10-25 11:52:35,372 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for FEO
2022-10-25 11:52:35,842 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for SCM
2022-10-25 11:52:39,962 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for AFSIA
2022-10-25 11:53:02,847 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for AFSIA
2022-10-25 11:53:03,182 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MCN
2022-10-25 11:53:07,528 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for SZC
2022-10-25 11:53:30,357 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for SZC
2022-10-25 11:53:30,802 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for HEQ
2022-10-25 11:53:53,681 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for HEQ
2022-10-25 11:53:54,104 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FDUS
2022-10-25 11:53:59,220 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for USA
2022-10-25 11:54:03,385 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for BCV
2022-10-25 11:54:07,104 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for DPG
2022-10-25 11:54:11,339 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NEWT
2022-10-25 11:54:15,133 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NRO
2022-10-25 11:54:38,041 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for NRO
2022-10-25 11:54:38,493 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ERC
2022-10-25 11:54:43,458 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MFD
2022-10-25 11:54:47,862 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CHKR
2022-10-25 11:55:12,168 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for CHKR
2022-10-25 11:55:12,507 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ECTM
2022-10-25 11:55:35,287 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ECTM
2022-10-25 11:55:35,620 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MMLP
2022-10-25 11:55:39,857 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MVO
2022-10-25 11:55:43,493 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for TTYP
2022-10-25 11:56:06,165 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for TTYP
2022-10-25 11:56:06,491 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for USAC
2022-10-25 11:56:30,745 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for USAC
2022-10-25 11:56:31,213 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for VOC
2022-10-25 11:56:44,160 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for SRLP
2022-10-25 11:57:07,448 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for SRLP
2022-10-25 11:57:07,884 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for PVL
2022-10-25 11:57:12,178 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for ENLC
2022-10-25 11:57:35,731 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ENLC
2022-10-25 11:57:36,195 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NS
2022-10-25 11:57:40,102 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CAPL
2022-10-25 11:57:43,533 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for DCP
2022-10-25 11:57:47,539 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for PBFX
2022-10-25 11:57:51,157 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for AM
2022-10-25 11:57:54,756 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GLP
2022-10-25 11:58:18,833 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for GLP
2022-10-25 11:58:19,406 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GEL
2022-10-25 11:58:23,464 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for SUN
2022-10-25 11:58:27,318 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for CEQP
2022-10-25 11:58:31,273 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for GPP
2022-10-25 11:58:35,268 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for DKL
2022-10-25 11:58:39,305 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for WES
2022-10-25 11:59:02,501 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for WES
2022-10-25 11:59:02,954 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for SHLX
2022-10-25 11:59:27,219 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for SHLX
2022-10-25 11:59:27,703 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for DMLP
2022-10-25 11:59:50,808 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for DMLP
2022-10-25 11:59:51,271 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for FCNE
2022-10-25 12:00:14,181 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for FCNE
2022-10-25 12:00:14,516 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for NCMI
2022-10-25 12:00:18,800 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for LUMN
2022-10-25 12:00:23,510 - [ dividend_yield.py:81 - recommend_stocks() - INFO ] Getting info for MSB
2022-10-25 12:00:29,027 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for PBR
2022-10-25 12:00:32,910 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for PBR-A
2022-10-25 12:00:56,467 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for PBR-A
2022-10-25 12:00:56,927 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for SNPTY
2022-10-25 12:01:20,170 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for SNPTY
2022-10-25 12:01:20,490 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for AMKBY
2022-10-25 12:01:43,416 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for AMKBY
2022-10-25 12:01:44,683 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for ISNPY
2022-10-25 12:02:07,791 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ISNPY
2022-10-25 12:02:08,132 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for NRDBY
2022-10-25 12:02:31,358 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for NRDBY
2022-10-25 12:02:31,883 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for ELP
2022-10-25 12:02:55,480 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ELP
2022-10-25 12:02:55,946 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for NLY
2022-10-25 12:03:00,319 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for BAK
2022-10-25 12:03:04,296 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for AGNC
2022-10-25 12:03:08,585 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for ZIM
2022-10-25 12:03:12,710 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for SBLK
2022-10-25 12:03:16,093 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for CCU
2022-10-25 12:03:20,913 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for GOGL
2022-10-25 12:03:25,535 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for CLM
2022-10-25 12:03:30,119 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for CIM
2022-10-25 12:03:33,957 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for PMT
2022-10-25 12:03:57,047 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for PMT
2022-10-25 12:03:57,494 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for HIMX
2022-10-25 12:04:01,993 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for MFA
2022-10-25 12:04:06,489 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for CRF
2022-10-25 12:04:10,853 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for BRMK
2022-10-25 12:04:15,320 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for EGLE
2022-10-25 12:04:19,431 - [ dividend_yield.py:99 - recommend_stocks() - INFO ] Getting info for LPG

In [8]:
for s in rec_stocks:
    df = s.to_df()
    
    display(df)
    print("\n")
    print(s.yfinance_url)
    display(df[["sector", "trailing_annual_dividend_yield", "dividend_yield_pct", "earnings_date", "current_price", "fifty_two_week_low", "fifty_two_week_high", "sentiment_score"]].T)
    display(s.dividend_history.head(10))
    
    print("\n\n\n")

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ZIM Dividend History,ZIM,2022-08-26,46.28,19.0,0.47,https://www.nasdaq.com/market-activity/stocks/zim/dividend-history,ZIM Integrated Shipping Service,NYQ,Industrials,None,24.09,22.53,91.23,None,2022-11-15 21:30:00,2022-09-08 08:00:00,2022-08-26 08:00:00,8.06,2.988834,51.72,0.465777,-0.01,0.551688,4778290176,1.78513,86.713,0.210359,0.4321,1.1488,27.1,27.1,1.148792,https://finance.yahoo.com/quote/ZIM/key-statistics?p=ZIM,0.084369,yahoo_finance,https://seekingalpha.com/symbol/ZIM

https://finance.yahoo.com/quote/ZIM/key-statistics?p=ZIM

                                                  0
sector                                  Industrials
trailing_annual_dividend_yield             1.148792
dividend_yield_pct                            46.28
earnings_date                   2022-11-15 21:30:00
current_price                                 24.09
fifty_two_week_low                            22.53
fifty_two_week_high                           91.23
sentiment_score                            0.084369

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-26  CASH         4.75       2022-08-17  2022-08-29   2022-09-08
1  2022-05-27  CASH         2.85       2022-05-18  2022-05-31   2022-06-08
2  2022-03-22  CASH        17.00       2022-03-09  2022-03-23   2022-04-04
3  2021-12-15  CASH         2.50       2021-11-17  2021-12-16   2021-12-27
4  2021-08-24  CASH         2.00       2021-05-19  2021-08-25   2021-09-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NCMI Dividend History,NCMI,2022-08-19,29.7,0.12,0.0,https://www.nasdaq.com/market-activity/stocks/ncmi/dividend-history,"National CineMedia, Inc.",NMS,Communication Services,1.927781,0.4,0.3915,3.93,11.42,2022-11-07 18:59:00,2022-09-06 08:00:00,2022-08-19 08:00:00,0.08,5,-0.677,None,0.26,None,-47200000,None,None,0.165265,None,0.2862,0.12,0.16,0.39604,https://finance.yahoo.com/quote/NCMI/key-statistics?p=NCMI,-0.036075,dataset,https://seekingalpha.com/symbol/NCMI

https://finance.yahoo.com/quote/NCMI/key-statistics?p=NCMI

                                                     0
sector                          Communication Services
trailing_annual_dividend_yield                 0.39604
dividend_yield_pct                                29.7
earnings_date                      2022-11-07 18:59:00
current_price                                      0.4
fifty_two_week_low                              0.3915
fifty_two_week_high                               3.93
sentiment_score                              -0.036075

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-19  CASH         0.03       2022-08-08  2022-08-22   2022-09-06
1  2022-05-20  CASH         0.03       2022-05-09  2022-05-23   2022-06-07
2  2022-03-16  CASH         0.05       2022-03-03  2022-03-17   2022-03-31
3  2021-11-19  CASH         0.05       2021-11-08  2021-11-22   2021-12-07
4  2021-08-20  CASH         0.05       2021-08-09  2021-08-23   2021-09-06
5  2021-05-20  CASH         0.05       2021-05-10  2021-05-21   2021-06-07
6  2021-03-19  CASH         0.05       2021-03-08  2021-03-22   2021-04-05
7  2020-11-13  CASH         0.07       2020-11-02  2020-11-16   2020-12-01
8  2020-08-14  CASH         0.07       2020-08-03  2020-08-17   2020-08-31
9  2020-05-15  CASH         0.07       2020-05-05  2020-05-18   2020-06-01

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ORC Dividend History,ORC,2022-09-29,23.36,1.92,0.0,https://www.nasdaq.com/market-activity/stocks/orc/dividend-history,"Orchid Island Capital, Inc.",NYQ,Real Estate,1.488577,9.51,7.95,25.2,18.36,2022-10-28 04:00:00,2022-11-28 08:00:00,2022-09-29 08:00:00,2.6,3.657692,-1.28,None,None,0.662026,None,-0.42897,750.959,-1.530959,None,0.199,1.92,3.4,0.352332,https://finance.yahoo.com/quote/ORC/key-statistics?p=ORC,0.012755,dataset,https://seekingalpha.com/symbol/ORC

https://finance.yahoo.com/quote/ORC/key-statistics?p=ORC

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.352332
dividend_yield_pct                            23.36
earnings_date                   2022-10-28 04:00:00
current_price                                  9.51
fifty_two_week_low                             7.95
fifty_two_week_high                            25.2
sentiment_score                            0.012755

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH        0.160       2022-09-12  2022-09-30   2022-10-27
1  2022-08-30  CASH        0.160       2022-08-17  2022-08-31   2022-09-28
2  2022-07-28  CASH        0.045       2022-07-13  2022-07-29   2022-08-29
3  2022-06-29  CASH        0.045       2022-06-14  2022-06-30   2022-07-27
4  2022-05-27  CASH        0.045       2022-05-11  2022-05-31   2022-06-28
5  2022-04-28  CASH        0.045       2022-04-13  2022-04-29   2022-05-27
6  2022-03-30  CASH        0.045       2022-03-16  2022-03-31   2022-04-27
7  2022-02-25  CASH        0.055       2022-02-16  2022-02-28   2022-03-29
8  2022-01-28  CASH        0.055       2022-01-13  2022-01-31   2022-02-24
9  2021-12-30  CASH        0.065       2021-12-09  2021-12-31   2022-01-27

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ORC Dividend History,ORC,2022-09-29,23.36,1.92,0.0,https://www.nasdaq.com/market-activity/stocks/orc/dividend-history,"Orchid Island Capital, Inc.",NYQ,Real Estate,1.488577,9.51,7.95,25.2,18.36,2022-10-28 04:00:00,2022-11-28 08:00:00,2022-09-29 08:00:00,2.6,3.657692,-1.28,None,None,0.662026,None,-0.42897,750.959,-1.530959,None,0.199,1.92,3.4,0.352332,https://finance.yahoo.com/quote/ORC/key-statistics?p=ORC,0.012755,yahoo_finance,https://seekingalpha.com/symbol/ORC

https://finance.yahoo.com/quote/ORC/key-statistics?p=ORC

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.352332
dividend_yield_pct                            23.36
earnings_date                   2022-10-28 04:00:00
current_price                                  9.51
fifty_two_week_low                             7.95
fifty_two_week_high                            25.2
sentiment_score                            0.012755

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH        0.160       2022-09-12  2022-09-30   2022-10-27
1  2022-08-30  CASH        0.160       2022-08-17  2022-08-31   2022-09-28
2  2022-07-28  CASH        0.045       2022-07-13  2022-07-29   2022-08-29
3  2022-06-29  CASH        0.045       2022-06-14  2022-06-30   2022-07-27
4  2022-05-27  CASH        0.045       2022-05-11  2022-05-31   2022-06-28
5  2022-04-28  CASH        0.045       2022-04-13  2022-04-29   2022-05-27
6  2022-03-30  CASH        0.045       2022-03-16  2022-03-31   2022-04-27
7  2022-02-25  CASH        0.055       2022-02-16  2022-02-28   2022-03-29
8  2022-01-28  CASH        0.055       2022-01-13  2022-01-31   2022-02-24
9  2021-12-30  CASH        0.065       2021-12-09  2021-12-31   2022-01-27

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,LPG Dividend History,LPG,2022-08-12,28.55,0,7.09,https://www.nasdaq.com/market-activity/stocks/lpg/dividend-history,Dorian LPG Ltd.,NYQ,Energy,1.098378,16.02,10.77,18.5,None,2022-11-01 20:30:00,2022-09-02 08:00:00,2022-08-12 08:00:00,1.77,9.050848,2.26,7.088496,0.52,0.761515,130039400,0.10198,78.575,2.259372,1.9912,0.353,5.5,5.5,0.348985,https://finance.yahoo.com/quote/LPG/key-statistics?p=LPG,0.170667,yahoo_finance,https://seekingalpha.com/symbol/LPG

https://finance.yahoo.com/quote/LPG/key-statistics?p=LPG

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.348985
dividend_yield_pct                            28.55
earnings_date                   2022-11-01 20:30:00
current_price                                 16.02
fifty_two_week_low                            10.77
fifty_two_week_high                            18.5
sentiment_score                            0.170667

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-12  CASH          1.0       2022-08-03  2022-08-15   2022-09-02
1  2022-05-13  CASH          2.5       2022-05-04  2022-05-16   2022-06-02
2  2022-01-13  CASH          1.0       2022-01-04  2022-01-14   2022-01-25
3  2021-08-06  CASH          1.0       2021-07-30  2021-08-09   2021-09-08

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SBLK Dividend History,SBLK,2022-08-24,34.29,6.6,2.18,https://www.nasdaq.com/market-activity/stocks/sblk/dividend-history,Star Bulk Carriers Corp.,NMS,Industrials,1.053058,18.98,16.85,33.99,None,2022-11-17 05:00:00,2022-09-08 08:00:00,2022-08-24 08:00:00,3.88,4.891752,8.74,2.171625,-0.18,0.925899,663366848,0.46147,67.47,1.150704,0.6407,0.3403,6.55,6.55,0.34026,https://finance.yahoo.com/quote/SBLK/key-statistics?p=SBLK,0.102407,yahoo_finance,https://seekingalpha.com/symbol/SBLK

https://finance.yahoo.com/quote/SBLK/key-statistics?p=SBLK

                                                  0
sector                                  Industrials
trailing_annual_dividend_yield              0.34026
dividend_yield_pct                            34.29
earnings_date                   2022-11-17 05:00:00
current_price                                 18.98
fifty_two_week_low                            16.85
fifty_two_week_high                           33.99
sentiment_score                            0.102407

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-24  CASH         1.65       2022-08-04  2022-08-25   2022-09-08
1  2022-06-02  CASH         1.65       2022-05-24  2022-06-03   2022-06-16
2  2022-03-01  CASH         2.00       2022-02-16  2022-03-02   2022-03-15
3  2021-12-09  CASH         1.25       2021-11-16  2021-12-10   2021-12-22
4  2021-08-20  CASH         0.70       2021-08-05  2021-08-23   2021-09-08
5  2021-05-27  CASH         0.30       2021-05-19  2021-05-31   2021-06-14
6  2020-02-28  CASH         0.05       2020-02-19  2020-03-02   2020-03-12
7  2019-11-29  CASH         0.05       2019-11-20  2019-12-02   2019-12-16

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,IVR Dividend History,IVR,2022-10-07,25.17,2.6,0.0,https://www.nasdaq.com/market-activity/stocks/ivr/dividend-history,INVESCO MORTGAGE CAPITAL INC,NYQ,Real Estate,1.488209,10.69,9.6,34,18.59,2022-11-03 04:00:00,2022-10-27 08:00:00,2022-10-07 08:00:00,4.08,2.620098,-11.585,None,-0.15,0.644753,None,-0.29571,343.923,-1.118124,None,0.2425,2.6,3.6,0.335821,https://finance.yahoo.com/quote/IVR/key-statistics?p=IVR,0.08456,dataset,https://seekingalpha.com/symbol/IVR

https://finance.yahoo.com/quote/IVR/key-statistics?p=IVR

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.335821
dividend_yield_pct                            25.17
earnings_date                   2022-11-03 04:00:00
current_price                                 10.69
fifty_two_week_low                              9.6
fifty_two_week_high                              34
sentiment_score                             0.08456

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-07  CASH         0.65       2022-09-28  2022-10-11   2022-10-27
1  2022-07-08  CASH         0.90       2022-06-27  2022-07-11   2022-07-27
2  2022-04-07  CASH         0.09       2022-03-28  2022-04-08   2022-04-27
3  2022-01-10  CASH         0.09       2021-12-27  2022-01-11   2022-01-27
4  2021-10-08  CASH         0.09       2021-09-28  2021-10-12   2021-10-26
5  2021-07-02  CASH         0.09       2021-06-23  2021-07-06   2021-07-27
6  2021-04-08  CASH         0.09       2021-03-26  2021-04-09   2021-04-27
7  2021-01-11  CASH         0.08       2020-12-28  2021-01-12   2021-01-26
8  2020-10-08  CASH         0.05       2020-09-30  2020-10-12   2020-10-27
9  2020-07-02  CASH         0.02       2020-06-17  2020-07-06   2020-07-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,IVR Dividend History,IVR,2022-10-07,25.17,2.6,0.0,https://www.nasdaq.com/market-activity/stocks/ivr/dividend-history,INVESCO MORTGAGE CAPITAL INC,NYQ,Real Estate,1.488209,10.69,9.6,34,18.59,2022-11-03 04:00:00,2022-10-27 08:00:00,2022-10-07 08:00:00,4.08,2.620098,-11.585,None,-0.15,0.644753,None,-0.29571,343.923,-1.118124,None,0.2425,2.6,3.6,0.335821,https://finance.yahoo.com/quote/IVR/key-statistics?p=IVR,0.08456,yahoo_finance,https://seekingalpha.com/symbol/IVR

https://finance.yahoo.com/quote/IVR/key-statistics?p=IVR

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.335821
dividend_yield_pct                            25.17
earnings_date                   2022-11-03 04:00:00
current_price                                 10.69
fifty_two_week_low                              9.6
fifty_two_week_high                              34
sentiment_score                             0.08456

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-07  CASH         0.65       2022-09-28  2022-10-11   2022-10-27
1  2022-07-08  CASH         0.90       2022-06-27  2022-07-11   2022-07-27
2  2022-04-07  CASH         0.09       2022-03-28  2022-04-08   2022-04-27
3  2022-01-10  CASH         0.09       2021-12-27  2022-01-11   2022-01-27
4  2021-10-08  CASH         0.09       2021-09-28  2021-10-12   2021-10-26
5  2021-07-02  CASH         0.09       2021-06-23  2021-07-06   2021-07-27
6  2021-04-08  CASH         0.09       2021-03-26  2021-04-09   2021-04-27
7  2021-01-11  CASH         0.08       2020-12-28  2021-01-12   2021-01-26
8  2020-10-08  CASH         0.05       2020-09-30  2020-10-12   2020-10-27
9  2020-07-02  CASH         0.02       2020-06-17  2020-07-06   2020-07-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,GOGL Dividend History,GOGL,2022-09-06,27.87,2.4,2.53,https://www.nasdaq.com/market-activity/stocks/gogl/dividend-history,Golden Ocean Group Limited,NMS,Industrials,1.369196,8.63,7.24,16.46,None,2022-11-30 18:59:00,2022-09-14 08:00:00,2022-09-06 08:00:00,18.8,0.459043,3.47,2.487032,None,0.894486,446609632,0.36823,69.431,1.288674,0.7925,0.2867,2.4,2.85,0.33101,https://finance.yahoo.com/quote/GOGL/key-statistics?p=GOGL,0.072032,yahoo_finance,https://seekingalpha.com/symbol/GOGL

https://finance.yahoo.com/quote/GOGL/key-statistics?p=GOGL

                                                  0
sector                                  Industrials
trailing_annual_dividend_yield              0.33101
dividend_yield_pct                            27.87
earnings_date                   2022-11-30 18:59:00
current_price                                  8.63
fifty_two_week_low                             7.24
fifty_two_week_high                           16.46
sentiment_score                            0.072032

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-09-06,CASH,0.600,2022-08-25 00:00:00,2022-09-07,2022-09-14 00:00:00
1,2022-05-31,CASH,0.500,2022-05-19 00:00:00,2022-06-01,2022-06-08 00:00:00
2,2022-03-02,CASH,0.900,2022-02-16 00:00:00,2022-03-03,2022-03-10 00:00:00
3,2021-12-08,CASH,0.850,2021-11-24 00:00:00,2021-12-09,2021-12-16 00:00:00
4,2021-09-09,CASH,0.500,2021-08-26 00:00:00,2021-09-10,2021-09-20 00:00:00
5,2021-06-02,CASH,0.250,2021-05-20 00:00:00,2021-06-03,2021-06-10 00:00:00
6,2020-03-05,CASH,0.050,2020-02-18 00:00:00,2020-03-06,2020-03-19 00:00:00
7,2019-12-02,CASH,0.150,2019-11-21 00:00:00,2019-12-03,2019-12-18 00:00:00
8,2019-08-29,CASH,0.100,2019-08-15 00:00:00,2019-08-30,2019-09-12 00:00:00
9,2019-06-05,CASH,0.025,2019-05-22 00:00:00,2019-06-06,2019-06-20 00:00:00

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ARR Dividend History,ARR,2022-10-14,25.64,1.2,0.0,https://www.nasdaq.com/market-activity/stocks/arr/dividend-history,"ARMOUR Residential REIT, Inc.",NYQ,Real Estate,1.134856,4.77,4.38,10.91,13.09,2022-10-24 18:59:00,2022-10-28 08:00:00,2022-10-14 08:00:00,1.11,4.297297,-1.544,None,-0.37,0.542354,None,-0.10745,688.456,-8.468199,None,0.2521,1.2,1.2,0.250522,https://finance.yahoo.com/quote/ARR/key-statistics?p=ARR,0.272324,dataset,https://seekingalpha.com/symbol/ARR

https://finance.yahoo.com/quote/ARR/key-statistics?p=ARR

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.250522
dividend_yield_pct                            25.64
earnings_date                   2022-10-24 18:59:00
current_price                                  4.77
fifty_two_week_low                             4.38
fifty_two_week_high                           10.91
sentiment_score                            0.272324

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-14  CASH          0.1       2022-09-27  2022-10-17   2022-10-28
1  2022-09-14  CASH          0.1       2022-08-24  2022-09-15   2022-09-29
2  2022-08-12  CASH          0.1       2022-07-27  2022-08-15   2022-08-29
3  2022-07-14  CASH          0.1       2022-06-24  2022-07-15   2022-07-29
4  2022-06-14  CASH          0.1       2022-05-23  2022-06-15   2022-06-29
5  2022-05-13  CASH          0.1       2022-04-26  2022-05-16   2022-05-27
6  2022-04-14  CASH          0.1       2022-03-25  2022-04-18   2022-04-29
7  2022-03-14  CASH          0.1       2022-02-15  2022-03-15   2022-03-28
8  2022-02-14  CASH          0.1       2022-01-31  2022-02-15   2022-02-28
9  2022-01-14  CASH          0.1       2021-12-27  2022-01-18   2022-01-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,GECC Dividend History,GECC,2022-09-14,19.05,1.8,0,https://www.nasdaq.com/market-activity/stocks/gecc/dividend-history,Great Elm Capital Corp.,NGM,Financial Services,1.528371,9.45,7.98,21.18,16.91,2022-11-03 20:30:00,2022-09-30 08:00:00,2022-09-14 08:00:00,1.4,6.75,-6.59,None,None,0.735981,-22827376,-0.36915,146.07,2.897065,None,0.1927,1.8,2.25,0.238095,https://finance.yahoo.com/quote/GECC/key-statistics?p=GECC,0.335567,dataset,https://seekingalpha.com/symbol/GECC

https://finance.yahoo.com/quote/GECC/key-statistics?p=GECC

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.238095
dividend_yield_pct                            19.05
earnings_date                   2022-11-03 20:30:00
current_price                                  9.45
fifty_two_week_low                             7.98
fifty_two_week_high                           21.18
sentiment_score                            0.335567

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-09-14 00:00:00,CASH,0.450,0001-01-01 00:00:00,2022-09-15,2022-09-30 00:00:00
1,2022-06-22 00:00:00,CASH,0.450,2022-05-11 00:00:00,2022-06-23,2022-06-30 00:00:00
2,2022-03-14 00:00:00,CASH,0.600,2022-03-04 00:00:00,2022-03-15,2022-03-30 00:00:00
3,2021-12-14 00:00:00,CASH,0.100,2021-11-19 00:00:00,2021-12-15,2021-12-30 00:00:00
4,2021-09-14 00:00:00,CASH,0.100,2021-08-23 00:00:00,2021-09-15,2021-09-30 00:00:00
5,2021-06-14 00:00:00,CASH,0.100,2021-05-21 00:00:00,2021-06-15,2021-06-30 00:00:00
6,2021-03-12 00:00:00,CASH,0.100,2021-02-24 00:00:00,2021-03-15,2021-03-31 00:00:00
7,2020-12-30 00:00:00,CASH,0.083,2020-10-06 00:00:00,2020-12-31,2021-01-21 00:00:00
8,2020-11-27 00:00:00,CASH,0.083,2020-10-06 00:00:00,2020-11-30,2020-12-21 00:00:00
9,2020-10-29 00:00:00,CASH,0.083,2020-10-06 00:00:00,2020-10-30,2020-11-20 00:00:00

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CIM Dividend History,CIM,2022-09-29,17.49,0.92,0.0,https://www.nasdaq.com/market-activity/stocks/cim/dividend-history,Chimera Investment Corporation,NYQ,Real Estate,1.313559,5.9,4.91,16.85,12.38,2022-11-03 20:30:00,2022-10-31 08:00:00,2022-09-29 08:00:00,1.1,5.363637,0.65,9.076923,-1.77,0.459967,None,-0.0227,367.065,18.20026,None,0.1559,0.92,1.32,0.227194,https://finance.yahoo.com/quote/CIM/key-statistics?p=CIM,0.050075,dataset,https://seekingalpha.com/symbol/CIM

https://finance.yahoo.com/quote/CIM/key-statistics?p=CIM

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.227194
dividend_yield_pct                            17.49
earnings_date                   2022-11-03 20:30:00
current_price                                   5.9
fifty_two_week_low                             4.91
fifty_two_week_high                           16.85
sentiment_score                            0.050075

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.23       2022-09-21  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.33       2022-05-04  2022-06-30   2022-07-28
2  2022-03-30  CASH         0.33       2022-02-17  2022-03-31   2022-04-28
3  2021-12-29  CASH         0.33       2021-12-02  2021-12-30   2022-01-27
4  2021-09-29  CASH         0.33       2021-09-13  2021-09-30   2021-10-28
5  2021-06-29  CASH         0.33       2021-05-05  2021-06-30   2021-07-30
6  2021-03-30  CASH         0.30       2021-03-11  2021-03-31   2021-04-30
7  2020-12-29  CASH         0.30       2020-12-01  2020-12-30   2021-01-29
8  2020-09-28  CASH         0.30       2020-09-15  2020-09-29   2020-10-29
9  2020-06-19  CASH         0.30       2020-06-10  2020-06-22   2020-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CIM Dividend History,CIM,2022-09-29,17.49,0.92,0.0,https://www.nasdaq.com/market-activity/stocks/cim/dividend-history,Chimera Investment Corporation,NYQ,Real Estate,1.313559,5.9,4.91,16.85,12.38,2022-11-03 20:30:00,2022-10-31 08:00:00,2022-09-29 08:00:00,1.1,5.363637,0.65,9.076923,-1.77,0.459967,None,-0.0227,367.065,18.20026,None,0.1559,0.92,1.32,0.227194,https://finance.yahoo.com/quote/CIM/key-statistics?p=CIM,0.050075,yahoo_finance,https://seekingalpha.com/symbol/CIM

https://finance.yahoo.com/quote/CIM/key-statistics?p=CIM

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.227194
dividend_yield_pct                            17.49
earnings_date                   2022-11-03 20:30:00
current_price                                   5.9
fifty_two_week_low                             4.91
fifty_two_week_high                           16.85
sentiment_score                            0.050075

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.23       2022-09-21  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.33       2022-05-04  2022-06-30   2022-07-28
2  2022-03-30  CASH         0.33       2022-02-17  2022-03-31   2022-04-28
3  2021-12-29  CASH         0.33       2021-12-02  2021-12-30   2022-01-27
4  2021-09-29  CASH         0.33       2021-09-13  2021-09-30   2021-10-28
5  2021-06-29  CASH         0.33       2021-05-05  2021-06-30   2021-07-30
6  2021-03-30  CASH         0.30       2021-03-11  2021-03-31   2021-04-30
7  2020-12-29  CASH         0.30       2020-12-01  2020-12-30   2021-01-29
8  2020-09-28  CASH         0.30       2020-09-15  2020-09-29   2020-10-29
9  2020-06-19  CASH         0.30       2020-06-10  2020-06-22   2020-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NEWT Dividend History,NEWT,2022-09-19,17.05,2.6,6.11,https://www.nasdaq.com/market-activity/stocks/newt/dividend-history,Newtek Business Services Corp.,NGM,Financial Services,1.237288,15.53,14.75,32.38,10.31,2022-11-08 05:00:00,2022-09-30 08:00:00,2022-09-19 08:00:00,3,5.176667,2.53,6.13834,1.93,0.95206,-25514124,0.15668,131.825,4.925866,1.3241,0.2033,3.1,3.35,0.219672,https://finance.yahoo.com/quote/NEWT/key-statistics?p=NEWT,-0.013095,dataset,https://seekingalpha.com/symbol/NEWT

https://finance.yahoo.com/quote/NEWT/key-statistics?p=NEWT

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.219672
dividend_yield_pct                            17.05
earnings_date                   2022-11-08 05:00:00
current_price                                 15.53
fifty_two_week_low                            14.75
fifty_two_week_high                           32.38
sentiment_score                           -0.013095

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-19  CASH         0.65       2022-08-30  2022-09-20   2022-09-30
1  2022-06-16  CASH         0.75       2022-04-20  2022-06-20   2022-06-30
2  2022-03-18  CASH         0.65       2021-12-20  2022-03-21   2022-03-31
3  2021-12-17  CASH         1.05       2021-10-20  2021-12-20   2021-12-30
4  2021-09-17  CASH         0.90       2021-08-09  2021-09-20   2021-09-30
5  2021-06-14  CASH         0.70       2021-05-11  2021-06-15   2021-06-30
6  2021-03-19  CASH         0.50       2021-02-23  2021-03-22   2021-03-31
7  2020-12-17  CASH         0.47       2020-11-10  2020-12-18   2020-12-30
8  2020-09-18  CASH         0.58       2020-07-20  2020-09-21   2020-09-30
9  2020-07-14  CASH         0.56       2020-06-12  2020-07-15   2020-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,TWO Dividend History,TWO,2022-09-30,20.48,0.68,5.38,https://www.nasdaq.com/market-activity/stocks/two/dividend-history,Two Harbors Investment Corp,NYQ,Real Estate,1.663596,3.23,3.03,6.55,12.2,2022-11-09 05:00:00,2022-10-28 08:00:00,2022-09-30 08:00:00,0.72,4.486111,0.62,5.209677,1.22,0.624637,None,0.11188,385.48,6.163784,1.0968,0.2105,0.68,0.68,0.210526,https://finance.yahoo.com/quote/TWO/key-statistics?p=TWO,0.08635,dataset,https://seekingalpha.com/symbol/TWO

https://finance.yahoo.com/quote/TWO/key-statistics?p=TWO

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.210526
dividend_yield_pct                            20.48
earnings_date                   2022-11-09 05:00:00
current_price                                  3.23
fifty_two_week_low                             3.03
fifty_two_week_high                            6.55
sentiment_score                             0.08635

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-30  CASH         0.17       2022-09-21  2022-10-03   2022-10-28
1  2022-07-01  CASH         0.17       2022-06-22  2022-07-05   2022-07-29
2  2022-04-01  CASH         0.17       2022-03-23  2022-04-04   2022-04-29
3  2021-12-28  CASH         0.17       2021-12-16  2021-12-29   2022-01-28
4  2021-09-30  CASH         0.17       2021-09-21  2021-10-01   2021-10-29
5  2021-06-28  CASH         0.17       2021-06-17  2021-06-29   2021-07-29
6  2021-03-26  CASH         0.17       2021-03-18  2021-03-29   2021-04-29
7  2020-12-29  CASH         0.17       2020-12-17  2020-12-30   2021-01-29
8  2020-09-30  CASH         0.14       2020-09-21  2020-10-01   2020-10-29
9  2020-06-29  CASH         0.14       2020-06-18  2020-06-30   2020-07-29

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,WMC Dividend History,WMC,2022-09-30,14.3,1.6,0.0,https://www.nasdaq.com/market-activity/stocks/wmc/dividend-history,Western Asset Mortgage Capital,NYQ,Real Estate,1.746499,9.88,8.86,26.1,15.47,2022-11-04 04:00:00,2022-10-26 08:00:00,2022-09-30 08:00:00,2.9,3.406897,-1.369,None,0.79,0.425275,None,-0.34968,1873.873,-1.476257,None,0.1675,1.6,2,0.209424,https://finance.yahoo.com/quote/WMC/key-statistics?p=WMC,0.496275,dataset,https://seekingalpha.com/symbol/WMC

https://finance.yahoo.com/quote/WMC/key-statistics?p=WMC

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.209424
dividend_yield_pct                             14.3
earnings_date                   2022-11-04 04:00:00
current_price                                  9.88
fifty_two_week_low                             8.86
fifty_two_week_high                            26.1
sentiment_score                            0.496275

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-30  CASH         0.40       2022-09-22  2022-10-03   2022-10-26
1  2022-06-30  CASH         0.04       2022-06-21  2022-07-01   2022-07-25
2  2022-04-01  CASH         0.04       2022-03-23  2022-04-04   2022-04-26
3  2021-12-30  CASH         0.06       2021-12-21  2021-12-31   2022-01-26
4  2021-10-01  CASH         0.06       2021-09-23  2021-10-04   2021-10-26
5  2021-06-30  CASH         0.06       2021-06-22  2021-07-02   2021-07-26
6  2021-03-31  CASH         0.06       2021-03-23  2021-04-02   2021-04-26
7  2020-12-24  CASH         0.06       2020-12-17  2020-12-28   2021-01-26
8  2020-10-01  CASH         0.05       2020-09-22  2020-10-02   2020-10-26
9  2019-12-27  CASH         0.31       2019-12-19  2019-12-30   2020-01-24

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CHMI Dividend History,CHMI,2022-09-29,21.14,1.08,14.66,https://www.nasdaq.com/market-activity/stocks/chmi/dividend-history,Cherry Hill Mortgage Investment,NYQ,Real Estate,1.264922,5.13,4.58,9.24,13.38,2022-11-07 18:59:00,2022-10-25 08:00:00,2022-09-29 08:00:00,1.11,4.621622,0.31,16.548388,-1.52,0.73898,None,0.05969,342.702,2.189853,3.4839,0.2093,1.08,1.08,0.209302,https://finance.yahoo.com/quote/CHMI/key-statistics?p=CHMI,0.067433,dataset,https://seekingalpha.com/symbol/CHMI

https://finance.yahoo.com/quote/CHMI/key-statistics?p=CHMI

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.209302
dividend_yield_pct                            21.14
earnings_date                   2022-11-07 18:59:00
current_price                                  5.13
fifty_two_week_low                             4.58
fifty_two_week_high                            9.24
sentiment_score                            0.067433

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.27       2022-09-15  2022-09-30   2022-10-25
1  2022-06-29  CASH         0.27       2022-06-17  2022-06-30   2022-07-26
2  2022-03-30  CASH         0.27       2022-03-11  2022-03-31   2022-04-26
3  2021-12-30  CASH         0.27       2021-12-09  2021-12-31   2022-01-25
4  2021-09-29  CASH         0.27       2021-09-17  2021-09-30   2021-10-26
5  2021-06-29  CASH         0.27       2021-06-17  2021-06-30   2021-07-27
6  2021-03-30  CASH         0.27       2021-03-04  2021-03-31   2021-04-27
7  2020-12-30  CASH         0.27       2020-12-10  2020-12-31   2021-01-26
8  2020-09-29  CASH         0.27       2020-09-17  2020-09-30   2020-10-27
9  2020-06-29  CASH         0.27       2020-06-18  2020-06-30   2020-07-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CHMI Dividend History,CHMI,2022-09-29,21.14,1.08,14.66,https://www.nasdaq.com/market-activity/stocks/chmi/dividend-history,Cherry Hill Mortgage Investment,NYQ,Real Estate,1.264922,5.13,4.58,9.24,13.38,2022-11-07 18:59:00,2022-10-25 08:00:00,2022-09-29 08:00:00,1.11,4.621622,0.31,16.548388,-1.52,0.73898,None,0.05969,342.702,2.189853,3.4839,0.2105,1.08,1.08,0.209302,https://finance.yahoo.com/quote/CHMI/key-statistics?p=CHMI,0.067433,yahoo_finance,https://seekingalpha.com/symbol/CHMI

https://finance.yahoo.com/quote/CHMI/key-statistics?p=CHMI

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.209302
dividend_yield_pct                            21.14
earnings_date                   2022-11-07 18:59:00
current_price                                  5.13
fifty_two_week_low                             4.58
fifty_two_week_high                            9.24
sentiment_score                            0.067433

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.27       2022-09-15  2022-09-30   2022-10-25
1  2022-06-29  CASH         0.27       2022-06-17  2022-06-30   2022-07-26
2  2022-03-30  CASH         0.27       2022-03-11  2022-03-31   2022-04-26
3  2021-12-30  CASH         0.27       2021-12-09  2021-12-31   2022-01-25
4  2021-09-29  CASH         0.27       2021-09-17  2021-09-30   2021-10-26
5  2021-06-29  CASH         0.27       2021-06-17  2021-06-30   2021-07-27
6  2021-03-30  CASH         0.27       2021-03-04  2021-03-31   2021-04-27
7  2020-12-30  CASH         0.27       2020-12-10  2020-12-31   2021-01-26
8  2020-09-29  CASH         0.27       2020-09-17  2020-09-30   2020-10-27
9  2020-06-29  CASH         0.27       2020-06-18  2020-06-30   2020-07-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NLY Dividend History,NLY,2022-09-29,20.1,3.52,1.66,https://www.nasdaq.com/market-activity/stocks/nly/dividend-history,Annaly Capital Management Inc.,NYQ,Real Estate,1.348194,16.69,15.11,35.04,11.63,2022-10-27 04:00:00,2022-10-31 08:00:00,2022-09-29 08:00:00,3.77,4.427056,9.92,1.68246,-0.8,0.707503,None,0.30953,540.629,1.473089,0.352,0.2093,3.52,3.52,0.209275,https://finance.yahoo.com/quote/NLY/key-statistics?p=NLY,0.20374,dataset,https://seekingalpha.com/symbol/NLY

https://finance.yahoo.com/quote/NLY/key-statistics?p=NLY

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.209275
dividend_yield_pct                             20.1
earnings_date                   2022-10-27 04:00:00
current_price                                 16.69
fifty_two_week_low                            15.11
fifty_two_week_high                           35.04
sentiment_score                             0.20374

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH         0.88  2022-09-08 00:00:00  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.22  2022-06-08 00:00:00  2022-06-30   2022-07-29
2  2022-03-30  CASH         0.22  2022-03-17 00:00:00  2022-03-31   2022-04-29
3  2021-12-30  CASH         0.22  2021-12-09 00:00:00  2021-12-31   2022-01-31
4  2021-09-29  CASH         0.22  2021-09-09 00:00:00  2021-09-30   2021-10-29
5  2021-06-29  CASH         0.22  2021-06-09 00:00:00  2021-06-30   2021-07-30
6  2021-03-30  CASH         0.22  2021-03-17 00:00:00  2021-03-31   2021-04-30
7  2020-12-30  CASH         0.22  2020-12-10 00:00:00  2020-12-31   2021-01-29
8  2020-09-29  CASH         0.22  2020-09-10 00:00:00  2020-09-30   2020-10-30
9  2020-06-29  CASH         0.22  2020-06-10 00:00:00  2020-06-30   2020-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NLY Dividend History,NLY,2022-09-29,20.1,3.52,1.66,https://www.nasdaq.com/market-activity/stocks/nly/dividend-history,Annaly Capital Management Inc.,NYQ,Real Estate,1.348194,16.69,15.11,35.04,11.63,2022-10-27 04:00:00,2022-10-31 08:00:00,2022-09-29 08:00:00,3.77,4.427056,9.92,1.68246,-0.8,0.707503,None,0.30953,540.629,1.473089,0.352,0.2093,3.52,3.52,0.209275,https://finance.yahoo.com/quote/NLY/key-statistics?p=NLY,0.20374,yahoo_finance,https://seekingalpha.com/symbol/NLY

https://finance.yahoo.com/quote/NLY/key-statistics?p=NLY

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.209275
dividend_yield_pct                             20.1
earnings_date                   2022-10-27 04:00:00
current_price                                 16.69
fifty_two_week_low                            15.11
fifty_two_week_high                           35.04
sentiment_score                             0.20374

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH         0.88  2022-09-08 00:00:00  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.22  2022-06-08 00:00:00  2022-06-30   2022-07-29
2  2022-03-30  CASH         0.22  2022-03-17 00:00:00  2022-03-31   2022-04-29
3  2021-12-30  CASH         0.22  2021-12-09 00:00:00  2021-12-31   2022-01-31
4  2021-09-29  CASH         0.22  2021-09-09 00:00:00  2021-09-30   2021-10-29
5  2021-06-29  CASH         0.22  2021-06-09 00:00:00  2021-06-30   2021-07-30
6  2021-03-30  CASH         0.22  2021-03-17 00:00:00  2021-03-31   2021-04-30
7  2020-12-30  CASH         0.22  2020-12-10 00:00:00  2020-12-31   2021-01-29
8  2020-09-29  CASH         0.22  2020-09-10 00:00:00  2020-09-30   2020-10-30
9  2020-06-29  CASH         0.22  2020-06-10 00:00:00  2020-06-30   2020-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MITT Dividend History,MITT,2022-09-29,20.05,0.84,0.0,https://www.nasdaq.com/market-activity/stocks/mitt/dividend-history,"AG Mortgage Investment Trust, I",NYQ,Real Estate,1.712232,4.31,3.52,13.49,15.08,2022-11-03 20:30:00,2022-10-31 08:00:00,2022-09-29 08:00:00,1.02,4.22549,1.81,2.381216,0.07,0.375436,None,-0.0349,706.2,3.539822,None,0.1981,0.84,0.84,0.195349,https://finance.yahoo.com/quote/MITT/key-statistics?p=MITT,0.604957,dataset,https://seekingalpha.com/symbol/MITT

https://finance.yahoo.com/quote/MITT/key-statistics?p=MITT

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.195349
dividend_yield_pct                            20.05
earnings_date                   2022-11-03 20:30:00
current_price                                  4.31
fifty_two_week_low                             3.52
fifty_two_week_high                           13.49
sentiment_score                            0.604957

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.21       2022-09-15  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.21       2022-06-15  2022-06-30   2022-07-29
2  2022-03-30  CASH         0.21       2022-03-18  2022-03-31   2022-04-29
3  2021-12-30  CASH         0.21       2021-12-15  2021-12-31   2022-01-31
4  2021-09-29  CASH         0.21       2021-09-16  2021-09-30   2021-10-29
5  2021-06-29  CASH         0.07       2021-06-15  2021-06-30   2021-07-30
6  2021-03-31  CASH         0.06       2021-03-22  2021-04-01   2021-04-30
7  2020-12-30  CASH         0.03       2020-12-12  2020-12-31   2021-01-29
8  2019-12-30  CASH         0.45       2019-12-13  2019-12-31   2020-01-31
9  2019-09-27  CASH         0.45       2019-09-06  2019-09-30   2019-10-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MFA Dividend History,MFA,2022-09-29,21.57,1.76,0.0,https://www.nasdaq.com/market-activity/stocks/mfa/dividend-history,"MFA Financial, Inc.",NYQ,Real Estate,1.79661,9.09,7.15,19.04,12.53,2022-11-03 20:30:00,2022-10-31 08:00:00,2022-09-29 08:00:00,2.01,4.522388,1.11,8.189189,0.15,0.431133,None,-0.00284,334.361,7.354611,None,0.1943,1.76,1.72,0.189845,https://finance.yahoo.com/quote/MFA/key-statistics?p=MFA,0.015227,dataset,https://seekingalpha.com/symbol/MFA

https://finance.yahoo.com/quote/MFA/key-statistics?p=MFA

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.189845
dividend_yield_pct                            21.57
earnings_date                   2022-11-03 20:30:00
current_price                                  9.09
fifty_two_week_low                             7.15
fifty_two_week_high                           19.04
sentiment_score                            0.015227

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH        0.440  2022-09-13 00:00:00  2022-09-30   2022-10-31
1  2022-06-29  CASH        0.440  2022-06-15 00:00:00  2022-06-30   2022-07-29
2  2022-03-21  CASH        0.110  2022-03-11 00:00:00  2022-03-22   2022-04-29
3  2021-12-30  CASH        0.110  2021-12-14 00:00:00  2021-12-31   2022-01-31
4  2021-09-29  CASH        0.100  2021-09-15 00:00:00  2021-09-30   2021-10-29
5  2021-06-29  CASH        0.100  2021-06-15 00:00:00  2021-06-30   2021-07-30
6  2021-03-30  CASH        0.075  2021-03-12 00:00:00  2021-03-31   2021-04-30
7  2020-12-29  CASH        0.075  2020-12-17 00:00:00  2020-12-30   2021-01-29
8  2020-09-29  CASH        0.050  2020-08-06 00:00:00  2020-09-30   2020-10-30
9  2019-12-27  CASH        0.200  2019-12-12 00:00:00  2019-12-30   2020-01-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MFA Dividend History,MFA,2022-09-29,21.57,1.76,0.0,https://www.nasdaq.com/market-activity/stocks/mfa/dividend-history,"MFA Financial, Inc.",NYQ,Real Estate,1.79661,9.09,7.15,19.04,12.53,2022-11-03 20:30:00,2022-10-31 08:00:00,2022-09-29 08:00:00,2.01,4.522388,1.11,8.189189,0.15,0.431133,None,-0.00284,334.361,7.354611,None,0.1943,1.76,1.72,0.189845,https://finance.yahoo.com/quote/MFA/key-statistics?p=MFA,0.015227,yahoo_finance,https://seekingalpha.com/symbol/MFA

https://finance.yahoo.com/quote/MFA/key-statistics?p=MFA

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.189845
dividend_yield_pct                            21.57
earnings_date                   2022-11-03 20:30:00
current_price                                  9.09
fifty_two_week_low                             7.15
fifty_two_week_high                           19.04
sentiment_score                            0.015227

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH        0.440  2022-09-13 00:00:00  2022-09-30   2022-10-31
1  2022-06-29  CASH        0.440  2022-06-15 00:00:00  2022-06-30   2022-07-29
2  2022-03-21  CASH        0.110  2022-03-11 00:00:00  2022-03-22   2022-04-29
3  2021-12-30  CASH        0.110  2021-12-14 00:00:00  2021-12-31   2022-01-31
4  2021-09-29  CASH        0.100  2021-09-15 00:00:00  2021-09-30   2021-10-29
5  2021-06-29  CASH        0.100  2021-06-15 00:00:00  2021-06-30   2021-07-30
6  2021-03-30  CASH        0.075  2021-03-12 00:00:00  2021-03-31   2021-04-30
7  2020-12-29  CASH        0.075  2020-12-17 00:00:00  2020-12-30   2021-01-29
8  2020-09-29  CASH        0.050  2020-08-06 00:00:00  2020-09-30   2020-10-30
9  2019-12-27  CASH        0.200  2019-12-12 00:00:00  2019-12-30   2020-01-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,AGNC Dividend History,AGNC,2022-09-29,18.6,1.44,0.0,https://www.nasdaq.com/market-activity/stocks/agnc/dividend-history,AGNC Investment Corp.,NMS,Real Estate,1.187546,7.62,7.36,16.64,11.52,2022-10-25 20:30:00,2022-11-09 08:00:00,2022-09-29 08:00:00,2.19,3.479452,-1.86,None,-1.53,0.607995,None,-0.09621,541.007,-5.00371,None,0.186,1.44,1.44,0.186047,https://finance.yahoo.com/quote/AGNC/key-statistics?p=AGNC,0.121861,dataset,https://seekingalpha.com/symbol/AGNC

https://finance.yahoo.com/quote/AGNC/key-statistics?p=AGNC

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.186047
dividend_yield_pct                             18.6
earnings_date                   2022-10-25 20:30:00
current_price                                  7.62
fifty_two_week_low                             7.36
fifty_two_week_high                           16.64
sentiment_score                            0.121861

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-28  CASH         0.12       2022-10-10  2022-10-31   2022-11-09
1  2022-09-29  CASH         0.12       2022-09-14  2022-09-30   2022-10-12
2  2022-08-30  CASH         0.12       2022-08-11  2022-08-31   2022-09-12
3  2022-07-28  CASH         0.12       2022-07-11  2022-07-29   2022-08-09
4  2022-06-29  CASH         0.12       2022-06-09  2022-06-30   2022-07-12
5  2022-05-27  CASH         0.12       2022-05-12  2022-05-31   2022-06-09
6  2022-04-28  CASH         0.12       2022-04-11  2022-04-29   2022-05-10
7  2022-03-30  CASH         0.12       2022-03-10  2022-03-31   2022-04-12
8  2022-02-25  CASH         0.12       2022-02-10  2022-02-28   2022-03-09
9  2022-01-28  CASH         0.12       2022-01-10  2022-01-31   2022-02-09

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,AGNC Dividend History,AGNC,2022-09-29,18.6,1.44,0.0,https://www.nasdaq.com/market-activity/stocks/agnc/dividend-history,AGNC Investment Corp.,NMS,Real Estate,1.187546,7.62,7.36,16.64,11.52,2022-10-25 20:30:00,2022-11-09 08:00:00,2022-09-29 08:00:00,2.19,3.479452,-1.86,None,-1.53,0.607995,None,-0.09621,541.007,-5.00371,None,0.186,1.44,1.44,0.186047,https://finance.yahoo.com/quote/AGNC/key-statistics?p=AGNC,0.121861,yahoo_finance,https://seekingalpha.com/symbol/AGNC

https://finance.yahoo.com/quote/AGNC/key-statistics?p=AGNC

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.186047
dividend_yield_pct                             18.6
earnings_date                   2022-10-25 20:30:00
current_price                                  7.62
fifty_two_week_low                             7.36
fifty_two_week_high                           16.64
sentiment_score                            0.121861

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-28  CASH         0.12       2022-10-10  2022-10-31   2022-11-09
1  2022-09-29  CASH         0.12       2022-09-14  2022-09-30   2022-10-12
2  2022-08-30  CASH         0.12       2022-08-11  2022-08-31   2022-09-12
3  2022-07-28  CASH         0.12       2022-07-11  2022-07-29   2022-08-09
4  2022-06-29  CASH         0.12       2022-06-09  2022-06-30   2022-07-12
5  2022-05-27  CASH         0.12       2022-05-12  2022-05-31   2022-06-09
6  2022-04-28  CASH         0.12       2022-04-11  2022-04-29   2022-05-10
7  2022-03-30  CASH         0.12       2022-03-10  2022-03-31   2022-04-12
8  2022-02-25  CASH         0.12       2022-02-10  2022-02-28   2022-03-09
9  2022-01-28  CASH         0.12       2022-01-10  2022-01-31   2022-02-09

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,EARN Dividend History,EARN,2022-09-29,15.76,0.96,0.0,https://www.nasdaq.com/market-activity/stocks/earn/dividend-history,Ellington Residential Mortgage,NYQ,Real Estate,1.769712,6.42,5.7,12.44,12.31,2022-10-31 18:59:00,2022-11-25 08:00:00,2022-09-29 08:00:00,1.07,6,-1.856,None,-1.03,0.707828,None,-0.21467,803.572,1.40521,None,0.1507,0.96,1.16,0.182104,https://finance.yahoo.com/quote/EARN/key-statistics?p=EARN,-0.07926,dataset,https://seekingalpha.com/symbol/EARN

https://finance.yahoo.com/quote/EARN/key-statistics?p=EARN

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.182104
dividend_yield_pct                            15.76
earnings_date                   2022-10-31 18:59:00
current_price                                  6.42
fifty_two_week_low                              5.7
fifty_two_week_high                           12.44
sentiment_score                            -0.07926

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.08       2022-09-08  2022-09-30   2022-10-25
1  2022-08-30  CASH         0.08       2022-08-04  2022-08-31   2022-09-26
2  2022-07-28  CASH         0.08       2022-07-08  2022-07-29   2022-08-25
3  2022-06-29  CASH         0.08       2022-06-07  2022-06-30   2022-07-25
4  2022-05-27  CASH         0.08       2022-05-02  2022-05-31   2022-06-27
5  2022-04-28  CASH         0.10       2022-04-07  2022-04-29   2022-05-25
6  2022-03-30  CASH         0.10       2022-03-07  2022-03-31   2022-04-25
7  2022-02-25  CASH         0.10       2022-02-07  2022-02-28   2022-03-25
8  2022-01-28  CASH         0.10       2022-01-07  2022-01-31   2022-02-25
9  2021-12-29  CASH         0.10       2021-12-07  2021-12-30   2022-01-25

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ICMB Dividend History,ICMB,2022-09-22,17.14,0.6,20.39,https://www.nasdaq.com/market-activity/stocks/icmb/dividend-history,Investcorp Credit Management BD,NMS,Financial Services,1.943625,3.67,3.24,5.733,14.69,2022-11-08 05:00:00,2022-10-14 08:00:00,2022-09-22 08:00:00,0.58,6.327587,0.18,20.38889,None,0.564615,12355086,0.02725,157.01,2.161153,3.3333,0.1714,0.6,0.6,0.168776,https://finance.yahoo.com/quote/ICMB/key-statistics?p=ICMB,0.3818,dataset,https://seekingalpha.com/symbol/ICMB

https://finance.yahoo.com/quote/ICMB/key-statistics?p=ICMB

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.168776
dividend_yield_pct                            17.14
earnings_date                   2022-11-08 05:00:00
current_price                                  3.67
fifty_two_week_low                             3.24
fifty_two_week_high                           5.733
sentiment_score                              0.3818

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-22  CASH         0.15  2022-08-25 00:00:00  2022-09-23   2022-10-14
1  2022-06-16  CASH         0.15  2022-05-05 00:00:00  2022-06-17   2022-07-08
2  2022-03-10  CASH         0.15  2022-02-03 00:00:00  2022-03-11   2022-03-31
3  2021-12-09  CASH         0.15  2021-11-03 00:00:00  2021-12-10   2022-01-04
4  2021-09-23  CASH         0.15  2021-08-25 00:00:00  2021-09-24   2021-10-14
5  2021-06-17  CASH         0.15  2021-05-06 00:00:00  2021-06-18   2021-07-09
6  2021-03-11  CASH         0.18  2021-02-03 00:00:00  2021-03-12   2021-04-01
7  2020-12-09  CASH         0.18  2020-11-03 00:00:00  2020-12-10   2021-01-04
8  2020-09-24  CASH         0.18  2020-08-26 00:00:00  2020-09-25   2020-10-15
9  2020-06-18  CASH         0.15  2020-05-07 00:00:00  2020-06-19   2020-07-10

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,OXLC Dividend History,OXLC,2022-10-14,18.22,0.9,2.86,https://www.nasdaq.com/market-activity/stocks/oxlc/dividend-history,Oxford Lane Capital Corp.,NGM,Financial Services,1.138909,4.95,4.83,8.53,18.57,2022-10-27 18:59:00,2019-03-29 08:00:00,2022-10-14 08:00:00,1.99,2.487437,1.2,4.125,None,0.755034,83505968,0.16312,43.492,3.884442,0.7,0.1822,0.9,0.833,0.168623,https://finance.yahoo.com/quote/OXLC/key-statistics?p=OXLC,0.44955,dataset,https://seekingalpha.com/symbol/OXLC

https://finance.yahoo.com/quote/OXLC/key-statistics?p=OXLC

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.168623
dividend_yield_pct                            18.22
earnings_date                   2022-10-27 18:59:00
current_price                                  4.95
fifty_two_week_low                             4.83
fifty_two_week_high                            8.53
sentiment_score                             0.44955

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-12-15  CASH        0.075       2022-07-28  2022-12-16   2022-12-30
1  2022-11-15  CASH        0.075       2022-07-28  2022-11-16   2022-11-30
2  2022-10-14  CASH        0.075       2022-07-28  2022-10-17   2022-10-31
3  2022-09-15  CASH        0.075       2022-05-03  2022-09-16   2022-09-30
4  2022-08-16  CASH        0.075       2022-05-03  2022-08-17   2022-08-31
5  2022-07-14  CASH        0.075       2022-05-03  2022-07-15   2022-07-29
6  2022-06-15  CASH        0.075       2022-01-27  2022-06-16   2022-06-30
7  2022-05-16  CASH        0.075       2022-01-27  2022-05-17   2022-05-31
8  2022-04-13  CASH        0.075       2022-01-27  2022-04-15   2022-04-29
9  2022-03-16  CASH        0.075       2021-10-28  2022-03-17   2022-03-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NCV Dividend History,NCV,2022-10-12,0,0.51,0,https://www.nasdaq.com/market-activity/stocks/ncv/dividend-history,AllianzGI Convertible & Income,NYQ,Financial Services,1.220338,3.37,3.05,6.41,11.55,2022-10-11 18:59:00,2019-03-01 08:00:00,2022-10-12 08:00:00,None,None,1.53,2.202614,None,0.781359,None,None,None,10.550189,0.3333,0.1513,0.51,0.556,0.166967,https://finance.yahoo.com/quote/NCV/key-statistics?p=NCV,0.49264,dataset,https://seekingalpha.com/symbol/NCV

https://finance.yahoo.com/quote/NCV/key-statistics?p=NCV

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.166967
dividend_yield_pct                                0
earnings_date                   2022-10-11 18:59:00
current_price                                  3.37
fifty_two_week_low                             3.05
fifty_two_week_high                            6.41
sentiment_score                             0.49264

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-12  CASH       0.0425       2022-09-08  2022-10-13   2022-11-01
1  2022-09-09  CASH       0.0425       2022-06-07  2022-09-12   2022-10-03
2  2022-08-10  CASH       0.0425       2022-06-07  2022-08-11   2022-09-01
3  2022-07-08  CASH       0.0425       2022-06-07  2022-07-11   2022-08-01
4  2022-06-10  CASH       0.0425       2022-03-07  2022-06-13   2022-07-01
5  2022-05-11  CASH       0.0425       2022-03-07  2022-05-12   2022-06-01
6  2022-04-08  CASH       0.0425       2022-03-07  2022-04-11   2022-05-02
7  2022-03-10  CASH       0.0425       2021-12-17  2022-03-11   2022-04-01
8  2022-02-10  CASH       0.0425       2021-12-17  2022-02-11   2022-03-01
9  2022-01-12  CASH       0.0425       2021-12-17  2022-01-13   2022-02-01

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,EGLE Dividend History,EGLE,2022-08-15,17.66,8.8,2.56,https://www.nasdaq.com/market-activity/stocks/egle/dividend-history,Eagle Bulk Shipping Inc.,NMS,Industrials,1.322402,49.52,36.21,78.75,None,2022-11-04 04:00:00,2022-08-26 08:00:00,2022-08-15 08:00:00,10.27,4.821811,19.22,2.576483,0.04,0.840276,200552560,0.48516,52.729,0.902538,0.3148,0.1766,8.8,8.25,0.165596,https://finance.yahoo.com/quote/EGLE/key-statistics?p=EGLE,0.067763,yahoo_finance,https://seekingalpha.com/symbol/EGLE

https://finance.yahoo.com/quote/EGLE/key-statistics?p=EGLE

                                                  0
sector                                  Industrials
trailing_annual_dividend_yield             0.165596
dividend_yield_pct                            17.66
earnings_date                   2022-11-04 04:00:00
current_price                                 49.52
fifty_two_week_low                            36.21
fifty_two_week_high                           78.75
sentiment_score                            0.067763

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-15  CASH         2.20       2022-07-28  2022-08-16   2022-08-26
1  2022-05-13  CASH         2.00       2022-05-03  2022-05-16   2022-05-25
2  2022-03-14  CASH         2.05       2022-02-22  2022-03-15   2022-03-25
3  2021-11-12  CASH         2.00       2021-10-28  2021-11-15   2021-11-24

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NYMT Dividend History,NYMT,2022-09-23,16.46,0.4,0.0,https://www.nasdaq.com/market-activity/stocks/nymt/dividend-history,"New York Mortgage Trust, Inc.",NMS,Real Estate,1.735077,2.45,2.07,4.5,14.15,2022-11-03 04:00:00,2022-10-26 08:00:00,2022-09-23 08:00:00,0.26,9.423078,0.05,49,-0.99,0.596688,None,-0.04163,227.029,6.816648,None,0.1646,0.4,0.4,0.164609,https://finance.yahoo.com/quote/NYMT/key-statistics?p=NYMT,0.350925,dataset,https://seekingalpha.com/symbol/NYMT

https://finance.yahoo.com/quote/NYMT/key-statistics?p=NYMT

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.164609
dividend_yield_pct                            16.46
earnings_date                   2022-11-03 04:00:00
current_price                                  2.45
fifty_two_week_low                             2.07
fifty_two_week_high                             4.5
sentiment_score                            0.350925

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-23  CASH        0.100       2022-09-16  2022-09-26   2022-10-26
1  2022-06-24  CASH        0.100       2022-06-17  2022-06-27   2022-07-25
2  2022-03-23  CASH        0.100       2022-03-14  2022-03-24   2022-04-25
3  2021-12-23  CASH        0.100       2021-12-13  2021-12-27   2022-01-25
4  2021-09-22  CASH        0.100       2021-09-13  2021-09-23   2021-10-25
5  2021-06-23  CASH        0.100       2021-06-14  2021-06-24   2021-07-26
6  2021-03-24  CASH        0.100       2021-03-15  2021-03-25   2021-04-26
7  2020-12-16  CASH        0.100       2020-12-07  2020-12-17   2021-01-25
8  2020-09-23  CASH        0.075       2020-09-14  2020-09-24   2020-10-26
9  2020-06-30  CASH        0.050       2020-06-15  2020-07-01   2020-07-27

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,BRMK Dividend History,BRMK,2022-09-29,16.31,0.84,9.05,https://www.nasdaq.com/market-activity/stocks/brmk/dividend-history,Broadmark Realty Capital Inc.,NYQ,Real Estate,1.233142,5.34,4.885,10.49,None,2022-11-08 05:00:00,2022-10-17 08:00:00,2022-09-29 08:00:00,0.67,7.970149,0.6,8.9,None,0.628753,None,0.06809,9.329,6.701645,1.4237,0.1585,0.84,0.84,0.158491,https://finance.yahoo.com/quote/BRMK/key-statistics?p=BRMK,0.026573,yahoo_finance,https://seekingalpha.com/symbol/BRMK

https://finance.yahoo.com/quote/BRMK/key-statistics?p=BRMK

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.158491
dividend_yield_pct                            16.31
earnings_date                   2022-11-08 05:00:00
current_price                                  5.34
fifty_two_week_low                            4.885
fifty_two_week_high                           10.49
sentiment_score                            0.026573

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH         0.07  2022-09-15 00:00:00  2022-09-30   2022-10-17
1  2022-08-30  CASH         0.07  2022-08-15 00:00:00  2022-08-31   2022-09-15
2  2022-07-28  CASH         0.07  2022-07-18 00:00:00  2022-07-29   2022-08-15
3  2022-06-29  CASH         0.07  2022-06-15 00:00:00  2022-06-30   2022-07-15
4  2022-05-27  CASH         0.07  2022-05-16 00:00:00  2022-05-31   2022-06-15
5  2022-04-28  CASH         0.07  2022-04-18 00:00:00  2022-04-29   2022-05-16
6  2022-03-30  CASH         0.07  2022-03-15 00:00:00  2022-03-31   2022-04-15
7  2022-02-25  CASH         0.07  2022-02-15 00:00:00  2022-02-28   2022-03-15
8  2022-01-28  CASH         0.07  2022-01-14 00:00:00  2022-01-31   2022-02-15
9  2021-12-30  CASH         0.07  2021-12-15 00:00:00  2021-12-31   2022-01-14

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,PMT,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/pmt/dividend-history,PennyMac Mortgage Investment Tr,NYQ,Real Estate,1.192336,12.21,10.78,20.49,10.21,2022-10-28 04:00:00,2022-10-28 08:00:00,2022-10-13 08:00:00,1.69,7.224852,-0.731,None,-6.78,0.727262,None,-0.06466,524.42,13.973085,None,0.1629,1.88,1.88,0.156146,https://finance.yahoo.com/quote/PMT/key-statistics?p=PMT,0.348882,dataset,https://seekingalpha.com/symbol/PMT

https://finance.yahoo.com/quote/PMT/key-statistics?p=PMT

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.156146
dividend_yield_pct                                0
earnings_date                   2022-10-28 04:00:00
current_price                                 12.21
fifty_two_week_low                            10.78
fifty_two_week_high                           20.49
sentiment_score                            0.348882

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,PMT,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/pmt/dividend-history,PennyMac Mortgage Investment Tr,NYQ,Real Estate,1.192336,12.21,10.78,20.49,10.21,2022-10-28 04:00:00,2022-10-28 08:00:00,2022-10-13 08:00:00,1.69,7.224852,-0.731,None,-6.78,0.727262,None,-0.06466,524.42,13.973085,None,0.1629,1.88,1.88,0.156146,https://finance.yahoo.com/quote/PMT/key-statistics?p=PMT,0.348882,yahoo_finance,https://seekingalpha.com/symbol/PMT

https://finance.yahoo.com/quote/PMT/key-statistics?p=PMT

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.156146
dividend_yield_pct                                0
earnings_date                   2022-10-28 04:00:00
current_price                                 12.21
fifty_two_week_low                            10.78
fifty_two_week_high                           20.49
sentiment_score                            0.348882

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,OPI Dividend History,OPI,2022-10-21,15.48,2.2,0.0,https://www.nasdaq.com/market-activity/stocks/opi/dividend-history,Office Properties Income Trust,NMS,Real Estate,1.164701,14.4,12.17,28.25,11.17,2022-10-28 04:00:00,2022-11-17 08:00:00,2022-10-21 08:00:00,-0.46,-31.304346,-1.23,None,-19.41,0.492948,194847120,-0.00598,175.704,1.195748,None,0.1511,2.2,2.2,0.154821,https://finance.yahoo.com/quote/OPI/key-statistics?p=OPI,0.186725,dataset,https://seekingalpha.com/symbol/OPI

https://finance.yahoo.com/quote/OPI/key-statistics?p=OPI

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.154821
dividend_yield_pct                            15.48
earnings_date                   2022-10-28 04:00:00
current_price                                  14.4
fifty_two_week_low                            12.17
fifty_two_week_high                           28.25
sentiment_score                            0.186725

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-10-21  CASH         0.55  2022-10-13 00:00:00  2022-10-24   2022-11-17
1  2022-07-22  CASH         0.55  2022-07-14 00:00:00  2022-07-25   2022-08-18
2  2022-04-22  CASH         0.55  2022-04-14 00:00:00  2022-04-25   2022-05-19
3  2022-01-21  CASH         0.55  2022-01-13 00:00:00  2022-01-24   2022-02-17
4  2021-10-22  CASH         0.55  2021-10-14 00:00:00  2021-10-25   2021-11-18
5  2021-07-23  CASH         0.55  2021-07-15 00:00:00  2021-07-26   2021-08-19
6  2021-04-23  CASH         0.55  2021-04-15 00:00:00  2021-04-26   2021-05-20
7  2021-01-22  CASH         0.55  0001-01-01 00:00:00  2021-01-25   2021-02-18
8  2020-10-23  CASH         0.55  2020-10-15 00:00:00  2020-10-26   2020-11-19
9  2020-07-24  CASH         0.55  0001-01-01 00:00:00  2020-07-27   2020-08-20

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,RC Dividend History,RC,2022-09-29,17.23,1.68,4.61,https://www.nasdaq.com/market-activity/stocks/rc/dividend-history,Ready Capital Corproation,NYQ,Real Estate,1.251289,11.02,9.69,16.56,11.4,2022-11-02 18:59:00,2022-10-31 08:00:00,2022-09-29 08:00:00,1.76,6.261364,2.39,4.610879,0.4,0.721015,None,0.13672,488.437,2.857259,0.7029,0.1546,1.68,1.68,0.154554,https://finance.yahoo.com/quote/RC/key-statistics?p=RC,0.380014,dataset,https://seekingalpha.com/symbol/RC

https://finance.yahoo.com/quote/RC/key-statistics?p=RC

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.154554
dividend_yield_pct                            17.23
earnings_date                   2022-11-02 18:59:00
current_price                                 11.02
fifty_two_week_low                             9.69
fifty_two_week_high                           16.56
sentiment_score                            0.380014

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.42       2022-09-15  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.42       2022-06-15  2022-06-30   2022-07-29
2  2022-03-30  CASH         0.42       2022-03-15  2022-03-31   2022-04-29
3  2021-12-30  CASH         0.42       2021-12-14  2021-12-31   2022-01-31
4  2021-09-29  CASH         0.42       2021-09-15  2021-09-30   2021-10-29
5  2021-06-29  CASH         0.42       2021-06-14  2021-06-30   2021-07-30
6  2021-04-01  CASH         0.10       2021-03-24  2021-04-05   2021-04-30
7  2021-03-12  CASH         0.30       2021-03-01  2021-03-15   2021-03-18
8  2020-12-30  CASH         0.35       2020-12-14  2020-12-31   2021-01-29
9  2020-09-29  CASH         0.30       2020-09-15  2020-09-30   2020-10-30

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,LUMN Dividend History,LUMN,2022-08-29,9.72,1.0,3.48,https://www.nasdaq.com/market-activity/stocks/lumn/dividend-history,"Lumen Technologies, Inc.",NYQ,Communication Services,1.073323,6.75,6.34,14.5,10.47,2022-11-03 04:00:00,2022-09-09 08:00:00,2022-08-29 08:00:00,0.88,7.670454,1.94,3.479381,-0.19,0.570342,-4661125120,0.16677,233.415,0.367393,0.5155,0.1502,1,1,0.15015,https://finance.yahoo.com/quote/LUMN/key-statistics?p=LUMN,0.05239,dataset,https://seekingalpha.com/symbol/LUMN

https://finance.yahoo.com/quote/LUMN/key-statistics?p=LUMN

                                                     0
sector                          Communication Services
trailing_annual_dividend_yield                 0.15015
dividend_yield_pct                                9.72
earnings_date                      2022-11-03 04:00:00
current_price                                     6.75
fifty_two_week_low                                6.34
fifty_two_week_high                               14.5
sentiment_score                                0.05239

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-29  CASH         0.25       2022-08-18  2022-08-30   2022-09-09
1  2022-05-27  CASH         0.25       2022-05-19  2022-05-31   2022-06-10
2  2022-03-07  CASH         0.25       2022-02-24  2022-03-08   2022-03-18
3  2021-11-26  CASH         0.25       2021-11-18  2021-11-29   2021-12-10
4  2021-08-27  CASH         0.25       2021-08-19  2021-08-30   2021-09-10
5  2021-05-28  CASH         0.25       2021-05-20  2021-06-01   2021-06-11
6  2021-03-05  CASH         0.25       2021-02-25  2021-03-08   2021-03-19
7  2020-11-27  CASH         0.25       2020-11-19  2020-11-30   2020-12-11
8  2020-08-28  CASH         0.25       2020-08-20  2020-08-31   2020-09-11
9  2020-05-29  CASH         0.25       2020-05-20  2020-06-01   2020-06-12

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,IEP Dividend History,IEP,2022-08-18,14.86,8.0,0.0,https://www.nasdaq.com/market-activity/stocks/iep/dividend-history,Icahn Enterprises L.P. - Deposi,NMS,Industrials,0.755342,54.25,47.17,58.5,13.05,2022-10-31 20:30:00,2022-09-28 08:00:00,2022-08-18 08:00:00,0.87,62.356323,-1.635,None,None,3.668515,-4270249984,-0.0435,74.621,1.399977,None,0.1493,8,8,0.148616,https://finance.yahoo.com/quote/IEP/key-statistics?p=IEP,0.026559,dataset,https://seekingalpha.com/symbol/IEP

https://finance.yahoo.com/quote/IEP/key-statistics?p=IEP

                                                  0
sector                                  Industrials
trailing_annual_dividend_yield             0.148616
dividend_yield_pct                            14.86
earnings_date                   2022-10-31 20:30:00
current_price                                 54.25
fifty_two_week_low                            47.17
fifty_two_week_high                            58.5
sentiment_score                            0.026559

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-18  CASH          2.0       2022-08-03  2022-08-19   2022-09-28
1  2022-05-19  CASH          2.0       2022-05-04  2022-05-20   2022-06-29
2  2022-03-17  CASH          2.0       2022-02-23  2022-03-18   2022-04-27
3  2021-11-15  CASH          2.0       2021-11-01  2021-11-16   2021-12-22
4  2021-08-19  CASH          2.0       2021-08-04  2021-08-20   2021-09-29
5  2021-05-28  CASH          2.0       2021-05-05  2021-06-01   2021-06-30
6  2021-03-25  CASH          2.0       2021-02-24  2021-03-26   2021-04-28
7  2020-11-23  CASH          2.0       2020-11-04  2020-11-24   2020-12-29
8  2020-08-20  CASH          2.0       2020-08-04  2020-08-21   2020-09-29
9  2020-05-18  CASH          2.0       2020-05-07  2020-05-19   2020-06-25

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ARI Dividend History,ARI,2022-09-29,16.75,1.4,8.43,https://www.nasdaq.com/market-activity/stocks/ari/dividend-history,Apollo Commercial Real Estate F,NYQ,Real Estate,1.48563,9.53,7.91,15.76,11.68,2022-10-25 22:00:00,2022-10-14 08:00:00,2022-09-29 08:00:00,1.4,6.807143,1.2,7.941666,95.29,0.586462,None,0.08042,308.729,5.075687,1.1667,0.1474,1.4,1.4,0.147368,https://finance.yahoo.com/quote/ARI/key-statistics?p=ARI,0.23906,dataset,https://seekingalpha.com/symbol/ARI

https://finance.yahoo.com/quote/ARI/key-statistics?p=ARI

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.147368
dividend_yield_pct                            16.75
earnings_date                   2022-10-25 22:00:00
current_price                                  9.53
fifty_two_week_low                             7.91
fifty_two_week_high                           15.76
sentiment_score                             0.23906

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.35       2022-09-13  2022-09-30   2022-10-14
1  2022-06-29  CASH         0.35       2022-06-14  2022-06-30   2022-07-15
2  2022-03-30  CASH         0.35       2022-03-15  2022-03-31   2022-04-15
3  2021-12-30  CASH         0.35       2021-12-14  2021-12-31   2022-01-15
4  2021-09-29  CASH         0.35       2021-09-14  2021-09-30   2021-10-15
5  2021-06-29  CASH         0.35       2021-06-15  2021-06-30   2021-07-15
6  2021-03-30  CASH         0.35       2021-03-16  2021-03-31   2021-04-15
7  2020-12-30  CASH         0.35       2020-12-16  2020-12-31   2021-01-15
8  2020-09-29  CASH         0.35       2020-09-16  2020-09-30   2020-10-15
9  2020-06-29  CASH         0.35       2020-06-16  2020-06-30   2020-07-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,EFC Dividend History,EFC,2022-09-29,15.6,1.8,0.0,https://www.nasdaq.com/market-activity/stocks/efc/dividend-history,Ellington Financial Inc.,NYQ,Real Estate,1.818717,12.33,10.81,18.66,10.72,2022-11-07 21:30:00,2022-11-25 08:00:00,2022-09-29 08:00:00,1.82,6.774725,1.55,7.954839,1.72,0.753806,None,-0.00467,378.135,26.384941,None,0.1463,1.8,1.8,0.146341,https://finance.yahoo.com/quote/EFC/key-statistics?p=EFC,0.16722,dataset,https://seekingalpha.com/symbol/EFC

https://finance.yahoo.com/quote/EFC/key-statistics?p=EFC

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.146341
dividend_yield_pct                             15.6
earnings_date                   2022-11-07 21:30:00
current_price                                 12.33
fifty_two_week_low                            10.81
fifty_two_week_high                           18.66
sentiment_score                             0.16722

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.15       2022-09-08  2022-09-30   2022-10-25
1  2022-08-30  CASH         0.15       2022-08-04  2022-08-31   2022-09-26
2  2022-07-28  CASH         0.15       2022-07-08  2022-07-29   2022-08-25
3  2022-06-29  CASH         0.15       2022-06-07  2022-06-30   2022-07-25
4  2022-05-27  CASH         0.15       2022-05-02  2022-05-31   2022-06-27
5  2022-04-28  CASH         0.15       2022-04-07  2022-04-29   2022-05-25
6  2022-03-30  CASH         0.15       2022-03-07  2022-03-31   2022-04-25
7  2022-02-25  CASH         0.15       2022-02-07  2022-02-28   2022-03-25
8  2022-01-28  CASH         0.15       2022-01-07  2022-01-31   2022-02-25
9  2021-12-29  CASH         0.15       2021-12-07  2021-12-30   2022-01-25

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,GNL Dividend History,GNL,2022-10-12,15.7,1.6,0.0,https://www.nasdaq.com/market-activity/stocks/gnl/dividend-history,"Global Net Lease, Inc.",NYQ,Real Estate,1.113485,11.02,9.82,16.5,10.78,2022-11-03 20:30:00,2022-10-17 08:00:00,2022-10-12 08:00:00,0.08,137.75002,-0.136,None,None,0.752887,223775504,0.00907,158.321,2.965634,None,0.1504,1.6,1.6,0.146119,https://finance.yahoo.com/quote/GNL/key-statistics?p=GNL,-0.087327,dataset,https://seekingalpha.com/symbol/GNL

https://finance.yahoo.com/quote/GNL/key-statistics?p=GNL

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.146119
dividend_yield_pct                             15.7
earnings_date                   2022-11-03 20:30:00
current_price                                 11.02
fifty_two_week_low                             9.82
fifty_two_week_high                            16.5
sentiment_score                           -0.087327

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-12  CASH          0.4       2022-10-03  2022-10-13   2022-10-17
1  2022-07-08  CASH          0.4       2022-07-01  2022-07-11   2022-07-15
2  2022-04-08  CASH          0.4       2022-04-01  2022-04-11   2022-04-18
3  2022-01-12  CASH          0.4       2022-01-03  2022-01-13   2022-01-18
4  2021-10-08  CASH          0.4       2021-10-01  2021-10-12   2021-10-15
5  2021-07-09  CASH          0.4       2021-07-01  2021-07-12   2021-07-15
6  2021-04-09  CASH          0.4       2021-04-01  2021-04-12   2021-04-15
7  2021-01-08  CASH          0.4       2021-01-01  2021-01-11   2021-01-15
8  2020-10-08  CASH          0.4       2020-10-01  2020-10-12   2020-10-15
9  2020-07-10  CASH          0.4       2020-07-01  2020-07-13   2020-07-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,OXSQ Dividend History,OXSQ,2022-10-14,14.53,0.42,0.0,https://www.nasdaq.com/market-activity/stocks/oxsq/dividend-history,Oxford Square Capital Corp.,NGM,Financial Services,1.137435,2.94,2.82,4.47,14.77,2022-10-24 20:30:00,2018-12-31 08:00:00,2022-10-14 08:00:00,0.42,7.0,0.2,14.7,1.41,0.800436,-3969847,-0.18927,101.672,3.677807,None,0.1453,0.42,0.42,0.145329,https://finance.yahoo.com/quote/OXSQ/key-statistics?p=OXSQ,0.0,dataset,https://seekingalpha.com/symbol/OXSQ

https://finance.yahoo.com/quote/OXSQ/key-statistics?p=OXSQ

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.145329
dividend_yield_pct                            14.53
earnings_date                   2022-10-24 20:30:00
current_price                                  2.94
fifty_two_week_low                             2.82
fifty_two_week_high                            4.47
sentiment_score                                 0.0

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-12-15  CASH        0.035       2022-07-21  2022-12-16   2022-12-30
1  2022-11-15  CASH        0.035       2022-07-21  2022-11-16   2022-11-30
2  2022-10-14  CASH        0.035       2022-07-21  2022-10-17   2022-10-31
3  2022-09-15  CASH        0.035       2022-04-21  2022-09-16   2022-09-30
4  2022-08-16  CASH        0.035       2022-04-21  2022-08-17   2022-08-31
5  2022-07-14  CASH        0.035       2022-04-21  2022-07-15   2022-07-29
6  2022-06-15  CASH        0.035       2022-03-01  2022-06-16   2022-06-30
7  2022-05-16  CASH        0.035       2022-03-01  2022-05-17   2022-05-31
8  2022-04-13  CASH        0.035       2022-03-01  2022-04-15   2022-04-29
9  2022-03-16  CASH        0.035       2021-10-22  2022-03-17   2022-03-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,FSK Dividend History,FSK,2022-09-13,13.52,0,8.52,https://www.nasdaq.com/market-activity/stocks/fsk/dividend-history,FS KKR Capital Corp.,NYQ,Financial Services,1.434414,18.06,16.7,23.44,13.19,2022-11-08 05:00:00,2022-10-04 08:00:00,2022-09-13 08:00:00,2.74,6.591241,6.34,2.84858,-6.97,0.68378,330624992,0.07966,124.295,3.412352,None,0.1352,2.44,2.58,0.142936,https://finance.yahoo.com/quote/FSK/key-statistics?p=FSK,0.248987,dataset,https://seekingalpha.com/symbol/FSK

https://finance.yahoo.com/quote/FSK/key-statistics?p=FSK

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.142936
dividend_yield_pct                            13.52
earnings_date                   2022-11-08 05:00:00
current_price                                 18.06
fifty_two_week_low                             16.7
fifty_two_week_high                           23.44
sentiment_score                            0.248987

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-13  CASH         0.06  0001-01-01 00:00:00  2022-09-14   2022-10-04
1  2022-09-13  CASH         0.61  2022-08-08 00:00:00  2022-09-14   2022-10-04
2  2022-06-14  CASH         0.68  2022-05-09 00:00:00  2022-06-15   2022-07-05
3  2022-03-15  CASH         0.63  2022-02-28 00:00:00  2022-03-16   2022-04-04
4  2021-12-14  CASH         0.62  2021-11-08 00:00:00  2021-12-15   2022-01-04
5  2021-09-14  CASH         0.65  2021-08-09 00:00:00  2021-09-15   2021-10-04
6  2021-06-10  CASH         0.60  2021-05-10 00:00:00  2021-06-11   2021-07-02
7  2021-03-16  CASH         0.60  2021-03-01 00:00:00  2021-03-17   2021-04-02
8  2020-12-15  CASH         0.60  2020-11-09 00:00:00  2020-12-16   2021-01-05
9  2020-09-15  CASH         0.60  2020-08-10 00:00:00  2020-09-16   2020-10-01

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ECC Dividend History,ECC,2022-10-07,15.43,1.68,0.0,https://www.nasdaq.com/market-activity/stocks/ecc/dividend-history,Eagle Point Credit Company Inc.,NYQ,Financial Services,0.872144,10.35,10.16,15.54,None,2022-11-14 21:30:00,2019-03-29 08:00:00,2022-10-07 08:00:00,1.57,6.592357,3.9,2.653846,None,1.027092,27209544,-0.14786,45.449,4.221389,None,0.162,1.68,1.44,0.140625,https://finance.yahoo.com/quote/ECC/key-statistics?p=ECC,0.3588,yahoo_finance,https://seekingalpha.com/symbol/ECC

https://finance.yahoo.com/quote/ECC/key-statistics?p=ECC

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.140625
dividend_yield_pct                            15.43
earnings_date                   2022-11-14 21:30:00
current_price                                 10.35
fifty_two_week_low                            10.16
fifty_two_week_high                           15.54
sentiment_score                              0.3588

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-07  CASH         0.25       2022-08-16  2022-10-11   2022-10-31
1  2022-10-07  CASH         0.14       2022-08-11  2022-10-11   2022-10-31
2  2022-09-09  CASH         0.14       2022-05-18  2022-09-12   2022-09-30
3  2022-08-10  CASH         0.14       2022-05-18  2022-08-11   2022-08-31
4  2022-07-08  CASH         0.14       2022-05-18  2022-07-11   2022-07-29
5  2022-06-09  CASH         0.14       2022-02-14  2022-06-10   2022-06-30
6  2022-05-10  CASH         0.14       2022-02-14  2022-05-11   2022-05-31
7  2022-04-08  CASH         0.14       2022-02-14  2022-04-11   2022-04-29
8  2022-03-10  CASH         0.12       2021-11-10  2022-03-11   2022-03-31
9  2022-02-07  CASH         0.12       2021-11-10  2022-02-08   2022-02-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,GPP Dividend History,GPP,2022-08-04,13.95,1.8,7.75,https://www.nasdaq.com/market-activity/stocks/gpp/dividend-history,Green Plains Partners LP,NGM,Energy,0.755342,13.17,11.05,16.02,10.59,2022-11-02 20:30:00,2022-11-14 08:00:00,2022-08-04 08:00:00,2.25,5.853333,1.7,7.747059,None,135.7732,27200376,None,4317.408,3.971003,0.8471,0.1411,1.82,1.77,0.137209,https://finance.yahoo.com/quote/GPP/key-statistics?p=GPP,0.147043,dataset,https://seekingalpha.com/symbol/GPP

https://finance.yahoo.com/quote/GPP/key-statistics?p=GPP

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.137209
dividend_yield_pct                            13.95
earnings_date                   2022-11-02 20:30:00
current_price                                 13.17
fifty_two_week_low                            11.05
fifty_two_week_high                           16.02
sentiment_score                            0.147043

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-11-03  CASH        0.455       2022-10-20  2022-11-04   2022-11-14
1  2022-08-04  CASH        0.450       2022-07-21  2022-08-05   2022-08-12
2  2022-05-05  CASH        0.445       2022-04-21  2022-05-06   2022-05-13
3  2022-02-03  CASH        0.440       2022-01-20  2022-02-04   2022-02-11
4  2021-11-04  CASH        0.435       2021-10-19  2021-11-05   2021-11-12
5  2021-08-05  CASH        0.120       2021-07-22  2021-08-06   2021-08-13
6  2021-05-06  CASH        0.120       2021-04-22  2021-05-07   2021-05-14
7  2021-02-04  CASH        0.120       2021-01-21  2021-02-05   2021-02-12
8  2020-11-05  CASH        0.120       2020-10-15  2020-11-06   2020-11-13
9  2020-07-30  CASH        0.120       2020-07-16  2020-07-31   2020-08-07

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MRCC Dividend History,MRCC,2022-09-14,13.64,1.0,20.56,https://www.nasdaq.com/market-activity/stocks/mrcc/dividend-history,Monroe Capital Corporation,NMS,Financial Services,1.232129,7.4,7.2,11.85,12.1,2022-11-08 05:00:00,2022-09-30 08:00:00,2022-09-14 08:00:00,1.01,7.326733,0.35,21.142859,1.48,0.69075,38937624,0.03169,136.247,2.983506,2.8571,0.1364,1,1,0.136426,https://finance.yahoo.com/quote/MRCC/key-statistics?p=MRCC,0.074,dataset,https://seekingalpha.com/symbol/MRCC

https://finance.yahoo.com/quote/MRCC/key-statistics?p=MRCC

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.136426
dividend_yield_pct                            13.64
earnings_date                   2022-11-08 05:00:00
current_price                                   7.4
fifty_two_week_low                              7.2
fifty_two_week_high                           11.85
sentiment_score                               0.074

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-14  CASH         0.25  2022-09-01 00:00:00  2022-09-15   2022-09-30
1  2022-06-14  CASH         0.25  2022-06-01 00:00:00  2022-06-15   2022-06-30
2  2022-03-15  CASH         0.25  2022-03-02 00:00:00  2022-03-16   2022-03-31
3  2021-12-15  CASH         0.25  2021-12-02 00:00:00  2021-12-16   2021-12-31
4  2021-09-15  CASH         0.25  2021-09-02 00:00:00  2021-09-16   2021-09-30
5  2021-06-15  CASH         0.25  2021-06-02 00:00:00  2021-06-16   2021-06-30
6  2021-03-15  CASH         0.25  2021-03-02 00:00:00  2021-03-16   2021-03-31
7  2020-12-15  CASH         0.25  2020-12-04 00:00:00  2020-12-16   2020-12-31
8  2020-09-15  CASH         0.25  2020-09-04 00:00:00  2020-09-16   2020-09-30
9  2020-06-12  CASH         0.25  2020-05-08 00:00:00  2020-06-15   2020-06-30

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SACH Dividend History,SACH,0001-01-01 00:00:00,0,0,8.28,https://www.nasdaq.com/market-activity/stocks/sach/dividend-history,Sachem Capital Corp.,ASE,Real Estate,1.383566,3.81,3.23,6.55,10.83,2022-11-02 18:59:00,2022-07-28 08:00:00,2022-07-20 08:00:00,0.59,6.457627,0.46,8.282608,0.17,0.683163,None,0.10352,148.173,5.583873,1.0435,0.1478,0.56,0.5,0.131926,https://finance.yahoo.com/quote/SACH/key-statistics?p=SACH,-0.026367,dataset,https://seekingalpha.com/symbol/SACH

https://finance.yahoo.com/quote/SACH/key-statistics?p=SACH

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield             0.131926
dividend_yield_pct                                0
earnings_date                   2022-11-02 18:59:00
current_price                                  3.81
fifty_two_week_low                             3.23
fifty_two_week_high                            6.55
sentiment_score                           -0.026367

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-07-20  CASH         0.14       2022-07-08  2022-07-21   2022-07-28
1  2022-04-08  CASH         0.12       2022-03-29  2022-04-11   2022-04-18
2  2021-12-30  CASH         0.12       2021-12-21  2021-12-31   2022-01-10
3  2021-10-22  CASH         0.12       2021-10-13  2021-10-25   2021-10-29
4  2021-07-23  CASH         0.12       2021-07-14  2021-07-26   2021-07-30
5  2021-04-09  CASH         0.12       2021-03-30  2021-04-12   2021-04-16
6  2020-12-30  CASH         0.12       2020-12-21  2020-12-31   2021-01-08
7  2020-10-23  CASH         0.12       2020-10-15  2020-10-26   2020-11-04
8  2020-07-30  CASH         0.12       2020-07-21  2020-07-31   2020-08-07
9  2020-01-16  CASH         0.12       2020-01-07  2020-01-17   2020-01-27

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,VOC Dividend History,VOC,2022-07-29,17.82,1.52,0,https://www.nasdaq.com/market-activity/stocks/voc/dividend-history,VOC Energy Trust Units of Benef,NYQ,Energy,1.47126,9.05,4.25,9.05,14.25,2022-10-21 04:00:00,2019-02-14 08:00:00,2022-07-29 08:00:00,None,None,0.89,10.16854,None,10.044395,None,0.92667,None,9.433448,1,0.1712,1.46,1.11,0.130129,https://finance.yahoo.com/quote/VOC/key-statistics?p=VOC,0.8271,dataset,https://seekingalpha.com/symbol/VOC

https://finance.yahoo.com/quote/VOC/key-statistics?p=VOC

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.130129
dividend_yield_pct                            17.82
earnings_date                   2022-10-21 04:00:00
current_price                                  9.05
fifty_two_week_low                             4.25
fifty_two_week_high                            9.05
sentiment_score                              0.8271

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-07-29  CASH        0.380       2022-07-20  2022-08-01   2022-08-12
1  2022-04-29  CASH        0.280       2022-04-20  2022-05-02   2022-05-13
2  2022-01-31  CASH        0.250       2022-01-20  2022-02-01   2022-02-14
3  2021-10-29  CASH        0.200       2021-10-20  2021-11-01   2021-11-12
4  2021-07-29  CASH        0.160       2021-07-20  2021-07-30   2021-08-13
5  2021-04-29  CASH        0.120       2021-04-20  2021-04-30   2021-05-14
6  2021-01-29  CASH        0.030       2021-01-20  2021-02-01   2021-02-12
7  2020-10-29  CASH        0.085       2020-10-20  2020-10-30   2020-11-13
8  2020-04-29  CASH        0.030       2020-04-17  2020-04-30   2020-05-15
9  2020-01-29  CASH        0.110       2020-01-17  2020-01-30   2020-02-14

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,LFT Dividend History,LFT,2022-09-29,11.01,0.24,9.67,https://www.nasdaq.com/market-activity/stocks/lft/dividend-history,"Lument Finance Trust, Inc.",NYQ,Real Estate,1.194546,2.32,2.03,4.05,10.99,2022-11-08 05:00:00,2022-10-17 08:00:00,2022-09-29 08:00:00,0.29,8,0.23,10.086956,-1.01,0.635268,None,0.05898,352.638,5.421753,1.286,0.1021,0.24,0.3,0.12766,https://finance.yahoo.com/quote/LFT/key-statistics?p=LFT,0.5106,dataset,https://seekingalpha.com/symbol/LFT

https://finance.yahoo.com/quote/LFT/key-statistics?p=LFT

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield              0.12766
dividend_yield_pct                            11.01
earnings_date                   2022-11-08 05:00:00
current_price                                  2.32
fifty_two_week_low                             2.03
fifty_two_week_high                            4.05
sentiment_score                              0.5106

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH        0.060       2022-09-15  2022-09-30   2022-10-17
1  2022-06-29  CASH        0.060       2022-06-15  2022-06-30   2022-07-15
2  2022-03-30  CASH        0.060       2022-03-15  2022-03-31   2022-04-15
3  2021-12-30  CASH        0.090       2021-12-15  2021-12-31   2022-01-18
4  2021-09-29  CASH        0.090       2021-09-14  2021-09-30   2021-10-15
5  2021-06-29  CASH        0.090       2021-06-16  2021-06-30   2021-07-15
6  2021-03-30  CASH        0.090       2021-03-15  2021-03-31   2021-04-15
7  2020-12-30  CASH        0.090       2020-12-18  2020-12-31   2021-01-15
8  2020-12-30  CASH        0.040       2020-12-21  2020-12-31   2021-01-15
9  2020-09-29  CASH        0.085       2020-09-17  2020-09-30   2020-10-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,OFS Dividend History,OFS,2022-09-22,13.66,1.16,3.83,https://www.nasdaq.com/market-activity/stocks/ofs/dividend-history,OFS Capital Corporation,NMS,Financial Services,1.822402,8.47,7.54,13.47,12.95,2022-11-03 20:30:00,2022-09-30 08:00:00,2022-09-22 08:00:00,1.19,7.117647,2.23,3.798206,1.01,0.581212,-2549250,0.15856,184.223,2.408231,0.4753,0.1366,1.16,1.06,0.125296,https://finance.yahoo.com/quote/OFS/key-statistics?p=OFS,0.2123,dataset,https://seekingalpha.com/symbol/OFS

https://finance.yahoo.com/quote/OFS/key-statistics?p=OFS

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.125296
dividend_yield_pct                            13.66
earnings_date                   2022-11-03 20:30:00
current_price                                  8.47
fifty_two_week_low                             7.54
fifty_two_week_high                           13.47
sentiment_score                              0.2123

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-22  CASH         0.29       2022-08-02  2022-09-23   2022-09-30
1  2022-06-22  CASH         0.29       2022-05-03  2022-06-23   2022-06-30
2  2022-03-23  CASH         0.28       2022-03-01  2022-03-24   2022-03-31
3  2021-12-22  CASH         0.25       2021-11-02  2021-12-24   2021-12-31
4  2021-09-22  CASH         0.24       2021-08-03  2021-09-23   2021-09-30
5  2021-06-22  CASH         0.22       2021-05-07  2021-06-23   2021-06-30
6  2021-03-23  CASH         0.20       2021-03-02  2021-03-24   2021-03-31
7  2020-12-23  CASH         0.18       2020-11-03  2020-12-24   2020-12-31
8  2020-09-22  CASH         0.17       2020-07-28  2020-09-23   2020-09-30
9  2020-06-22  CASH         0.17       2020-05-04  2020-06-23   2020-06-30

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,TPVG Dividend History,TPVG,2022-09-14,12.19,1.44,8.41,https://www.nasdaq.com/market-activity/stocks/tpvg/dividend-history,TriplePoint Venture Growth BDC,NYQ,Financial Services,1.698599,12.03,10.41,19.25,11.03,2022-11-03 04:00:00,2022-09-30 08:00:00,2022-09-14 08:00:00,1.66,7.246988,1.4,8.592857,1.8,0.924531,36773876,0.109,122.803,4.188414,1.0141,0.1212,1.44,1.44,0.121931,https://finance.yahoo.com/quote/TPVG/key-statistics?p=TPVG,0.4025,dataset,https://seekingalpha.com/symbol/TPVG

https://finance.yahoo.com/quote/TPVG/key-statistics?p=TPVG

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.121931
dividend_yield_pct                            12.19
earnings_date                   2022-11-03 04:00:00
current_price                                 12.03
fifty_two_week_low                            10.41
fifty_two_week_high                           19.25
sentiment_score                              0.4025

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-14  CASH         0.36  2022-07-27 00:00:00  2022-09-15   2022-09-30
1  2022-06-15  CASH         0.36  0001-01-01 00:00:00  2022-06-16   2022-06-30
2  2022-03-14  CASH         0.36  2022-02-22 00:00:00  2022-03-15   2022-03-31
3  2021-11-29  CASH         0.36  2021-10-29 00:00:00  2021-11-30   2021-12-15
4  2021-08-30  CASH         0.36  2021-08-04 00:00:00  2021-08-31   2021-09-15
5  2021-06-15  CASH         0.36  2021-05-05 00:00:00  2021-06-16   2021-06-30
6  2021-03-12  CASH         0.36  2021-02-24 00:00:00  2021-03-15   2021-03-31
7  2020-12-30  CASH         0.10  2020-12-21 00:00:00  2020-12-31   2021-01-13
8  2020-11-25  CASH         0.36  2020-11-05 00:00:00  2020-11-27   2020-12-14
9  2020-08-28  CASH         0.36  2020-07-30 00:00:00  2020-08-31   2020-09-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,WHF Dividend History,WHF,2022-09-19,11.76,1.42,11.04,https://www.nasdaq.com/market-activity/stocks/whf/dividend-history,"WhiteHorse Finance, Inc.",NMS,Financial Services,1.323876,12.25,10.57,16.2,10.81,2022-11-14 21:30:00,2022-12-09 08:00:00,2022-09-19 08:00:00,1.52,8.059211,1.07,11.448598,1.67,0.819562,24894750,0.07337,121.82,3.704308,1.3271,0.1176,1.42,1.42,0.117647,https://finance.yahoo.com/quote/WHF/key-statistics?p=WHF,0.06734,dataset,https://seekingalpha.com/symbol/WHF

https://finance.yahoo.com/quote/WHF/key-statistics?p=WHF

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.117647
dividend_yield_pct                            11.76
earnings_date                   2022-11-14 21:30:00
current_price                                 12.25
fifty_two_week_low                            10.57
fifty_two_week_high                            16.2
sentiment_score                             0.06734

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-28  CASH        0.050       2022-10-14  2022-10-31   2022-12-09
1  2022-09-19  CASH        0.355       2022-08-10  2022-09-20   2022-10-04
2  2022-06-16  CASH        0.355       2022-05-10  2022-06-20   2022-07-05
3  2022-03-24  CASH        0.355       2022-03-03  2022-03-25   2022-04-04
4  2021-12-17  CASH        0.355       2021-11-09  2021-12-20   2022-01-04
5  2021-10-28  CASH        0.135       2021-10-14  2021-10-29   2021-12-10
6  2021-09-17  CASH        0.355       2021-08-09  2021-09-20   2021-10-04
7  2021-06-17  CASH        0.355       2021-05-10  2021-06-18   2021-07-02
8  2021-03-25  CASH        0.355       2021-03-02  2021-03-26   2021-04-05
9  2020-12-18  CASH        0.355       2020-11-09  2020-12-21   2021-01-05

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,USAC,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/usac/dividend-history,"USA Compression Partners, LP",NYQ,Energy,1.573984,18.2,14.21,20.14,14.29,2022-11-01 20:30:00,2022-11-04 08:00:00,2022-10-21 08:00:00,0.16,113.75001,-0.366,None,199.44,None,206708992,0.03376,437.356,2.72789,None,0.117,2.1,2.1,0.116992,https://finance.yahoo.com/quote/USAC/key-statistics?p=USAC,-0.0045,dataset,https://seekingalpha.com/symbol/USAC

https://finance.yahoo.com/quote/USAC/key-statistics?p=USAC

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.116992
dividend_yield_pct                                0
earnings_date                   2022-11-01 20:30:00
current_price                                  18.2
fifty_two_week_low                            14.21
fifty_two_week_high                           20.14
sentiment_score                             -0.0045

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,BKCC Dividend History,BKCC,2022-09-14,11.33,0.4,12.75,https://www.nasdaq.com/market-activity/stocks/bkcc/dividend-history,BlackRock Capital Investment Co,NMS,Financial Services,1.412306,3.57,3.31,4.38,12.91,2022-11-04 04:00:00,2022-10-06 08:00:00,2022-09-14 08:00:00,0.37,9.648648,0.29,12.310345,3.42,0.780669,-924435,0.06224,70.703,5.271997,1.3793,0.1133,0.4,0.4,0.113314,https://finance.yahoo.com/quote/BKCC/key-statistics?p=BKCC,0.098667,dataset,https://seekingalpha.com/symbol/BKCC

https://finance.yahoo.com/quote/BKCC/key-statistics?p=BKCC

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.113314
dividend_yield_pct                            11.33
earnings_date                   2022-11-04 04:00:00
current_price                                  3.57
fifty_two_week_low                             3.31
fifty_two_week_high                            4.38
sentiment_score                            0.098667

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-14  CASH          0.1       2022-08-02  2022-09-15   2022-10-06
1  2022-06-15  CASH          0.1       2022-04-27  2022-06-16   2022-07-07
2  2022-03-16  CASH          0.1       2022-03-01  2022-03-17   2022-04-07
3  2021-12-15  CASH          0.1       2021-11-02  2021-12-16   2022-01-06
4  2021-09-14  CASH          0.1       2021-07-28  2021-09-15   2021-10-06
5  2021-06-15  CASH          0.1       2021-04-28  2021-06-16   2021-07-07
6  2021-03-16  CASH          0.1       2021-03-02  2021-03-17   2021-04-07
7  2020-11-17  CASH          0.1       2020-11-03  2020-11-18   2020-12-30
8  2020-08-17  CASH          0.1       2020-07-28  2020-08-18   2020-09-29
9  2020-05-29  CASH          0.1       2020-05-04  2020-06-01   2020-07-07

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,USDP Dividend History,USDP,2022-08-02,11.2,0.494,6.62,https://www.nasdaq.com/market-activity/stocks/usdp/dividend-history,USD Partners LP,NYQ,Industrials,1.189388,4.57,3.86,6.9,14.97,2022-11-02 04:00:00,2022-08-12 08:00:00,2022-08-02 08:00:00,0.56,8.160714,0.7,6.528572,None,None,44282000,None,None,2.727553,0.7044,0.112,0.49,0.486,0.110204,https://finance.yahoo.com/quote/USDP/key-statistics?p=USDP,0.12972,dataset,https://seekingalpha.com/symbol/USDP

https://finance.yahoo.com/quote/USDP/key-statistics?p=USDP

                                                  0
sector                                  Industrials
trailing_annual_dividend_yield             0.110204
dividend_yield_pct                             11.2
earnings_date                   2022-11-02 04:00:00
current_price                                  4.57
fifty_two_week_low                             3.86
fifty_two_week_high                             6.9
sentiment_score                             0.12972

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-02  CASH       0.1235       2022-07-20  2022-08-03   2022-08-12
1  2022-05-03  CASH       0.1235       2022-04-21  2022-05-04   2022-05-13
2  2022-02-08  CASH       0.1210       2022-01-26  2022-02-09   2022-02-18
3  2021-11-02  CASH       0.1185       2021-10-21  2021-11-03   2021-11-12
4  2021-08-03  CASH       0.1160       2021-07-21  2021-08-04   2021-08-13
5  2021-05-04  CASH       0.1135       2021-04-22  2021-05-05   2021-05-14
6  2021-02-09  CASH       0.1110       2021-01-28  2021-02-10   2021-02-19
7  2020-11-02  CASH       0.1110       2020-10-22  2020-11-03   2020-11-13
8  2020-08-03  CASH       0.1110       2020-07-23  2020-08-04   2020-08-14
9  2020-05-04  CASH       0.1110       2020-04-23  2020-05-05   2020-05-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CAPL Dividend History,CAPL,2022-08-02,10.95,2.1,18.61,https://www.nasdaq.com/market-activity/stocks/capl/dividend-history,CrossAmerica Partners LP,NYQ,Energy,1.726602,19.17,18.32,23.29,12.09,2022-11-08 05:00:00,2022-08-10 08:00:00,2022-08-02 08:00:00,0.97,19.762886,1.04,18.432693,9.17,15.764803,36554376,0.55639,1356.526,0.166865,2.0192,0.1095,2.1,2.1,0.109489,https://finance.yahoo.com/quote/CAPL/key-statistics?p=CAPL,0.090025,dataset,https://seekingalpha.com/symbol/CAPL

https://finance.yahoo.com/quote/CAPL/key-statistics?p=CAPL

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.109489
dividend_yield_pct                            10.95
earnings_date                   2022-11-08 05:00:00
current_price                                 19.17
fifty_two_week_low                            18.32
fifty_two_week_high                           23.29
sentiment_score                            0.090025

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-02  CASH        0.525       2022-07-21  2022-08-03   2022-08-10
1  2022-05-02  CASH        0.525       2022-04-21  2022-05-03   2022-05-11
2  2022-02-02  CASH        0.525       2022-01-20  2022-02-03   2022-02-10
3  2021-11-02  CASH        0.525       2021-10-21  2021-11-03   2021-11-10
4  2021-08-02  CASH        0.525       2021-07-22  2021-08-03   2021-08-10
5  2021-05-03  CASH        0.525       2021-04-22  2021-05-04   2021-05-11
6  2021-02-01  CASH        0.525       2021-01-21  2021-02-02   2021-02-09
7  2020-11-02  CASH        0.525       2020-10-22  2020-11-03   2020-11-10
8  2020-08-03  CASH        0.525       2020-07-23  2020-08-04   2020-08-11
9  2020-05-04  CASH        0.525       2020-04-23  2020-05-05   2020-05-12

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,TCPC Dividend History,TCPC,2022-09-15,10.54,1.2,11.88,https://www.nasdaq.com/market-activity/stocks/tcpc/dividend-history,BlackRock TCP Capital Corp.,NMS,Financial Services,1.438098,11.52,10.65,14.52,10.56,2022-11-03 20:30:00,2022-09-30 08:00:00,2022-09-15 08:00:00,1.45,7.944828,0.97,11.876288,0.67,0.824624,17264794,0.06857,129.107,3.951697,1.2371,0.1054,1.2,1.2,0.105356,https://finance.yahoo.com/quote/TCPC/key-statistics?p=TCPC,0.3128,dataset,https://seekingalpha.com/symbol/TCPC

https://finance.yahoo.com/quote/TCPC/key-statistics?p=TCPC

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.105356
dividend_yield_pct                            10.54
earnings_date                   2022-11-03 20:30:00
current_price                                 11.52
fifty_two_week_low                            10.65
fifty_two_week_high                           14.52
sentiment_score                              0.3128

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-15  CASH         0.30  2022-08-03 00:00:00  2022-09-16   2022-09-30
1  2022-06-15  CASH         0.30  2022-05-04 00:00:00  2022-06-16   2022-06-30
2  2022-03-16  CASH         0.30  2022-02-24 00:00:00  2022-03-17   2022-03-31
3  2021-12-16  CASH         0.30  2021-11-03 00:00:00  2021-12-17   2021-12-31
4  2021-09-15  CASH         0.30  2021-08-02 00:00:00  2021-09-16   2021-09-30
5  2021-06-15  CASH         0.30  2021-05-05 00:00:00  2021-06-16   2021-06-30
6  2021-03-16  CASH         0.30  2021-02-25 00:00:00  2021-03-17   2021-03-31
7  2020-12-16  CASH         0.30  0001-01-01 00:00:00  2020-12-17   2020-12-31
8  2020-09-15  CASH         0.30  2020-08-06 00:00:00  2020-09-16   2020-09-30
9  2020-06-15  CASH         0.36  2020-05-11 00:00:00  2020-06-16   2020-06-30

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CGBD Dividend History,CGBD,2022-06-29,13.1,1.6,6.18,https://www.nasdaq.com/market-activity/stocks/cgbd/dividend-history,"Carlyle Secured Lending, Inc.",NMS,Financial Services,1.70081,12.24,11.23,14.96,10.71,2022-11-09 05:00:00,2022-10-14 08:00:00,2022-09-29 08:00:00,1.72,7.116279,1.99,6.150754,3.59,0.728225,-21875376,0.12632,116.564,3.529799,0.6432,0.131,1.6,1.28,0.104832,https://finance.yahoo.com/quote/CGBD/key-statistics?p=CGBD,0.4019,dataset,https://seekingalpha.com/symbol/CGBD

https://finance.yahoo.com/quote/CGBD/key-statistics?p=CGBD

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.104832
dividend_yield_pct                             13.1
earnings_date                   2022-11-09 05:00:00
current_price                                 12.24
fifty_two_week_low                            11.23
fifty_two_week_high                           14.96
sentiment_score                              0.4019

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH         0.40  2022-08-08 00:00:00  2022-09-30   2022-10-14
1  2022-06-29  CASH         0.40  2022-05-02 00:00:00  2022-06-30   2022-07-15
2  2022-03-30  CASH         0.40  2022-02-18 00:00:00  2022-03-31   2022-04-15
3  2021-12-30  CASH         0.39  2021-11-01 00:00:00  2021-12-31   2022-01-14
4  2021-09-29  CASH         0.38  2021-08-03 00:00:00  2021-09-30   2021-10-15
5  2021-06-29  CASH         0.36  2021-05-03 00:00:00  2021-06-30   2021-07-15
6  2021-03-30  CASH         0.37  2021-02-22 00:00:00  2021-03-31   2021-04-16
7  2020-12-30  CASH         0.36  2020-11-02 00:00:00  2020-12-31   2021-01-15
8  2020-09-29  CASH         0.37  2020-08-03 00:00:00  2020-09-30   2020-10-16
9  2020-06-29  CASH         0.37  2020-05-04 00:00:00  2020-06-30   2020-07-17

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,PSEC Dividend History,PSEC,2022-09-27,10.36,0.72,4.9,https://www.nasdaq.com/market-activity/stocks/psec/dividend-history,Prospect Capital Corporation,NMS,Financial Services,0.924097,7.11,6.09,9.06,11.31,2022-11-07 20:01:00,2022-11-17 08:00:00,2022-09-27 08:00:00,0.85,8.364706,1.37,5.189781,1.64,0.678629,229573504,0.13306,56.894,3.948503,0.5373,0.1036,0.72,0.72,0.103597,https://finance.yahoo.com/quote/PSEC/key-statistics?p=PSEC,0.36135,dataset,https://seekingalpha.com/symbol/PSEC

https://finance.yahoo.com/quote/PSEC/key-statistics?p=PSEC

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.103597
dividend_yield_pct                            10.36
earnings_date                   2022-11-07 20:01:00
current_price                                  7.11
fifty_two_week_low                             6.09
fifty_two_week_high                            9.06
sentiment_score                             0.36135

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-26  CASH         0.06       2022-08-23  2022-10-27   2022-11-17
1  2022-09-27  CASH         0.06       2022-08-23  2022-09-28   2022-10-20
2  2022-08-26  CASH         0.06       2022-05-06  2022-08-29   2022-09-21
3  2022-07-26  CASH         0.06       2022-05-06  2022-07-27   2022-08-18
4  2022-06-27  CASH         0.06       2022-05-06  2022-06-28   2022-07-20
5  2022-05-26  CASH         0.06       2022-05-06  2022-05-27   2022-06-21
6  2022-04-26  CASH         0.06       2022-02-07  2022-04-27   2022-05-19
7  2022-03-28  CASH         0.06       2022-02-07  2022-03-29   2022-04-20
8  2022-02-23  CASH         0.06       2022-02-07  2022-02-24   2022-03-22
9  2022-01-26  CASH         0.06       2021-11-08  2022-01-27   2022-02-17

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NS Dividend History,NS,2022-08-05,10.32,1.6,0.0,https://www.nasdaq.com/market-activity/stocks/ns/dividend-history,Nustar Energy L.P.,NYQ,Energy,1.9591,15.18,12.8,18.05,12.36,2022-11-03 20:30:00,2022-08-12 08:00:00,2022-08-05 08:00:00,1.54,9.857143,-1.26,None,0.38,8.892795,256091248,0.00243,200.039,1.02463,None,0.1032,1.6,1.6,0.103159,https://finance.yahoo.com/quote/NS/key-statistics?p=NS,0.302814,dataset,https://seekingalpha.com/symbol/NS

https://finance.yahoo.com/quote/NS/key-statistics?p=NS

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.103159
dividend_yield_pct                            10.32
earnings_date                   2022-11-03 20:30:00
current_price                                 15.18
fifty_two_week_low                             12.8
fifty_two_week_high                           18.05
sentiment_score                            0.302814

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-05  CASH          0.4       2022-07-29  2022-08-08   2022-08-12
1  2022-05-06  CASH          0.4       2022-04-28  2022-05-09   2022-05-13
2  2022-02-07  CASH          0.4       2022-01-28  2022-02-08   2022-02-14
3  2021-11-05  CASH          0.4       2021-10-29  2021-11-08   2021-11-12
4  2021-08-05  CASH          0.4       2021-07-21  2021-08-06   2021-08-12
5  2021-05-07  CASH          0.4       2021-04-30  2021-05-10   2021-05-14
6  2021-02-05  CASH          0.4       2021-01-29  2021-02-08   2021-02-12
7  2020-11-05  CASH          0.4       2020-10-27  2020-11-06   2020-11-13
8  2020-08-06  CASH          0.4       2020-07-28  2020-08-07   2020-08-13
9  2020-05-08  CASH          0.4       2020-05-01  2020-05-11   2020-05-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,FCRD Dividend History,FCRD,2022-09-14,11.31,0.44,0.0,https://www.nasdaq.com/market-activity/stocks/fcrd/dividend-history,First Eagle Alternative Capital,NMS,Financial Services,1.369196,3.89,2.74,4.89,14.11,2022-11-09 05:00:00,2022-09-30 08:00:00,2022-09-14 08:00:00,0.46,8.456522,0.14,27.785715,1.8,0.733271,9966250,-0.13868,140.036,3.788581,None,0.1131,0.44,0.4,0.102828,https://finance.yahoo.com/quote/FCRD/key-statistics?p=FCRD,0.098667,dataset,https://seekingalpha.com/symbol/FCRD

https://finance.yahoo.com/quote/FCRD/key-statistics?p=FCRD

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.102828
dividend_yield_pct                            11.31
earnings_date                   2022-11-09 05:00:00
current_price                                  3.89
fifty_two_week_low                             2.74
fifty_two_week_high                            4.89
sentiment_score                            0.098667

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-14  CASH         0.11       2022-08-05  2022-09-15   2022-09-30
1  2022-06-14  CASH         0.10       2022-05-05  2022-06-15   2022-06-30
2  2022-03-14  CASH         0.10       2022-03-01  2022-03-15   2022-03-31
3  2021-12-14  CASH         0.10       2021-11-02  2021-12-15   2021-12-31
4  2021-09-14  CASH         0.10       2021-08-03  2021-09-15   2021-09-30
5  2021-06-14  CASH         0.10       2021-05-04  2021-06-15   2021-06-30
6  2021-03-12  CASH         0.10       2021-03-02  2021-03-15   2021-03-31
7  2020-12-14  CASH         0.10       2020-10-30  2020-12-15   2020-12-31
8  2020-09-14  CASH         0.10       2020-08-04  2020-09-15   2020-09-30
9  2020-06-12  CASH         0.10       2020-05-05  2020-06-15   2020-06-30

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SJT Dividend History,SJT,2022-09-29,15.64,1.491804,0,https://www.nasdaq.com/market-activity/stocks/sjt/dividend-history,San Juan Basin Royalty Trust,NYQ,Energy,1.084008,10.51,5.54,15.43,9.47,2022-11-15 05:00:00,2022-10-17 08:00:00,2022-09-29 08:00:00,None,None,1.08,9.731482,None,148.02817,None,12.704511,None,9.707555,1,0.1623,1.66,1.046,0.102348,https://finance.yahoo.com/quote/SJT/key-statistics?p=SJT,0.341957,yahoo_finance,https://seekingalpha.com/symbol/SJT

https://finance.yahoo.com/quote/SJT/key-statistics?p=SJT

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.102348
dividend_yield_pct                            15.64
earnings_date                   2022-11-15 05:00:00
current_price                                 10.51
fifty_two_week_low                             5.54
fifty_two_week_high                           15.43
sentiment_score                            0.341957

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH     0.124317       2022-09-20  2022-09-30   2022-10-17
1  2022-08-30  CASH     0.183448       2022-08-19  2022-08-31   2022-09-15
2  2022-07-28  CASH     0.145185       2022-07-19  2022-07-29   2022-08-12
3  2022-06-29  CASH     0.111613       2022-06-17  2022-06-30   2022-07-15
4  2022-05-27  CASH     0.091781       2022-05-20  2022-05-31   2022-06-14
5  2022-04-28  CASH     0.082883       2022-04-19  2022-04-29   2022-05-13
6  2022-03-30  CASH     0.119104       2022-03-21  2022-03-31   2022-04-14
7  2022-02-25  CASH     0.085744       2022-02-17  2022-02-28   2022-03-14
8  2022-01-28  CASH     0.103446       2022-01-21  2022-01-31   2022-02-14
9  2021-12-30  CASH     0.112441       2021-12-20  2021-12-31   2022-01-14

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NMFC Dividend History,NMFC,2022-09-15,9.84,1.2,10.27,https://www.nasdaq.com/market-activity/stocks/nmfc/dividend-history,New Mountain Finance Corporatio,NGM,Financial Services,1.217022,12.43,11.09,14.11,10.47,2022-11-09 05:00:00,2020-09-30 08:00:00,2022-09-15 08:00:00,1.25,9.944,1.21,10.272727,6.58,0.92623,72382248,0.09591,146.463,4.490956,0.9917,0.0984,1.2,1.2,0.098441,https://finance.yahoo.com/quote/NMFC/key-statistics?p=NMFC,0.10534,dataset,https://seekingalpha.com/symbol/NMFC

https://finance.yahoo.com/quote/NMFC/key-statistics?p=NMFC

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.098441
dividend_yield_pct                             9.84
earnings_date                   2022-11-09 05:00:00
current_price                                 12.43
fifty_two_week_low                            11.09
fifty_two_week_high                           14.11
sentiment_score                             0.10534

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-15  CASH          0.3  2022-08-08 00:00:00  2022-09-16   2022-09-30
1  2022-06-15  CASH          0.3  2022-05-09 00:00:00  2022-06-16   2022-06-30
2  2022-03-16  CASH          0.3  2022-02-28 00:00:00  2022-03-17   2022-03-31
3  2021-12-15  CASH          0.3  2021-11-03 00:00:00  2021-12-16   2021-12-30
4  2021-09-15  CASH          0.3  2021-08-04 00:00:00  2021-09-16   2021-09-30
5  2021-06-15  CASH          0.3  2021-04-30 00:00:00  2021-06-16   2021-06-30
6  2021-03-16  CASH          0.3  2021-02-17 00:00:00  2021-03-17   2021-03-31
7  2020-12-15  CASH          0.3  2020-11-04 00:00:00  2020-12-16   2020-12-30
8  2020-09-15  CASH          0.3  0001-01-01 00:00:00  2020-09-16   2020-09-30
9  2020-06-15  CASH          0.3  2020-04-29 00:00:00  2020-06-16   2020-06-30

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,DMLP,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/dmlp/dividend-history,"Dorchester Minerals, L.P.",NMS,Energy,1.211864,30.31,17.1,32.61,10.09,2022-11-02 23:50:00,2022-11-10 08:00:00,2022-07-29 08:00:00,None,None,2.91,10.415807,None,6.701305,68747000,0.7932,1.014,8.220689,0.8183,0.1176,3.5,2.87,0.096471,https://finance.yahoo.com/quote/DMLP/key-statistics?p=DMLP,0.087788,dataset,https://seekingalpha.com/symbol/DMLP

https://finance.yahoo.com/quote/DMLP/key-statistics?p=DMLP

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.096471
dividend_yield_pct                                0
earnings_date                   2022-11-02 23:50:00
current_price                                 30.31
fifty_two_week_low                             17.1
fifty_two_week_high                           32.61
sentiment_score                            0.087788

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,PNNT Dividend History,PNNT,2022-09-16,10.81,0.6,10.74,https://www.nasdaq.com/market-activity/stocks/pnnt/dividend-history,PennantPark Investment Corporat,NYQ,Financial Services,1.62675,5.69,5.33,8.02,11.12,2022-11-17 05:00:00,2022-04-01 08:00:00,2022-09-16 08:00:00,0.71,8.014085,0.53,10.735849,0.25,0.589393,-25409302,0.05538,118.249,3.753454,0.9906,0.1,0.56,0.525,0.094595,https://finance.yahoo.com/quote/PNNT/key-statistics?p=PNNT,0.27115,dataset,https://seekingalpha.com/symbol/PNNT

https://finance.yahoo.com/quote/PNNT/key-statistics?p=PNNT

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.094595
dividend_yield_pct                            10.81
earnings_date                   2022-11-17 05:00:00
current_price                                  5.69
fifty_two_week_low                             5.33
fifty_two_week_high                            8.02
sentiment_score                             0.27115

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-16  CASH        0.150       2022-08-03  2022-09-19   2022-10-03
1  2022-06-16  CASH        0.145       2022-05-04  2022-06-17   2022-07-01
2  2022-03-16  CASH        0.140       2022-02-09  2022-03-17   2022-04-01
3  2021-12-17  CASH        0.120       2021-12-02  2021-12-20   2022-01-03
4  2021-09-16  CASH        0.120       2021-09-02  2021-09-17   2021-10-01
5  2021-06-16  CASH        0.120       2021-06-02  2021-06-17   2021-07-01
6  2021-03-17  CASH        0.120       2021-03-02  2021-03-18   2021-04-01
7  2020-12-16  CASH        0.120       2020-12-02  2020-12-17   2021-01-04
8  2020-09-16  CASH        0.120       2020-09-02  2020-09-17   2020-10-01
9  2020-06-16  CASH        0.120       2020-06-02  2020-06-17   2020-07-01

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SCM Dividend History,SCM,2022-09-29,8.85,0.24,8.44,https://www.nasdaq.com/market-activity/stocks/scm/dividend-history,Stellus Capital Investment Corp,NYQ,Financial Services,1.221812,12.91,11.02,14.74,10.37,2022-10-26 18:59:00,2022-12-29 08:00:00,2022-09-29 08:00:00,1.27,10.165355,1.52,8.493421,None,0.901662,21529138,0.1068,210.069,3.81231,0.7301,0.0885,1.12,1.109,0.087668,https://finance.yahoo.com/quote/SCM/key-statistics?p=SCM,0.2123,dataset,https://seekingalpha.com/symbol/SCM

https://finance.yahoo.com/quote/SCM/key-statistics?p=SCM

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.087668
dividend_yield_pct                             8.85
earnings_date                   2022-10-26 18:59:00
current_price                                 12.91
fifty_two_week_low                            11.02
fifty_two_week_high                           14.74
sentiment_score                              0.2123

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH       0.0200       2022-07-13  2022-09-30   2022-10-14
1  2022-08-30  CASH       0.0933       2022-07-13  2022-08-31   2022-09-15
2  2022-07-28  CASH       0.0200       2022-07-13  2022-07-29   2022-08-15
3  2022-06-29  CASH       0.0933       2022-04-19  2022-06-30   2022-07-15
4  2022-05-26  CASH       0.0933       2022-04-19  2022-05-27   2022-06-15
5  2022-05-26  CASH       0.0200       2022-04-19  2022-05-27   2022-06-15
6  2022-04-28  CASH       0.0933       2022-04-19  2022-04-29   2022-05-13
7  2022-04-28  CASH       0.0200       2022-04-19  2022-04-29   2022-05-13
8  2022-03-30  CASH       0.0200       2021-10-29  2022-03-31   2022-04-15
9  2022-02-24  CASH       0.0200       2021-10-29  2022-02-25   2022-03-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,AM Dividend History,AM,2022-07-26,8.73,0.9,14.84,https://www.nasdaq.com/market-activity/stocks/am/dividend-history,Antero Midstream Corporation,NYQ,Energy,2.333824,10.24,8.56,11.565,11.18,2022-10-27 04:00:00,2022-11-09 08:00:00,2022-07-26 08:00:00,0.8,12.799999,0.68,15.058823,2.19,2.196953,134185752,0.14364,141.605,5.106935,1.3235,0.0873,0.9,0.9,0.087294,https://finance.yahoo.com/quote/AM/key-statistics?p=AM,0.091271,dataset,https://seekingalpha.com/symbol/AM

https://finance.yahoo.com/quote/AM/key-statistics?p=AM

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.087294
dividend_yield_pct                             8.73
earnings_date                   2022-10-27 04:00:00
current_price                                 10.24
fifty_two_week_low                             8.56
fifty_two_week_high                          11.565
sentiment_score                            0.091271

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-07-26  CASH       0.2250       2022-07-13  2022-07-27   2022-08-10
1  2022-04-26  CASH       0.2250       2022-04-13  2022-04-27   2022-05-11
2  2022-01-25  CASH       0.2250       2022-01-12  2022-01-26   2022-02-09
3  2021-10-26  CASH       0.2250       2021-10-13  2021-10-27   2021-11-10
4  2021-07-27  CASH       0.2250       2021-07-14  2021-07-28   2021-08-11
5  2021-04-27  CASH       0.2250       2021-04-14  2021-04-28   2021-05-12
6  2021-02-02  CASH       0.3075       2021-01-20  2021-02-03   2021-02-11
7  2020-10-28  CASH       0.3075       2020-10-14  2020-10-29   2020-11-12
8  2020-07-29  CASH       0.3075       2020-07-15  2020-07-30   2020-08-12
9  2020-04-29  CASH       0.3075       2020-04-15  2020-04-30   2020-05-12

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,SRLP,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/srlp/dividend-history,Sprague Resources LP,NYQ,Energy,0.377671,20.39,12.31,20.4007,13.54,2022-11-08 21:30:00,2022-08-10 08:00:00,2022-08-04 08:00:00,1.9,10.731579,-3.808,None,None,None,46320000,None,None,0.109273,None,0.0862,1.74,1.735,0.086104,https://finance.yahoo.com/quote/SRLP/key-statistics?p=SRLP,0.082317,dataset,https://seekingalpha.com/symbol/SRLP

https://finance.yahoo.com/quote/SRLP/key-statistics?p=SRLP

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.086104
dividend_yield_pct                                0
earnings_date                   2022-11-08 21:30:00
current_price                                 20.39
fifty_two_week_low                            12.31
fifty_two_week_high                         20.4007
sentiment_score                            0.082317

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CEQP Dividend History,CEQP,2022-08-04,8.65,2.62,0.0,https://www.nasdaq.com/market-activity/stocks/ceqp/dividend-history,Crestwood Equity Partners LP,NYQ,Energy,2.599484,29.96,22.88,32.96,10.58,2022-11-02 20:30:00,2022-08-12 08:00:00,2022-08-04 08:00:00,1.89,15.851851,-0.798,None,5.64,2.238159,-28300000,0.05076,125.409,0.556081,None,0.0865,2.62,2.56,0.084488,https://finance.yahoo.com/quote/CEQP/key-statistics?p=CEQP,0.127895,dataset,https://seekingalpha.com/symbol/CEQP

https://finance.yahoo.com/quote/CEQP/key-statistics?p=CEQP

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.084488
dividend_yield_pct                             8.65
earnings_date                   2022-11-02 20:30:00
current_price                                 29.96
fifty_two_week_low                            22.88
fifty_two_week_high                           32.96
sentiment_score                            0.127895

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-04  CASH        0.655       2022-07-14  2022-08-05   2022-08-12
1  2022-05-05  CASH        0.655       2022-04-14  2022-05-06   2022-05-13
2  2022-02-04  CASH        0.625       2022-01-20  2022-02-07   2022-02-14
3  2021-11-04  CASH        0.625       2021-10-14  2021-11-05   2021-11-12
4  2021-08-05  CASH        0.625       2021-07-15  2021-08-06   2021-08-13
5  2021-05-06  CASH        0.625       2021-04-15  2021-05-07   2021-05-14
6  2021-02-04  CASH        0.625       2021-01-21  2021-02-05   2021-02-12
7  2020-11-05  CASH        0.625       2020-10-15  2020-11-06   2020-11-13
8  2020-08-06  CASH        0.625       2020-07-16  2020-08-07   2020-08-14
9  2020-05-07  CASH        0.625       2020-04-16  2020-05-08   2020-05-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,PVL Dividend History,PVL,2022-09-29,17.82,0.606,0,https://www.nasdaq.com/market-activity/stocks/pvl/dividend-history,Permianville Royalty Trust Trus,NYQ,Energy,1.324981,3.81,1.97,5.79,13.53,2022-11-15 05:00:00,2022-10-17 08:00:00,2022-09-29 08:00:00,0.05,76.2,0.26,14.653847,None,2.00105,None,0.13343,None,11.842918,1.1711,0.106,0.39,0.308,0.082796,https://finance.yahoo.com/quote/PVL/key-statistics?p=PVL,0.38295,dataset,https://seekingalpha.com/symbol/PVL

https://finance.yahoo.com/quote/PVL/key-statistics?p=PVL

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.082796
dividend_yield_pct                            17.82
earnings_date                   2022-11-15 05:00:00
current_price                                  3.81
fifty_two_week_low                             1.97
fifty_two_week_high                            5.79
sentiment_score                             0.38295

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH       0.0505       2022-09-16  2022-09-30   2022-10-17
1  2022-08-30  CASH       0.0245       2022-08-18  2022-08-31   2022-09-15
2  2022-07-28  CASH       0.0215       2022-07-18  2022-07-29   2022-08-12
3  2022-06-29  CASH       0.0450       2022-06-17  2022-06-30   2022-07-15
4  2022-05-27  CASH       0.0320       2022-05-16  2022-05-31   2022-06-14
5  2022-04-28  CASH       0.0315       2022-04-18  2022-04-29   2022-05-16
6  2022-03-30  CASH       0.0160       2022-03-18  2022-03-31   2022-04-14
7  2022-02-25  CASH       0.0410       2022-02-18  2022-02-28   2022-03-14
8  2022-01-28  CASH       0.0230       2022-01-18  2022-01-31   2022-02-14
9  2021-12-30  CASH       0.0250       2021-12-17  2021-12-31   2022-01-14

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,GLP,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/glp/dividend-history,Global Partners LP Global Partn,NYQ,Energy,1.271554,28.67,20.23,30.26,10.87,2022-11-04 20:30:00,2022-08-12 08:00:00,2022-08-05 08:00:00,2.91,9.852234,6.65,4.311278,-0.22,1.843611,338759872,0.41181,205.56,0.056534,0.3504,0.0841,2.42,2.36,0.08203,https://finance.yahoo.com/quote/GLP/key-statistics?p=GLP,0.244,dataset,https://seekingalpha.com/symbol/GLP

https://finance.yahoo.com/quote/GLP/key-statistics?p=GLP

                                                  0
sector                                       Energy
trailing_annual_dividend_yield              0.08203
dividend_yield_pct                                0
earnings_date                   2022-11-04 20:30:00
current_price                                 28.67
fifty_two_week_low                            20.23
fifty_two_week_high                           30.26
sentiment_score                               0.244

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SUN Dividend History,SUN,2022-08-05,7.95,3.302,7.56,https://www.nasdaq.com/market-activity/stocks/sun/dividend-history,Sunoco LP,NYQ,Energy,1.403095,41.38,34.26,46.95,10.8,2022-11-01 21:30:00,2022-08-19 08:00:00,2022-08-05 08:00:00,3.98,10.396985,5.45,7.592661,2.87,3.536752,132625000,0.61512,416.122,0.15154,0.6037,0.0795,3.3,3.302,0.079528,https://finance.yahoo.com/quote/SUN/key-statistics?p=SUN,0.15952,dataset,https://seekingalpha.com/symbol/SUN

https://finance.yahoo.com/quote/SUN/key-statistics?p=SUN

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.079528
dividend_yield_pct                             7.95
earnings_date                   2022-11-01 21:30:00
current_price                                 41.38
fifty_two_week_low                            34.26
fifty_two_week_high                           46.95
sentiment_score                             0.15952

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-05  CASH       0.8255       2022-07-26  2022-08-08   2022-08-19
1  2022-05-06  CASH       0.8255       2022-04-26  2022-05-09   2022-05-19
2  2022-02-07  CASH       0.8255       2022-01-26  2022-02-08   2022-02-18
3  2021-11-04  CASH       0.8255       2021-10-25  2021-11-05   2021-11-19
4  2021-08-05  CASH       0.8255       2021-07-22  2021-08-06   2021-08-19
5  2021-05-10  CASH       0.8255       2021-04-22  2021-05-11   2021-05-19
6  2021-02-05  CASH       0.8255       2021-01-28  2021-02-08   2021-02-19
7  2020-11-05  CASH       0.8255       2020-10-26  2020-11-06   2020-11-19
8  2020-08-06  CASH       0.8255       2020-07-28  2020-08-07   2020-08-19
9  2020-05-06  CASH       0.8255       2020-04-02  2020-05-07   2020-05-19

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SPH Dividend History,SPH,2022-08-01,7.86,1.3,5.89,https://www.nasdaq.com/market-activity/stocks/sph/dividend-history,"Suburban Propane Partners, L.P.",NYQ,Utilities,0.638909,16.38,13.83,17.75,10.96,2022-11-10 21:30:00,2022-08-09 08:00:00,2022-08-01 08:00:00,2.45,6.685714,2.78,5.892086,1.39,1.823038,116565376,0.3481,214.949,0.700865,0.4676,0.0786,1.3,1.3,0.078597,https://finance.yahoo.com/quote/SPH/key-statistics?p=SPH,0.032329,dataset,https://seekingalpha.com/symbol/SPH

https://finance.yahoo.com/quote/SPH/key-statistics?p=SPH

                                                  0
sector                                    Utilities
trailing_annual_dividend_yield             0.078597
dividend_yield_pct                             7.86
earnings_date                   2022-11-10 21:30:00
current_price                                 16.38
fifty_two_week_low                            13.83
fifty_two_week_high                           17.75
sentiment_score                            0.032329

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-08-01  CASH        0.325  2022-07-21 00:00:00  2022-08-02   2022-08-09
1  2022-05-02  CASH        0.325  2022-04-21 00:00:00  2022-05-03   2022-05-10
2  2022-01-31  CASH        0.325  2022-01-20 00:00:00  2022-02-01   2022-02-08
3  2021-11-01  CASH        0.325  2021-10-21 00:00:00  2021-11-02   2021-11-09
4  2021-08-02  CASH        0.325  2021-07-22 00:00:00  2021-08-03   2021-08-10
5  2021-05-03  CASH        0.300  2021-04-22 00:00:00  2021-05-04   2021-05-11
6  2021-02-01  CASH        0.300  2021-01-21 00:00:00  2021-02-02   2021-02-09
7  2020-11-02  CASH        0.300  2020-10-22 00:00:00  2020-11-03   2020-11-10
8  2020-08-03  CASH        0.300  2020-07-23 00:00:00  2020-08-04   2020-08-11
9  2020-05-04  CASH        0.600  2020-04-23 00:00:00  2020-05-05   2020-05-12

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,FDUS Dividend History,FDUS,2021-12-02,9.29,1.64,4.44,https://www.nasdaq.com/market-activity/stocks/fdus/dividend-history,Fidus Investment Corporation,NMS,Financial Services,1.581061,17.9,16.4,21.15,10.25,2022-11-02 18:59:00,2022-12-16 08:00:00,2022-09-08 08:00:00,1.86,9.623655,4.02,4.452736,3.36,0.903812,15712750,0.21537,79.944,5.027867,0.3383,0.0816,1.44,1.36,0.077054,https://finance.yahoo.com/quote/FDUS/key-statistics?p=FDUS,0.0,dataset,https://seekingalpha.com/symbol/FDUS

https://finance.yahoo.com/quote/FDUS/key-statistics?p=FDUS

                                                  0
sector                           Financial Services
trailing_annual_dividend_yield             0.077054
dividend_yield_pct                             9.29
earnings_date                   2022-11-02 18:59:00
current_price                                  17.9
fifty_two_week_low                             16.4
fifty_two_week_high                           21.15
sentiment_score                                 0.0

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-12-01  CASH         0.43       2022-08-01  2022-12-02   2022-12-16
1  2022-09-08  CASH         0.43       2022-08-01  2022-09-09   2022-09-23
2  2022-06-09  CASH         0.43       2022-05-02  2022-06-10   2022-06-24
3  2022-03-10  CASH         0.53       2022-02-15  2022-03-11   2022-03-25
4  2021-12-02  CASH         0.41       2021-11-01  2021-12-03   2021-12-17
5  2021-09-13  CASH         0.42       2021-08-02  2021-09-14   2021-09-28
6  2021-06-11  CASH         0.39       2021-05-03  2021-06-14   2021-06-28
7  2021-03-11  CASH         0.38       2021-02-09  2021-03-12   2021-03-26
8  2020-12-03  CASH         0.34       2020-10-26  2020-12-04   2020-12-18
9  2020-09-10  CASH         0.30       2020-08-03  2020-09-11   2020-09-25

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,SHLX,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/shlx/dividend-history,"Shell Midstream Partners, L.P.",NYQ,Energy,1.214812,15.82,10.76,16.08,10.18,2022-10-27 20:30:00,2022-08-12 08:00:00,2022-08-01 08:00:00,1.54,10.272727,1.21,13.07438,0.9,10.102171,129875000,None,None,11.251081,0.9917,0.0759,1.2,1.2,0.075805,https://finance.yahoo.com/quote/SHLX/key-statistics?p=SHLX,0.149755,dataset,https://seekingalpha.com/symbol/SHLX

https://finance.yahoo.com/quote/SHLX/key-statistics?p=SHLX

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.075805
dividend_yield_pct                                0
earnings_date                   2022-10-27 20:30:00
current_price                                 15.82
fifty_two_week_low                            10.76
fifty_two_week_high                           16.08
sentiment_score                            0.149755

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,DKL Dividend History,DKL,2022-08-03,7.45,3.94,14.39,https://www.nasdaq.com/market-activity/stocks/dkl/dividend-history,"Delek Logistics Partners, L.P.",NYQ,Energy,2.231024,51.96,39,64.47,10.36,2022-11-07 21:30:00,2022-08-11 08:00:00,2022-08-03 08:00:00,6.68,7.778443,3.61,14.393352,0.96,None,150200752,None,None,2.64933,1.0651,0.0745,3.94,3.89,0.073549,https://finance.yahoo.com/quote/DKL/key-statistics?p=DKL,0.167545,dataset,https://seekingalpha.com/symbol/DKL

https://finance.yahoo.com/quote/DKL/key-statistics?p=DKL

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.073549
dividend_yield_pct                             7.45
earnings_date                   2022-11-07 21:30:00
current_price                                 51.96
fifty_two_week_low                               39
fifty_two_week_high                           64.47
sentiment_score                            0.167545

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-08-03,CASH,0.985,2022-07-25 00:00:00,2022-08-04 00:00:00,2022-08-11
1,2022-05-04,CASH,0.980,2022-04-25 00:00:00,2022-05-05 00:00:00,2022-05-12
2,2022-01-31,CASH,0.975,2022-01-21 00:00:00,2022-02-01 00:00:00,2022-02-08
3,2021-11-04,CASH,0.950,2021-10-26 00:00:00,2021-11-05 00:00:00,2021-11-10
4,2021-08-04,CASH,0.940,2021-07-26 00:00:00,2021-08-05 00:00:00,2021-08-11
5,2021-05-07,CASH,0.920,2021-04-30 00:00:00,2021-05-10 00:00:00,2021-05-14
6,2021-02-01,CASH,0.910,2021-01-25 00:00:00,2021-02-02 00:00:00,2021-02-09
7,2020-11-05,CASH,0.905,2020-10-27 00:00:00,2020-11-06 00:00:00,2020-11-12
8,2020-08-06,CASH,0.900,2020-07-27 00:00:00,2020-08-07 00:00:00,2020-08-12
9,2020-05-04,CASH,0.890,2020-04-21 00:00:00,2020-05-05 00:00:00,2020-05-12

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,GEL Dividend History,GEL,2022-07-28,5.9,0.6,0.0,https://www.nasdaq.com/market-activity/stocks/gel/dividend-history,"Genesis Energy, L.P.",NYQ,Energy,2.201547,10.21,7.61,13.48,10.78,2022-10-27 20:30:00,2022-11-14 08:00:00,2022-07-28 08:00:00,0.78,13.089745,-1.72,None,0.64,2.118697,-99304872,0.00065,189.205,0.509981,None,0.059,0.6,0.6,0.058997,https://finance.yahoo.com/quote/GEL/key-statistics?p=GEL,0.26747,dataset,https://seekingalpha.com/symbol/GEL

https://finance.yahoo.com/quote/GEL/key-statistics?p=GEL

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.058997
dividend_yield_pct                              5.9
earnings_date                   2022-10-27 20:30:00
current_price                                 10.21
fifty_two_week_low                             7.61
fifty_two_week_high                           13.48
sentiment_score                             0.26747

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-07-28  CASH         0.15  2022-07-12 00:00:00  2022-07-29   2022-08-12
1  2022-04-28  CASH         0.15  2022-04-07 00:00:00  2022-04-29   2022-05-13
2  2022-01-28  CASH         0.15  2022-01-13 00:00:00  2022-01-31   2022-02-14
3  2021-10-28  CASH         0.15  2021-10-05 00:00:00  2021-10-29   2021-11-12
4  2021-07-29  CASH         0.15  2021-07-07 00:00:00  2021-07-30   2021-08-13
5  2021-04-29  CASH         0.15  2021-04-07 00:00:00  2021-04-30   2021-05-14
6  2021-01-28  CASH         0.15  2021-01-14 00:00:00  2021-01-29   2021-02-12
7  2020-10-29  CASH         0.15  2020-10-07 00:00:00  2020-10-30   2020-11-13
8  2020-07-30  CASH         0.15  2020-07-08 00:00:00  2020-07-31   2020-08-14
9  2020-04-30  CASH         0.15  2020-04-08 00:00:00  2020-05-01   2020-05-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,WES,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/wes/dividend-history,"Western Midstream Partners, LP",NYQ,Energy,2.844509,27.74,18.95,29.5,10.41,2022-11-03 04:00:00,2022-08-12 08:00:00,2022-07-29 08:00:00,3.34,8.305389,2.68,10.350746,-2.47,3.508728,870278144,0.36092,201.474,3.438399,0.5481,0.0711,2,1.65,0.058698,https://finance.yahoo.com/quote/WES/key-statistics?p=WES,0.07636,dataset,https://seekingalpha.com/symbol/WES

https://finance.yahoo.com/quote/WES/key-statistics?p=WES

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.058698
dividend_yield_pct                                0
earnings_date                   2022-11-03 04:00:00
current_price                                 27.74
fifty_two_week_low                            18.95
fifty_two_week_high                            29.5
sentiment_score                             0.07636

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,PBFX Dividend History,PBFX,2022-08-10,5.69,1.2,8.63,https://www.nasdaq.com/market-activity/stocks/pbfx/dividend-history,PBF Logistics LP,NYQ,Energy,1.259764,21.15,10.65,21.84,10.99,2022-10-27 20:30:00,2022-08-25 08:00:00,2022-08-10 08:00:00,2.45,8.632652,2.47,8.562753,6.03,4.599826,140493504,0.6239,191.862,3.675766,0.4878,0.0569,1.2,1.2,0.056872,https://finance.yahoo.com/quote/PBFX/key-statistics?p=PBFX,0.298233,dataset,https://seekingalpha.com/symbol/PBFX

https://finance.yahoo.com/quote/PBFX/key-statistics?p=PBFX

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.056872
dividend_yield_pct                             5.69
earnings_date                   2022-10-27 20:30:00
current_price                                 21.15
fifty_two_week_low                            10.65
fifty_two_week_high                           21.84
sentiment_score                            0.298233

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-10  CASH          0.3       2022-07-28  2022-08-11   2022-08-25
1  2022-05-11  CASH          0.3       2022-04-28  2022-05-12   2022-05-26
2  2022-02-23  CASH          0.3       2022-02-10  2022-02-24   2022-03-10
3  2021-11-10  CASH          0.3       2021-10-28  2021-11-12   2021-11-30
4  2021-08-11  CASH          0.3       2021-07-29  2021-08-12   2021-08-26
5  2021-05-12  CASH          0.3       2021-04-29  2021-05-13   2021-05-27
6  2021-02-24  CASH          0.3       2021-02-11  2021-02-25   2021-03-17
7  2020-11-13  CASH          0.3       2020-10-29  2020-11-16   2020-11-30
8  2020-08-12  CASH          0.3       2020-07-31  2020-08-13   2020-08-26
9  2020-05-26  CASH          0.3       2020-05-15  2020-05-27   2020-06-17

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,DCP Dividend History,DCP,2022-07-28,4.37,1.72,10.43,https://www.nasdaq.com/market-activity/stocks/dcp/dividend-history,"DCP Midstream, LP",NYQ,Energy,2.542372,38.69,23.58,39.65,11.17,2022-10-31 18:59:00,2022-11-14 08:00:00,2022-07-28 08:00:00,4.96,7.800403,3.7,10.456757,0.32,1.500252,277875008,0.14113,84.829,0.564081,0.4216,0.0437,1.72,1.6,0.040619,https://finance.yahoo.com/quote/DCP/key-statistics?p=DCP,0.174858,dataset,https://seekingalpha.com/symbol/DCP

https://finance.yahoo.com/quote/DCP/key-statistics?p=DCP

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.040619
dividend_yield_pct                             4.37
earnings_date                   2022-10-31 18:59:00
current_price                                 38.69
fifty_two_week_low                            23.58
fifty_two_week_high                           39.65
sentiment_score                            0.174858

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-07-28  CASH         0.43       2022-07-19  2022-07-29   2022-08-12
1  2022-04-28  CASH         0.39       2022-04-19  2022-04-29   2022-05-13
2  2022-02-03  CASH         0.39       2022-01-24  2022-02-04   2022-02-14
3  2021-10-28  CASH         0.39       2021-10-12  2021-10-29   2021-11-12
4  2021-07-29  CASH         0.39       2021-07-20  2021-07-30   2021-08-13
5  2021-02-04  CASH         0.39       2021-01-21  2021-02-05   2021-02-12
6  2020-10-29  CASH         0.39       2020-10-16  2020-10-30   2020-11-13
7  2020-07-30  CASH         0.39       2020-07-21  2020-07-31   2020-08-14
8  2020-04-30  CASH         0.39       2020-04-21  2020-05-01   2020-05-15
9  2020-01-31  CASH         0.78       2020-01-22  2020-02-03   2020-02-14

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,ENLC,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/enlc/dividend-history,"EnLink Midstream, LLC",NYQ,Energy,2.520265,11.01,5.88,11.85,12.6,2022-11-02 04:00:00,2022-08-12 08:00:00,2022-07-28 08:00:00,0.59,18.661018,0.37,29.756758,0.28,4.088377,491262496,0.10353,149.387,0.590931,1.1149,0.0407,0.45,0.431,0.038969,https://finance.yahoo.com/quote/ENLC/key-statistics?p=ENLC,0.131177,dataset,https://seekingalpha.com/symbol/ENLC

https://finance.yahoo.com/quote/ENLC/key-statistics?p=ENLC

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.038969
dividend_yield_pct                                0
earnings_date                   2022-11-02 04:00:00
current_price                                 11.01
fifty_two_week_low                             5.88
fifty_two_week_high                           11.85
sentiment_score                            0.131177

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MMLP Dividend History,MMLP,2022-08-04,0.59,0.02,6.08,https://www.nasdaq.com/market-activity/stocks/mmlp/dividend-history,Martin Midstream Partners L.P.,NMS,Energy,2.134856,3.405,2.52,5.98,16.08,2022-11-03 04:00:00,2022-11-14 08:00:00,2022-08-04 08:00:00,0.05,68.1,0.55,6.190909,None,None,32374500,None,None,0.126789,0.0364,0.0059,0.02,0.02,0.005917,https://finance.yahoo.com/quote/MMLP/key-statistics?p=MMLP,0.112189,dataset,https://seekingalpha.com/symbol/MMLP

https://finance.yahoo.com/quote/MMLP/key-statistics?p=MMLP

                                                  0
sector                                       Energy
trailing_annual_dividend_yield             0.005917
dividend_yield_pct                             0.59
earnings_date                   2022-11-03 04:00:00
current_price                                 3.405
fifty_two_week_low                             2.52
fifty_two_week_high                            5.98
sentiment_score                            0.112189

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-11-04,CASH,0.005,2022-10-18 00:00:00,2022-11-07,2022-11-14 00:00:00
1,2022-08-04,CASH,0.005,2022-07-20 00:00:00,2022-08-05,2022-08-12 00:00:00
2,2022-05-05,CASH,0.005,2022-04-20 00:00:00,2022-05-06,2022-05-13 00:00:00
3,2022-02-04,CASH,0.005,2022-01-25 00:00:00,2022-02-07,2022-02-14 00:00:00
4,2021-11-04,CASH,0.005,2021-10-20 00:00:00,2021-11-05,2021-11-12 00:00:00
5,2021-08-05,CASH,0.005,2021-07-22 00:00:00,2021-08-06,2021-08-13 00:00:00
6,2021-05-06,CASH,0.005,2021-04-21 00:00:00,2021-05-07,2021-05-14 00:00:00
7,2021-02-04,CASH,0.005,2021-01-25 00:00:00,2021-02-05,2021-02-12 00:00:00
8,2020-11-05,CASH,0.005,2020-10-21 00:00:00,2020-11-06,2020-11-13 00:00:00
9,2020-08-06,CASH,0.005,2020-07-27 00:00:00,2020-08-07,2020-08-14 00:00:00

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,DX Dividend History,DX,2022-10-20,13.38,1.56,2.45,https://www.nasdaq.com/market-activity/stocks/dx/dividend-history,"Dynex Capital, Inc.",NYQ,Real Estate,None,10.97,10.92,18.05,11.4,2022-10-24 22:00:00,2022-11-01 08:00:00,2022-10-20 08:00:00,1.26,8.706349,3.98,2.756281,-1.37,0.606278,None,None,None,None,0.3679,0.1336,1.56,0,0,https://finance.yahoo.com/quote/DX/key-statistics?p=DX,-0.146921,dataset,https://seekingalpha.com/symbol/DX

https://finance.yahoo.com/quote/DX/key-statistics?p=DX

                                                  0
sector                                  Real Estate
trailing_annual_dividend_yield                    0
dividend_yield_pct                            13.38
earnings_date                   2022-10-24 22:00:00
current_price                                 10.97
fifty_two_week_low                            10.92
fifty_two_week_high                           18.05
sentiment_score                           -0.146921

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-20  CASH         0.13       2022-10-10  2022-10-21   2022-11-01
1  2022-09-22  CASH         0.13       2022-09-13  2022-09-23   2022-10-03
2  2022-08-19  CASH         0.13       2022-08-11  2022-08-22   2022-09-01
3  2022-07-21  CASH         0.13       2022-07-12  2022-07-22   2022-08-01
4  2022-06-23  CASH         0.13       2022-06-14  2022-06-24   2022-07-01
5  2022-05-20  CASH         0.13       2022-05-13  2022-05-23   2022-06-01
6  2022-04-21  CASH         0.13       2022-04-12  2022-04-22   2022-05-02
7  2022-03-21  CASH         0.13       2022-03-11  2022-03-22   2022-04-01
8  2022-02-18  CASH         0.13       2022-02-10  2022-02-22   2022-03-01
9  2022-01-21  CASH         0.13       2022-01-13  2022-01-24   2022-02-01

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,HIMX Dividend History,HIMX,2022-06-29,21.15,1.25,2.29,https://www.nasdaq.com/market-activity/stocks/himx/dividend-history,"Himax Technologies, Inc.",NMS,Technology,1.972365,5.85,4.81,16.5,None,2022-11-10 21:00:00,2022-07-12 08:00:00,2022-06-29 08:00:00,0.52,11.25,2.68,2.182836,None,1.216722,324474112,0.61147,23.884,0.637978,0.4881,0.2115,1.25,0,0,https://finance.yahoo.com/quote/HIMX/key-statistics?p=HIMX,0.021509,yahoo_finance,https://seekingalpha.com/symbol/HIMX

https://finance.yahoo.com/quote/HIMX/key-statistics?p=HIMX

                                                  0
sector                                   Technology
trailing_annual_dividend_yield                    0
dividend_yield_pct                            21.15
earnings_date                   2022-11-10 21:00:00
current_price                                  5.85
fifty_two_week_low                             4.81
fifty_two_week_high                            16.5
sentiment_score                            0.021509

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-06-29  CASH        1.250  2022-05-23 00:00:00  2022-06-30   2022-07-12
1  2021-06-29  CASH        0.272  2021-05-28 00:00:00  2021-06-30   2021-07-12
2  2018-07-18  CASH        0.100  2018-06-19 00:00:00  2018-07-19   2018-07-31
3  2017-07-27  CASH        0.240  0001-01-01 00:00:00  2017-07-31   2017-08-14
4  2016-07-20  CASH        0.130  2016-06-20 00:00:00  2016-07-22   2016-08-03
5  2015-06-24  CASH        0.300  2015-05-11 00:00:00  2015-06-26   2015-07-08
6  2014-07-09  CASH        0.270  2014-06-24 00:00:00  2014-07-11   2014-07-23
7  2013-07-17  CASH        0.250  2013-06-17 00:00:00  2013-07-19   2013-07-31

Stocks to track
- PBR-A
- PBR
- GOGL
- ORC - monthly
- OXLC - monthly