In [1]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.display import display
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np
import time
from datetime import datetime, timezone

In [4]:
%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_seq_items', 500)
pd.set_option("display.max_colwidth", None)

# Analyse High-Yield Dividend Stocks

In [5]:
from alphalib.analysis.dividend_yield import recommend_stocks

In [6]:
rec_stocks = recommend_stocks()

2022-10-24 17:12:40,776 - [ dividend_yield.py:38 - recommend_stocks() - INFO ] Analyze stocks by sector
2022-10-24 17:12:41,703 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for SPH
2022-10-24 17:12:50,602 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for GNE-PA
2022-10-24 17:13:13,237 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for GNE-PA
2022-10-24 17:13:13,239 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CNTHP
2022-10-24 17:13:33,253 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for CNTHP
2022-10-24 17:13:33,254 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CNLPL
2022-10-24 17:13:51,794 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for CNLPL
2022-10-24 17:13:51,796 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for IPWLK
2022-10-24 17:14:10,399 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for IPWLK
2022-10-24 17:14:10,401 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for MINDP
2022-10-24 17:14:14,270 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for NVEC
2022-10-24 17:14:17,970 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for TAIT
2022-10-24 17:14:22,277 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for IBM
2022-10-24 17:14:25,855 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for XRX
2022-10-24 17:14:29,660 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for IVR
2022-10-24 17:14:33,680 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for ORC
2022-10-24 17:14:37,569 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for WMC
2022-10-24 17:14:41,995 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for BVERS
2022-10-24 17:15:00,238 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for BVERS
2022-10-24 17:15:00,239 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for MITT
2022-10-24 17:15:18,902 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CWPS
2022-10-24 17:15:37,203 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for CWPS
2022-10-24 17:15:37,205 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for USDP
2022-10-24 17:15:42,095 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for IEP
2022-10-24 17:15:46,036 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for MMTRS
2022-10-24 17:16:04,880 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for MMTRS
2022-10-24 17:16:04,882 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CODI
2022-10-24 17:16:08,597 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for MTBCP
2022-10-24 17:16:27,064 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for MTBCP
2022-10-24 17:16:27,065 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CYCCP
2022-10-24 17:16:30,811 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for ABBV
2022-10-24 17:16:34,269 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for PDCO
2022-10-24 17:16:37,434 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for PETS
2022-10-24 17:16:40,982 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CEN
2022-10-24 17:16:44,471 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for NTG
2022-10-24 17:16:47,988 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for FMO
2022-10-24 17:17:07,240 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for FMO
2022-10-24 17:17:07,242 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CLM
2022-10-24 17:17:11,053 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CRF
2022-10-24 17:17:14,725 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CHKR
2022-10-24 17:17:32,731 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for CHKR
2022-10-24 17:17:32,733 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for ECTM
2022-10-24 17:17:51,291 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ECTM
2022-10-24 17:17:51,292 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for MMLP
2022-10-24 17:17:54,896 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for MVO
2022-10-24 17:17:58,576 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for TTYP
2022-10-24 17:18:17,312 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for TTYP
2022-10-24 17:18:17,314 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for VGR
2022-10-24 17:18:20,750 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for BGS
2022-10-24 17:18:25,100 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for MO
2022-10-24 17:18:28,859 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CHSCP
2022-10-24 17:18:32,307 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CHSCO
2022-10-24 17:18:36,504 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for FCNE
2022-10-24 17:18:54,364 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for FCNE
2022-10-24 17:18:54,367 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for BGFV
2022-10-24 17:18:57,973 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for CRWS
2022-10-24 17:19:01,639 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for GEF-B
2022-10-24 17:19:20,154 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for GEF-B
2022-10-24 17:19:20,156 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for KSS
2022-10-24 17:19:24,119 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for NCMI
2022-10-24 17:19:27,422 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for LUMN
2022-10-24 17:19:31,139 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for T
2022-10-24 17:19:34,858 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for SPOK
2022-10-24 17:19:38,518 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for EVC
2022-10-24 17:19:42,013 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for MSB
2022-10-24 17:19:45,627 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for WLKP
2022-10-24 17:20:03,832 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for WLKP
2022-10-24 17:20:03,834 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for EVA
2022-10-24 17:20:07,370 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for HL-PB
2022-10-24 17:20:26,550 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for HL-PB
2022-10-24 17:20:26,552 - [ dividend_yield.py:62 - recommend_stocks() - INFO ] Getting info for KRO
2022-10-24 17:20:30,344 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for PBR
2022-10-24 17:20:33,687 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for PBR-A
2022-10-24 17:20:51,842 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for PBR-A
2022-10-24 17:20:51,844 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for SNPTY
2022-10-24 17:21:11,065 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for SNPTY
2022-10-24 17:21:11,067 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for AMKBY
2022-10-24 17:21:30,366 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for AMKBY
2022-10-24 17:21:30,368 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for ISNPY
2022-10-24 17:21:48,959 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ISNPY
2022-10-24 17:21:48,961 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for NRDBY
2022-10-24 17:22:07,239 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for NRDBY
2022-10-24 17:22:07,240 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for ELP
2022-10-24 17:22:26,159 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for ELP
2022-10-24 17:22:26,160 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for NLY
2022-10-24 17:22:29,787 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for BAK
2022-10-24 17:22:33,008 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for AGNC
2022-10-24 17:22:36,266 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for ZIM
2022-10-24 17:22:40,891 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for CCU
2022-10-24 17:22:44,297 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for SBLK
2022-10-24 17:22:47,887 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for GOGL
2022-10-24 17:22:51,319 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for CLM
2022-10-24 17:22:54,857 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for CIM
2022-10-24 17:22:58,713 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for PMT
2022-10-24 17:23:16,802 - [ nasdaq.py:45 - get_stock_details() - WARNING ] Unable to get details for PMT
2022-10-24 17:23:16,804 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for HIMX
2022-10-24 17:23:20,765 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for MFA
2022-10-24 17:23:24,232 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for CRF
2022-10-24 17:23:28,662 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for BRMK
2022-10-24 17:23:32,586 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for EGLE
2022-10-24 17:23:35,871 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for LPG
2022-10-24 17:23:39,300 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for SJT
2022-10-24 17:23:42,890 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for ECC
2022-10-24 17:23:46,485 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for IVR
2022-10-24 17:23:49,751 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for ORC
2022-10-24 17:23:53,194 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for BPT
2022-10-24 17:23:58,028 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for GLO
2022-10-24 17:24:02,185 - [ dividend_yield.py:74 - recommend_stocks() - INFO ] Getting info for CHMI

In [12]:
for s in rec_stocks:
    df = s.to_df()
    
    display(df)
    print("\n")
    print(s.yfinance_url)
    display(df[["dividend_yield_pct", "current_price", "fifty_two_week_low", "fifty_two_week_high"]].T)
    display(s.dividend_history.head(10))
    
    print("\n\n\n")

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ZIM Dividend History,ZIM,2022-08-26,46.28,19.0,0.46,https://www.nasdaq.com/market-activity/stocks/zim/dividend-history,ZIM Integrated Shipping Service,NYQ,Industrials,None,23.59,22.635,91.23,None,2022-11-15 21:30:00,2022-09-08 08:00:00,2022-08-26 08:00:00,8.06,2.926799,51.72,0.45611,-0.01,0.540237,4778290176,1.78513,86.713,0.205993,0.4321,1.1488,27.1,27.1,1.175705,https://finance.yahoo.com/quote/ZIM/key-statistics?p=ZIM,0,yahoo_finance,https://seekingalpha.com/symbol/ZIM

https://finance.yahoo.com/quote/ZIM/key-statistics?p=ZIM

                          0
dividend_yield_pct   46.280
current_price        23.590
fifty_two_week_low   22.635
fifty_two_week_high  91.230

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-26  CASH         4.75       2022-08-17  2022-08-29   2022-09-08
1  2022-05-27  CASH         2.85       2022-05-18  2022-05-31   2022-06-08
2  2022-03-22  CASH        17.00       2022-03-09  2022-03-23   2022-04-04
3  2021-12-15  CASH         2.50       2021-11-17  2021-12-16   2021-12-27
4  2021-08-24  CASH         2.00       2021-05-19  2021-08-25   2021-09-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SBLK Dividend History,SBLK,2022-08-24,35.09,6.6,2.21,https://www.nasdaq.com/market-activity/stocks/sblk/dividend-history,Star Bulk Carriers Corp.,NMS,Industrials,1.053058,19.25,16.85,33.99,None,2022-11-17 05:00:00,2022-09-08 08:00:00,2022-08-24 08:00:00,3.88,4.96134,8.74,2.202517,-0.18,0.93907,663366848,0.46147,67.47,1.167073,0.6407,0.3403,6.55,6.55,0.348219,https://finance.yahoo.com/quote/SBLK/key-statistics?p=SBLK,0,yahoo_finance,https://seekingalpha.com/symbol/SBLK

https://finance.yahoo.com/quote/SBLK/key-statistics?p=SBLK

                         0
dividend_yield_pct   35.09
current_price        19.25
fifty_two_week_low   16.85
fifty_two_week_high  33.99

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-24  CASH         1.65       2022-08-04  2022-08-25   2022-09-08
1  2022-06-02  CASH         1.65       2022-05-24  2022-06-03   2022-06-16
2  2022-03-01  CASH         2.00       2022-02-16  2022-03-02   2022-03-15
3  2021-12-09  CASH         1.25       2021-11-16  2021-12-10   2021-12-22
4  2021-08-20  CASH         0.70       2021-08-05  2021-08-23   2021-09-08
5  2021-05-27  CASH         0.30       2021-05-19  2021-05-31   2021-06-14
6  2020-02-28  CASH         0.05       2020-02-19  2020-03-02   2020-03-12
7  2019-11-29  CASH         0.05       2019-11-20  2019-12-02   2019-12-16

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,GOGL Dividend History,GOGL,2022-09-06,28.67,2.4,2.52,https://www.nasdaq.com/market-activity/stocks/gogl/dividend-history,Golden Ocean Group Limited,NMS,Industrials,1.369196,8.61,7.24,16.46,None,2022-11-30 18:59:00,2022-09-14 08:00:00,2022-09-06 08:00:00,18.8,0.457979,3.47,2.481268,None,0.892413,446609632,0.36823,69.431,1.285687,0.7925,0.2867,2.4,2.85,0.340502,https://finance.yahoo.com/quote/GOGL/key-statistics?p=GOGL,0,yahoo_finance,https://seekingalpha.com/symbol/GOGL

https://finance.yahoo.com/quote/GOGL/key-statistics?p=GOGL

                         0
dividend_yield_pct   28.67
current_price         8.61
fifty_two_week_low    7.24
fifty_two_week_high  16.46

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-09-06,CASH,0.600,2022-08-25 00:00:00,2022-09-07,2022-09-14 00:00:00
1,2022-05-31,CASH,0.500,2022-05-19 00:00:00,2022-06-01,2022-06-08 00:00:00
2,2022-03-02,CASH,0.900,2022-02-16 00:00:00,2022-03-03,2022-03-10 00:00:00
3,2021-12-08,CASH,0.850,2021-11-24 00:00:00,2021-12-09,2021-12-16 00:00:00
4,2021-09-09,CASH,0.500,2021-08-26 00:00:00,2021-09-10,2021-09-20 00:00:00
5,2021-06-02,CASH,0.250,2021-05-20 00:00:00,2021-06-03,2021-06-10 00:00:00
6,2020-03-05,CASH,0.050,2020-02-18 00:00:00,2020-03-06,2020-03-19 00:00:00
7,2019-12-02,CASH,0.150,2019-11-21 00:00:00,2019-12-03,2019-12-18 00:00:00
8,2019-08-29,CASH,0.100,2019-08-15 00:00:00,2019-08-30,2019-09-12 00:00:00
9,2019-06-05,CASH,0.025,2019-05-22 00:00:00,2019-06-06,2019-06-20 00:00:00

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NCMI Dividend History,NCMI,2022-08-19,28.62,0.12,0.0,https://www.nasdaq.com/market-activity/stocks/ncmi/dividend-history,"National CineMedia, Inc.",NMS,Communication Services,1.927781,0.404,0.4,3.93,11.42,2022-11-07 18:59:00,2022-09-06 08:00:00,2022-08-19 08:00:00,0.08,5.05,-0.677,None,0.27,None,-47200000,None,None,0.166918,None,0.2862,0.12,0.16,0.381588,https://finance.yahoo.com/quote/NCMI/key-statistics?p=NCMI,0,dataset,https://seekingalpha.com/symbol/NCMI

https://finance.yahoo.com/quote/NCMI/key-statistics?p=NCMI

                          0
dividend_yield_pct   28.620
current_price         0.404
fifty_two_week_low    0.400
fifty_two_week_high   3.930

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-19  CASH         0.03       2022-08-08  2022-08-22   2022-09-06
1  2022-05-20  CASH         0.03       2022-05-09  2022-05-23   2022-06-07
2  2022-03-16  CASH         0.05       2022-03-03  2022-03-17   2022-03-31
3  2021-11-19  CASH         0.05       2021-11-08  2021-11-22   2021-12-07
4  2021-08-20  CASH         0.05       2021-08-09  2021-08-23   2021-09-06
5  2021-05-20  CASH         0.05       2021-05-10  2021-05-21   2021-06-07
6  2021-03-19  CASH         0.05       2021-03-08  2021-03-22   2021-04-05
7  2020-11-13  CASH         0.07       2020-11-02  2020-11-16   2020-12-01
8  2020-08-14  CASH         0.07       2020-08-03  2020-08-17   2020-08-31
9  2020-05-15  CASH         0.07       2020-05-05  2020-05-18   2020-06-01

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,LPG Dividend History,LPG,2022-08-12,28.57,0,6.97,https://www.nasdaq.com/market-activity/stocks/lpg/dividend-history,Dorian LPG Ltd.,NYQ,Energy,1.098378,15.76,10.77,18.5,None,2022-11-01 20:30:00,2022-09-02 08:00:00,2022-08-12 08:00:00,1.77,8.903955,2.26,6.973452,0.52,0.749156,130039400,0.10198,78.575,2.222703,1.9912,0.353,5.5,5.5,0.353017,https://finance.yahoo.com/quote/LPG/key-statistics?p=LPG,0,yahoo_finance,https://seekingalpha.com/symbol/LPG

https://finance.yahoo.com/quote/LPG/key-statistics?p=LPG

                         0
dividend_yield_pct   28.57
current_price        15.76
fifty_two_week_low   10.77
fifty_two_week_high  18.50

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-12  CASH          1.0       2022-08-03  2022-08-15   2022-09-02
1  2022-05-13  CASH          2.5       2022-05-04  2022-05-16   2022-06-02
2  2022-01-13  CASH          1.0       2022-01-04  2022-01-14   2022-01-25
3  2021-08-06  CASH          1.0       2021-07-30  2021-08-09   2021-09-08

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,IVR Dividend History,IVR,2022-10-07,25.17,2.6,0.0,https://www.nasdaq.com/market-activity/stocks/ivr/dividend-history,INVESCO MORTGAGE CAPITAL INC,NYQ,Real Estate,1.488209,10.72,9.6,34,18.59,2022-11-03 04:00:00,2022-10-27 08:00:00,2022-10-07 08:00:00,4.08,2.627451,-11.585,None,-0.15,0.646562,None,-0.29571,343.923,-1.121262,None,0.2425,2.6,3.6,0.342857,https://finance.yahoo.com/quote/IVR/key-statistics?p=IVR,0,dataset,https://seekingalpha.com/symbol/IVR

https://finance.yahoo.com/quote/IVR/key-statistics?p=IVR

                         0
dividend_yield_pct   25.17
current_price        10.72
fifty_two_week_low    9.60
fifty_two_week_high  34.00

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-07  CASH         0.65       2022-09-28  2022-10-11   2022-10-27
1  2022-07-08  CASH         0.90       2022-06-27  2022-07-11   2022-07-27
2  2022-04-07  CASH         0.09       2022-03-28  2022-04-08   2022-04-27
3  2022-01-10  CASH         0.09       2021-12-27  2022-01-11   2022-01-27
4  2021-10-08  CASH         0.09       2021-09-28  2021-10-12   2021-10-26
5  2021-07-02  CASH         0.09       2021-06-23  2021-07-06   2021-07-27
6  2021-04-08  CASH         0.09       2021-03-26  2021-04-09   2021-04-27
7  2021-01-11  CASH         0.08       2020-12-28  2021-01-12   2021-01-26
8  2020-10-08  CASH         0.05       2020-09-30  2020-10-12   2020-10-27
9  2020-07-02  CASH         0.02       2020-06-17  2020-07-06   2020-07-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,IVR Dividend History,IVR,2022-10-07,25.17,2.6,0.0,https://www.nasdaq.com/market-activity/stocks/ivr/dividend-history,INVESCO MORTGAGE CAPITAL INC,NYQ,Real Estate,1.488209,10.72,9.6,34,18.59,2022-11-03 04:00:00,2022-10-27 08:00:00,2022-10-07 08:00:00,4.08,2.627451,-11.585,None,-0.15,0.646562,None,-0.29571,343.923,-1.121262,None,0.2425,2.6,3.6,0.342857,https://finance.yahoo.com/quote/IVR/key-statistics?p=IVR,0,yahoo_finance,https://seekingalpha.com/symbol/IVR

https://finance.yahoo.com/quote/IVR/key-statistics?p=IVR

                         0
dividend_yield_pct   25.17
current_price        10.72
fifty_two_week_low    9.60
fifty_two_week_high  34.00

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-07  CASH         0.65       2022-09-28  2022-10-11   2022-10-27
1  2022-07-08  CASH         0.90       2022-06-27  2022-07-11   2022-07-27
2  2022-04-07  CASH         0.09       2022-03-28  2022-04-08   2022-04-27
3  2022-01-10  CASH         0.09       2021-12-27  2022-01-11   2022-01-27
4  2021-10-08  CASH         0.09       2021-09-28  2021-10-12   2021-10-26
5  2021-07-02  CASH         0.09       2021-06-23  2021-07-06   2021-07-27
6  2021-04-08  CASH         0.09       2021-03-26  2021-04-09   2021-04-27
7  2021-01-11  CASH         0.08       2020-12-28  2021-01-12   2021-01-26
8  2020-10-08  CASH         0.05       2020-09-30  2020-10-12   2020-10-27
9  2020-07-02  CASH         0.02       2020-06-17  2020-07-06   2020-07-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ORC Dividend History,ORC,2022-09-29,23.36,1.92,0.0,https://www.nasdaq.com/market-activity/stocks/orc/dividend-history,"Orchid Island Capital, Inc.",NYQ,Real Estate,1.488577,9.65,7.95,25.2,18.36,2022-10-28 04:00:00,2022-11-28 08:00:00,2022-09-29 08:00:00,2.6,3.711539,-1.28,None,None,0.671772,None,-0.42897,750.959,-1.553497,None,0.199,1.92,3.4,0.357143,https://finance.yahoo.com/quote/ORC/key-statistics?p=ORC,0,dataset,https://seekingalpha.com/symbol/ORC

https://finance.yahoo.com/quote/ORC/key-statistics?p=ORC

                         0
dividend_yield_pct   23.36
current_price         9.65
fifty_two_week_low    7.95
fifty_two_week_high  25.20

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH        0.160       2022-09-12  2022-09-30   2022-10-27
1  2022-08-30  CASH        0.160       2022-08-17  2022-08-31   2022-09-28
2  2022-07-28  CASH        0.045       2022-07-13  2022-07-29   2022-08-29
3  2022-06-29  CASH        0.045       2022-06-14  2022-06-30   2022-07-27
4  2022-05-27  CASH        0.045       2022-05-11  2022-05-31   2022-06-28
5  2022-04-28  CASH        0.045       2022-04-13  2022-04-29   2022-05-27
6  2022-03-30  CASH        0.045       2022-03-16  2022-03-31   2022-04-27
7  2022-02-25  CASH        0.055       2022-02-16  2022-02-28   2022-03-29
8  2022-01-28  CASH        0.055       2022-01-13  2022-01-31   2022-02-24
9  2021-12-30  CASH        0.065       2021-12-09  2021-12-31   2022-01-27

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ORC Dividend History,ORC,2022-09-29,23.36,1.92,0.0,https://www.nasdaq.com/market-activity/stocks/orc/dividend-history,"Orchid Island Capital, Inc.",NYQ,Real Estate,1.488577,9.65,7.95,25.2,18.36,2022-10-28 04:00:00,2022-11-28 08:00:00,2022-09-29 08:00:00,2.6,3.711539,-1.28,None,None,0.671772,None,-0.42897,750.959,-1.553497,None,0.199,1.92,3.4,0.357143,https://finance.yahoo.com/quote/ORC/key-statistics?p=ORC,0,yahoo_finance,https://seekingalpha.com/symbol/ORC

https://finance.yahoo.com/quote/ORC/key-statistics?p=ORC

                         0
dividend_yield_pct   23.36
current_price         9.65
fifty_two_week_low    7.95
fifty_two_week_high  25.20

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH        0.160       2022-09-12  2022-09-30   2022-10-27
1  2022-08-30  CASH        0.160       2022-08-17  2022-08-31   2022-09-28
2  2022-07-28  CASH        0.045       2022-07-13  2022-07-29   2022-08-29
3  2022-06-29  CASH        0.045       2022-06-14  2022-06-30   2022-07-27
4  2022-05-27  CASH        0.045       2022-05-11  2022-05-31   2022-06-28
5  2022-04-28  CASH        0.045       2022-04-13  2022-04-29   2022-05-27
6  2022-03-30  CASH        0.045       2022-03-16  2022-03-31   2022-04-27
7  2022-02-25  CASH        0.055       2022-02-16  2022-02-28   2022-03-29
8  2022-01-28  CASH        0.055       2022-01-13  2022-01-31   2022-02-24
9  2021-12-30  CASH        0.065       2021-12-09  2021-12-31   2022-01-27

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,HIMX Dividend History,HIMX,2022-06-29,22.16,1.25,2.31,https://www.nasdaq.com/market-activity/stocks/himx/dividend-history,"Himax Technologies, Inc.",NMS,Technology,1.972365,5.91,4.81,16.5,None,2022-11-10 21:00:00,2022-07-12 08:00:00,2022-06-29 08:00:00,0.52,11.365385,2.68,2.205224,None,1.229201,324474112,0.61147,23.884,0.644521,0.4881,0.2115,1.25,0,0,https://finance.yahoo.com/quote/HIMX/key-statistics?p=HIMX,0,yahoo_finance,https://seekingalpha.com/symbol/HIMX

https://finance.yahoo.com/quote/HIMX/key-statistics?p=HIMX

                         0
dividend_yield_pct   22.16
current_price         5.91
fifty_two_week_low    4.81
fifty_two_week_high  16.50

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-06-29  CASH        1.250  2022-05-23 00:00:00  2022-06-30   2022-07-12
1  2021-06-29  CASH        0.272  2021-05-28 00:00:00  2021-06-30   2021-07-12
2  2018-07-18  CASH        0.100  2018-06-19 00:00:00  2018-07-19   2018-07-31
3  2017-07-27  CASH        0.240  0001-01-01 00:00:00  2017-07-31   2017-08-14
4  2016-07-20  CASH        0.130  2016-06-20 00:00:00  2016-07-22   2016-08-03
5  2015-06-24  CASH        0.300  2015-05-11 00:00:00  2015-06-26   2015-07-08
6  2014-07-09  CASH        0.270  2014-06-24 00:00:00  2014-07-11   2014-07-23
7  2013-07-17  CASH        0.250  2013-06-17 00:00:00  2013-07-19   2013-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MFA Dividend History,MFA,2022-09-29,21.57,1.76,0.0,https://www.nasdaq.com/market-activity/stocks/mfa/dividend-history,"MFA Financial, Inc.",NYQ,Real Estate,1.79661,9.06,7.15,19.04,12.53,2022-11-03 20:30:00,2022-10-31 08:00:00,2022-09-29 08:00:00,2.01,4.507463,1.11,8.162163,0.15,0.42971,None,-0.00284,334.361,7.330339,None,0.1971,1.76,1.72,0.192609,https://finance.yahoo.com/quote/MFA/key-statistics?p=MFA,0,yahoo_finance,https://seekingalpha.com/symbol/MFA

https://finance.yahoo.com/quote/MFA/key-statistics?p=MFA

                         0
dividend_yield_pct   21.57
current_price         9.06
fifty_two_week_low    7.15
fifty_two_week_high  19.04

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH        0.440  2022-09-13 00:00:00  2022-09-30   2022-10-31
1  2022-06-29  CASH        0.440  2022-06-15 00:00:00  2022-06-30   2022-07-29
2  2022-03-21  CASH        0.110  2022-03-11 00:00:00  2022-03-22   2022-04-29
3  2021-12-30  CASH        0.110  2021-12-14 00:00:00  2021-12-31   2022-01-31
4  2021-09-29  CASH        0.100  2021-09-15 00:00:00  2021-09-30   2021-10-29
5  2021-06-29  CASH        0.100  2021-06-15 00:00:00  2021-06-30   2021-07-30
6  2021-03-30  CASH        0.075  2021-03-12 00:00:00  2021-03-31   2021-04-30
7  2020-12-29  CASH        0.075  2020-12-17 00:00:00  2020-12-30   2021-01-29
8  2020-09-29  CASH        0.050  2020-08-06 00:00:00  2020-09-30   2020-10-30
9  2019-12-27  CASH        0.200  2019-12-12 00:00:00  2019-12-30   2020-01-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CHMI Dividend History,CHMI,2022-09-29,21.14,1.08,14.74,https://www.nasdaq.com/market-activity/stocks/chmi/dividend-history,Cherry Hill Mortgage Investment,NYQ,Real Estate,1.264922,5.16,4.58,9.24,13.38,2022-11-07 18:59:00,2022-10-25 08:00:00,2022-09-29 08:00:00,1.11,4.648648,0.31,16.64516,-1.52,0.743302,None,0.05969,342.702,2.202659,3.4839,0.2093,1.08,1.08,0.215569,https://finance.yahoo.com/quote/CHMI/key-statistics?p=CHMI,0,yahoo_finance,https://seekingalpha.com/symbol/CHMI

https://finance.yahoo.com/quote/CHMI/key-statistics?p=CHMI

                         0
dividend_yield_pct   21.14
current_price         5.16
fifty_two_week_low    4.58
fifty_two_week_high   9.24

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.27       2022-09-15  2022-09-30   2022-10-25
1  2022-06-29  CASH         0.27       2022-06-17  2022-06-30   2022-07-26
2  2022-03-30  CASH         0.27       2022-03-11  2022-03-31   2022-04-26
3  2021-12-30  CASH         0.27       2021-12-09  2021-12-31   2022-01-25
4  2021-09-29  CASH         0.27       2021-09-17  2021-09-30   2021-10-26
5  2021-06-29  CASH         0.27       2021-06-17  2021-06-30   2021-07-27
6  2021-03-30  CASH         0.27       2021-03-04  2021-03-31   2021-04-27
7  2020-12-30  CASH         0.27       2020-12-10  2020-12-31   2021-01-26
8  2020-09-29  CASH         0.27       2020-09-17  2020-09-30   2020-10-27
9  2020-06-29  CASH         0.27       2020-06-18  2020-06-30   2020-07-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,NLY Dividend History,NLY,2022-09-29,20.1,3.52,1.67,https://www.nasdaq.com/market-activity/stocks/nly/dividend-history,Annaly Capital Management Inc.,NYQ,Real Estate,1.348194,16.82,15.11,35.04,11.63,2022-10-27 04:00:00,2022-10-31 08:00:00,2022-09-29 08:00:00,3.77,4.461538,10,1.682,-0.79,0.713014,None,0.30953,540.629,1.47309,0.352,0.2093,3.52,3.52,0.210652,https://finance.yahoo.com/quote/NLY/key-statistics?p=NLY,0,yahoo_finance,https://seekingalpha.com/symbol/NLY

https://finance.yahoo.com/quote/NLY/key-statistics?p=NLY

                         0
dividend_yield_pct   20.10
current_price        16.82
fifty_two_week_low   15.11
fifty_two_week_high  35.04

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH         0.88  2022-09-08 00:00:00  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.22  2022-06-08 00:00:00  2022-06-30   2022-07-29
2  2022-03-30  CASH         0.22  2022-03-17 00:00:00  2022-03-31   2022-04-29
3  2021-12-30  CASH         0.22  2021-12-09 00:00:00  2021-12-31   2022-01-31
4  2021-09-29  CASH         0.22  2021-09-09 00:00:00  2021-09-30   2021-10-29
5  2021-06-29  CASH         0.22  2021-06-09 00:00:00  2021-06-30   2021-07-30
6  2021-03-30  CASH         0.22  2021-03-17 00:00:00  2021-03-31   2021-04-30
7  2020-12-30  CASH         0.22  2020-12-10 00:00:00  2020-12-31   2021-01-29
8  2020-09-29  CASH         0.22  2020-09-10 00:00:00  2020-09-30   2020-10-30
9  2020-06-29  CASH         0.22  2020-06-10 00:00:00  2020-06-30   2020-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MITT Dividend History,MITT,2022-09-29,20.05,0.84,0.0,https://www.nasdaq.com/market-activity/stocks/mitt/dividend-history,"AG Mortgage Investment Trust, I",NYQ,Real Estate,1.712232,4.3,3.52,13.49,15.08,2022-11-03 20:30:00,2022-10-31 08:00:00,2022-09-29 08:00:00,1.02,4.215686,1.81,2.375691,0.07,0.374565,None,-0.0349,706.2,3.531609,None,0.1981,0.84,0.84,0.198113,https://finance.yahoo.com/quote/MITT/key-statistics?p=MITT,0,dataset,https://seekingalpha.com/symbol/MITT

https://finance.yahoo.com/quote/MITT/key-statistics?p=MITT

                         0
dividend_yield_pct   20.05
current_price         4.30
fifty_two_week_low    3.52
fifty_two_week_high  13.49

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.21       2022-09-15  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.21       2022-06-15  2022-06-30   2022-07-29
2  2022-03-30  CASH         0.21       2022-03-18  2022-03-31   2022-04-29
3  2021-12-30  CASH         0.21       2021-12-15  2021-12-31   2022-01-31
4  2021-09-29  CASH         0.21       2021-09-16  2021-09-30   2021-10-29
5  2021-06-29  CASH         0.07       2021-06-15  2021-06-30   2021-07-30
6  2021-03-31  CASH         0.06       2021-03-22  2021-04-01   2021-04-30
7  2020-12-30  CASH         0.03       2020-12-12  2020-12-31   2021-01-29
8  2019-12-30  CASH         0.45       2019-12-13  2019-12-31   2020-01-31
9  2019-09-27  CASH         0.45       2019-09-06  2019-09-30   2019-10-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,AGNC Dividend History,AGNC,2022-09-29,18.39,1.44,0.0,https://www.nasdaq.com/market-activity/stocks/agnc/dividend-history,AGNC Investment Corp.,NMS,Real Estate,1.187546,7.74,7.36,16.64,11.52,2022-10-25 04:00:00,2022-11-09 08:00:00,2022-09-29 08:00:00,2.19,3.534246,-1.86,None,-1.53,0.61757,None,-0.09621,541.007,-5.003706,None,0.186,1.44,1.44,0.183908,https://finance.yahoo.com/quote/AGNC/key-statistics?p=AGNC,0,yahoo_finance,https://seekingalpha.com/symbol/AGNC

https://finance.yahoo.com/quote/AGNC/key-statistics?p=AGNC

                         0
dividend_yield_pct   18.39
current_price         7.74
fifty_two_week_low    7.36
fifty_two_week_high  16.64

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-28  CASH         0.12       2022-10-10  2022-10-31   2022-11-09
1  2022-09-29  CASH         0.12       2022-09-14  2022-09-30   2022-10-12
2  2022-08-30  CASH         0.12       2022-08-11  2022-08-31   2022-09-12
3  2022-07-28  CASH         0.12       2022-07-11  2022-07-29   2022-08-09
4  2022-06-29  CASH         0.12       2022-06-09  2022-06-30   2022-07-12
5  2022-05-27  CASH         0.12       2022-05-12  2022-05-31   2022-06-09
6  2022-04-28  CASH         0.12       2022-04-11  2022-04-29   2022-05-10
7  2022-03-30  CASH         0.12       2022-03-10  2022-03-31   2022-04-12
8  2022-02-25  CASH         0.12       2022-02-10  2022-02-28   2022-03-09
9  2022-01-28  CASH         0.12       2022-01-10  2022-01-31   2022-02-09

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,EGLE Dividend History,EGLE,2022-08-15,18.16,8.8,2.57,https://www.nasdaq.com/market-activity/stocks/egle/dividend-history,Eagle Bulk Shipping Inc.,NMS,Industrials,1.322402,49.82,36.21,78.75,None,2022-11-04 04:00:00,2022-08-26 08:00:00,2022-08-15 08:00:00,10.27,4.851022,19.22,2.592092,0.04,0.845367,200552560,0.48516,52.729,0.908005,0.3148,0.1766,8.8,8.25,0.170243,https://finance.yahoo.com/quote/EGLE/key-statistics?p=EGLE,0,yahoo_finance,https://seekingalpha.com/symbol/EGLE

https://finance.yahoo.com/quote/EGLE/key-statistics?p=EGLE

                         0
dividend_yield_pct   18.16
current_price        49.82
fifty_two_week_low   36.21
fifty_two_week_high  78.75

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-15  CASH         2.20       2022-07-28  2022-08-16   2022-08-26
1  2022-05-13  CASH         2.00       2022-05-03  2022-05-16   2022-05-25
2  2022-03-14  CASH         2.05       2022-02-22  2022-03-15   2022-03-25
3  2021-11-12  CASH         2.00       2021-10-28  2021-11-15   2021-11-24

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CIM Dividend History,CIM,2022-09-29,17.49,0.92,0.0,https://www.nasdaq.com/market-activity/stocks/cim/dividend-history,Chimera Investment Corporation,NYQ,Real Estate,1.313559,5.81,4.91,16.85,12.38,2022-11-03 20:30:00,2022-10-31 08:00:00,2022-09-29 08:00:00,1.1,5.281818,0.65,8.938461,-1.77,0.452951,None,-0.0227,367.065,17.922628,None,0.1634,0.92,1.32,0.234458,https://finance.yahoo.com/quote/CIM/key-statistics?p=CIM,0,yahoo_finance,https://seekingalpha.com/symbol/CIM

https://finance.yahoo.com/quote/CIM/key-statistics?p=CIM

                         0
dividend_yield_pct   17.49
current_price         5.81
fifty_two_week_low    4.91
fifty_two_week_high  16.85

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH         0.23       2022-09-21  2022-09-30   2022-10-31
1  2022-06-29  CASH         0.33       2022-05-04  2022-06-30   2022-07-28
2  2022-03-30  CASH         0.33       2022-02-17  2022-03-31   2022-04-28
3  2021-12-29  CASH         0.33       2021-12-02  2021-12-30   2022-01-27
4  2021-09-29  CASH         0.33       2021-09-13  2021-09-30   2021-10-28
5  2021-06-29  CASH         0.33       2021-05-05  2021-06-30   2021-07-30
6  2021-03-30  CASH         0.30       2021-03-11  2021-03-31   2021-04-30
7  2020-12-29  CASH         0.30       2020-12-01  2020-12-30   2021-01-29
8  2020-09-28  CASH         0.30       2020-09-15  2020-09-29   2020-10-29
9  2020-06-19  CASH         0.30       2020-06-10  2020-06-22   2020-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,BRMK Dividend History,BRMK,2022-09-29,16.31,0.84,8.98,https://www.nasdaq.com/market-activity/stocks/brmk/dividend-history,Broadmark Realty Capital Inc.,NYQ,Real Estate,1.233142,5.3,4.885,10.49,None,2022-11-07 18:59:00,2022-10-17 08:00:00,2022-09-29 08:00:00,0.67,7.910448,0.6,8.833333,None,0.624043,None,0.06809,9.329,6.651445,1.4237,0.1585,0.84,0.84,0.160305,https://finance.yahoo.com/quote/BRMK/key-statistics?p=BRMK,0,yahoo_finance,https://seekingalpha.com/symbol/BRMK

https://finance.yahoo.com/quote/BRMK/key-statistics?p=BRMK

                          0
dividend_yield_pct   16.310
current_price         5.300
fifty_two_week_low    4.885
fifty_two_week_high  10.490

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-29  CASH         0.07  2022-09-15 00:00:00  2022-09-30   2022-10-17
1  2022-08-30  CASH         0.07  2022-08-15 00:00:00  2022-08-31   2022-09-15
2  2022-07-28  CASH         0.07  2022-07-18 00:00:00  2022-07-29   2022-08-15
3  2022-06-29  CASH         0.07  2022-06-15 00:00:00  2022-06-30   2022-07-15
4  2022-05-27  CASH         0.07  2022-05-16 00:00:00  2022-05-31   2022-06-15
5  2022-04-28  CASH         0.07  2022-04-18 00:00:00  2022-04-29   2022-05-16
6  2022-03-30  CASH         0.07  2022-03-15 00:00:00  2022-03-31   2022-04-15
7  2022-02-25  CASH         0.07  2022-02-15 00:00:00  2022-02-28   2022-03-15
8  2022-01-28  CASH         0.07  2022-01-14 00:00:00  2022-01-31   2022-02-15
9  2021-12-30  CASH         0.07  2021-12-15 00:00:00  2021-12-31   2022-01-14

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SPOK Dividend History,SPOK,2022-08-16,15.96,1.25,0.0,https://www.nasdaq.com/market-activity/stocks/spok/dividend-history,"Spok Holdings, Inc.",NMS,Healthcare,0.27266,7.87,6.13,11.46,5.2,2022-10-27 04:00:00,2022-09-09 08:00:00,2022-08-16 08:00:00,None,None,-1.391,None,None,0.992309,-116375,-0.13926,11.988,1.12369,None,0.1596,1.25,0.875,0.11175,https://finance.yahoo.com/quote/SPOK/key-statistics?p=SPOK,0,dataset,https://seekingalpha.com/symbol/SPOK

https://finance.yahoo.com/quote/SPOK/key-statistics?p=SPOK

                         0
dividend_yield_pct   15.96
current_price         7.87
fifty_two_week_low    6.13
fifty_two_week_high  11.46

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-16  CASH       0.3125       2022-07-27  2022-08-17   2022-09-09
1  2022-05-24  CASH       0.3125       2022-04-28  2022-05-25   2022-06-24
2  2022-03-15  CASH       0.3125       2022-02-16  2022-03-16   2022-03-30
3  2021-11-15  CASH       0.1250       2021-11-03  2021-11-16   2021-12-10
4  2021-08-16  CASH       0.1250       2021-07-28  2021-08-17   2021-09-10
5  2021-05-24  CASH       0.1250       2021-04-28  2021-05-25   2021-06-24
6  2021-03-15  CASH       0.1250       2021-02-17  2021-03-16   2021-03-30
7  2020-11-13  CASH       0.1250       2020-10-28  2020-11-16   2020-12-10
8  2020-08-14  CASH       0.1250       2020-07-29  2020-08-17   2020-09-10
9  2020-05-21  CASH       0.1250       2020-04-29  2020-05-25   2020-06-24

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SJT Dividend History,SJT,2022-09-29,15.64,1.491804,0,https://www.nasdaq.com/market-activity/stocks/sjt/dividend-history,San Juan Basin Royalty Trust,NYQ,Energy,1.084008,10.22,5.54,15.43,9.47,2022-11-15 05:00:00,2022-10-17 08:00:00,2022-09-29 08:00:00,None,None,1.05,9.733334,None,143.94366,None,12.704511,None,9.439696,1,0.1623,1.66,1.046,0.104705,https://finance.yahoo.com/quote/SJT/key-statistics?p=SJT,0,yahoo_finance,https://seekingalpha.com/symbol/SJT

https://finance.yahoo.com/quote/SJT/key-statistics?p=SJT

                         0
dividend_yield_pct   15.64
current_price        10.22
fifty_two_week_low    5.54
fifty_two_week_high  15.43

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH     0.124317       2022-09-20  2022-09-30   2022-10-17
1  2022-08-30  CASH     0.183448       2022-08-19  2022-08-31   2022-09-15
2  2022-07-28  CASH     0.145185       2022-07-19  2022-07-29   2022-08-12
3  2022-06-29  CASH     0.111613       2022-06-17  2022-06-30   2022-07-15
4  2022-05-27  CASH     0.091781       2022-05-20  2022-05-31   2022-06-14
5  2022-04-28  CASH     0.082883       2022-04-19  2022-04-29   2022-05-13
6  2022-03-30  CASH     0.119104       2022-03-21  2022-03-31   2022-04-14
7  2022-02-25  CASH     0.085744       2022-02-17  2022-02-28   2022-03-14
8  2022-01-28  CASH     0.103446       2022-01-21  2022-01-31   2022-02-14
9  2021-12-30  CASH     0.112441       2021-12-20  2021-12-31   2022-01-14

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ECC Dividend History,ECC,2022-10-07,15.3,1.68,0.0,https://www.nasdaq.com/market-activity/stocks/ecc/dividend-history,Eagle Point Credit Company Inc.,NYQ,Financial Services,0.872144,10.24,10.16,15.54,None,2022-11-14 21:30:00,2019-03-29 08:00:00,2022-10-07 08:00:00,1.57,6.522293,3.9,2.625641,None,1.016175,27209544,-0.14786,45.449,4.176524,None,0.1626,1.68,1.44,0.138862,https://finance.yahoo.com/quote/ECC/key-statistics?p=ECC,0,yahoo_finance,https://seekingalpha.com/symbol/ECC

https://finance.yahoo.com/quote/ECC/key-statistics?p=ECC

                         0
dividend_yield_pct   15.30
current_price        10.24
fifty_two_week_low   10.16
fifty_two_week_high  15.54

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-07  CASH         0.25       2022-08-16  2022-10-11   2022-10-31
1  2022-10-07  CASH         0.14       2022-08-11  2022-10-11   2022-10-31
2  2022-09-09  CASH         0.14       2022-05-18  2022-09-12   2022-09-30
3  2022-08-10  CASH         0.14       2022-05-18  2022-08-11   2022-08-31
4  2022-07-08  CASH         0.14       2022-05-18  2022-07-11   2022-07-29
5  2022-06-09  CASH         0.14       2022-02-14  2022-06-10   2022-06-30
6  2022-05-10  CASH         0.14       2022-02-14  2022-05-11   2022-05-31
7  2022-04-08  CASH         0.14       2022-02-14  2022-04-11   2022-04-29
8  2022-03-10  CASH         0.12       2021-11-10  2022-03-11   2022-03-31
9  2022-02-07  CASH         0.12       2021-11-10  2022-02-08   2022-02-28

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,IEP Dividend History,IEP,2022-08-18,14.93,8.0,0.0,https://www.nasdaq.com/market-activity/stocks/iep/dividend-history,Icahn Enterprises L.P. - Deposi,NMS,Industrials,0.755342,53.83,47.17,58.5,13.05,2022-10-31 20:30:00,2022-09-28 08:00:00,2022-08-18 08:00:00,0.87,61.873566,-1.635,None,None,3.640114,-4270249984,-0.0435,74.621,1.389139,None,0.1493,8,8,0.149309,https://finance.yahoo.com/quote/IEP/key-statistics?p=IEP,0,dataset,https://seekingalpha.com/symbol/IEP

https://finance.yahoo.com/quote/IEP/key-statistics?p=IEP

                         0
dividend_yield_pct   14.93
current_price        53.83
fifty_two_week_low   47.17
fifty_two_week_high  58.50

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-18  CASH          2.0       2022-08-03  2022-08-19   2022-09-28
1  2022-05-19  CASH          2.0       2022-05-04  2022-05-20   2022-06-29
2  2022-03-17  CASH          2.0       2022-02-23  2022-03-18   2022-04-27
3  2021-11-15  CASH          2.0       2021-11-01  2021-11-16   2021-12-22
4  2021-08-19  CASH          2.0       2021-08-04  2021-08-20   2021-09-29
5  2021-05-28  CASH          2.0       2021-05-05  2021-06-01   2021-06-30
6  2021-03-25  CASH          2.0       2021-02-24  2021-03-26   2021-04-28
7  2020-11-23  CASH          2.0       2020-11-04  2020-11-24   2020-12-29
8  2020-08-20  CASH          2.0       2020-08-04  2020-08-21   2020-09-29
9  2020-05-18  CASH          2.0       2020-05-07  2020-05-19   2020-06-25

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,WMC Dividend History,WMC,2022-09-30,14.3,1.6,0.0,https://www.nasdaq.com/market-activity/stocks/wmc/dividend-history,Western Asset Mortgage Capital,NYQ,Real Estate,1.746499,9.55,8.86,26.1,15.47,2022-11-04 04:00:00,2022-10-26 08:00:00,2022-09-30 08:00:00,2.9,3.293103,-1.369,None,0.79,0.411071,None,-0.34968,1873.873,-1.426949,None,0.1675,1.6,2,0.214823,https://finance.yahoo.com/quote/WMC/key-statistics?p=WMC,0,dataset,https://seekingalpha.com/symbol/WMC

https://finance.yahoo.com/quote/WMC/key-statistics?p=WMC

                         0
dividend_yield_pct   14.30
current_price         9.55
fifty_two_week_low    8.86
fifty_two_week_high  26.10

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-30  CASH         0.40       2022-09-22  2022-10-03   2022-10-26
1  2022-06-30  CASH         0.04       2022-06-21  2022-07-01   2022-07-25
2  2022-04-01  CASH         0.04       2022-03-23  2022-04-04   2022-04-26
3  2021-12-30  CASH         0.06       2021-12-21  2021-12-31   2022-01-26
4  2021-10-01  CASH         0.06       2021-09-23  2021-10-04   2021-10-26
5  2021-06-30  CASH         0.06       2021-06-22  2021-07-02   2021-07-26
6  2021-03-31  CASH         0.06       2021-03-23  2021-04-02   2021-04-26
7  2020-12-24  CASH         0.06       2020-12-17  2020-12-28   2021-01-26
8  2020-10-01  CASH         0.05       2020-09-22  2020-10-02   2020-10-26
9  2019-12-27  CASH         0.31       2019-12-19  2019-12-30   2020-01-24

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,BGS Dividend History,BGS,2022-09-29,12.87,1.9,24.42,https://www.nasdaq.com/market-activity/stocks/bgs/dividend-history,"B&G Foods, Inc. B&G Foods, Inc.",NYQ,Consumer Defensive,0.453574,14.41,14.025,34.27,7.6,2022-11-02 18:59:00,2022-10-31 08:00:00,2022-09-29 08:00:00,1.43,10.076923,0.57,25.280703,13.26,1.098491,5300750,0.04473,251.991,0.492227,3.3333,0.1319,1.9,1.9,0.131488,https://finance.yahoo.com/quote/BGS/key-statistics?p=BGS,0,dataset,https://seekingalpha.com/symbol/BGS

https://finance.yahoo.com/quote/BGS/key-statistics?p=BGS

                          0
dividend_yield_pct   12.870
current_price        14.410
fifty_two_week_low   14.025
fifty_two_week_high  34.270

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-29  CASH        0.475       2022-08-01  2022-09-30   2022-10-31
1  2022-06-29  CASH        0.475       2022-05-17  2022-06-30   2022-08-01
2  2022-03-30  CASH        0.475       2022-02-28  2022-03-31   2022-05-02
3  2021-12-30  CASH        0.475       2021-11-02  2021-12-31   2022-01-31
4  2021-09-29  CASH        0.475       2021-08-03  2021-09-30   2021-11-01
5  2021-06-29  CASH        0.475       2021-05-18  2021-06-30   2021-07-30
6  2021-03-30  CASH        0.475       2021-03-01  2021-03-31   2021-04-30
7  2020-12-30  CASH        0.475       2020-10-27  2020-12-31   2021-02-01
8  2020-09-29  CASH        0.475       2020-07-28  2020-09-30   2020-10-30
9  2020-06-29  CASH        0.475       2020-05-13  2020-06-30   2020-07-30

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,USDP Dividend History,USDP,2022-08-02,11.46,0.494,6.39,https://www.nasdaq.com/market-activity/stocks/usdp/dividend-history,USD Partners LP,NYQ,Industrials,1.189388,4.41,3.86,6.9,14.97,2022-11-02 04:00:00,2022-08-12 08:00:00,2022-08-02 08:00:00,0.56,7.875,0.68,6.485294,None,None,44282000,None,None,2.632059,0.7044,0.112,0.49,0.486,0.114085,https://finance.yahoo.com/quote/USDP/key-statistics?p=USDP,0,dataset,https://seekingalpha.com/symbol/USDP

https://finance.yahoo.com/quote/USDP/key-statistics?p=USDP

                         0
dividend_yield_pct   11.46
current_price         4.41
fifty_two_week_low    3.86
fifty_two_week_high   6.90

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-02  CASH       0.1235       2022-07-20  2022-08-03   2022-08-12
1  2022-05-03  CASH       0.1235       2022-04-21  2022-05-04   2022-05-13
2  2022-02-08  CASH       0.1210       2022-01-26  2022-02-09   2022-02-18
3  2021-11-02  CASH       0.1185       2021-10-21  2021-11-03   2021-11-12
4  2021-08-03  CASH       0.1160       2021-07-21  2021-08-04   2021-08-13
5  2021-05-04  CASH       0.1135       2021-04-22  2021-05-05   2021-05-14
6  2021-02-09  CASH       0.1110       2021-01-28  2021-02-10   2021-02-19
7  2020-11-02  CASH       0.1110       2020-10-22  2020-11-03   2020-11-13
8  2020-08-03  CASH       0.1110       2020-07-23  2020-08-04   2020-08-14
9  2020-05-04  CASH       0.1110       2020-04-23  2020-05-05   2020-05-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,LUMN Dividend History,LUMN,2022-08-29,9.72,1.0,3.43,https://www.nasdaq.com/market-activity/stocks/lumn/dividend-history,"Lumen Technologies, Inc.",NYQ,Communication Services,1.073323,6.66,6.34,14.5,10.47,2022-11-03 04:00:00,2022-09-09 08:00:00,2022-08-29 08:00:00,0.88,7.568181,1.94,3.43299,-0.19,0.562738,-4661125120,0.16677,233.415,0.362494,0.5155,0.1502,1,1,0.149254,https://finance.yahoo.com/quote/LUMN/key-statistics?p=LUMN,0,dataset,https://seekingalpha.com/symbol/LUMN

https://finance.yahoo.com/quote/LUMN/key-statistics?p=LUMN

                         0
dividend_yield_pct    9.72
current_price         6.66
fifty_two_week_low    6.34
fifty_two_week_high  14.50

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-29  CASH         0.25       2022-08-18  2022-08-30   2022-09-09
1  2022-05-27  CASH         0.25       2022-05-19  2022-05-31   2022-06-10
2  2022-03-07  CASH         0.25       2022-02-24  2022-03-08   2022-03-18
3  2021-11-26  CASH         0.25       2021-11-18  2021-11-29   2021-12-10
4  2021-08-27  CASH         0.25       2021-08-19  2021-08-30   2021-09-10
5  2021-05-28  CASH         0.25       2021-05-20  2021-06-01   2021-06-11
6  2021-03-05  CASH         0.25       2021-02-25  2021-03-08   2021-03-19
7  2020-11-27  CASH         0.25       2020-11-19  2020-11-30   2020-12-11
8  2020-08-28  CASH         0.25       2020-08-20  2020-08-31   2020-09-11
9  2020-05-29  CASH         0.25       2020-05-20  2020-06-01   2020-06-12

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MO Dividend History,MO,2022-09-14,9.0,3.76,45.86,https://www.nasdaq.com/market-activity/stocks/mo/dividend-history,"Altria Group, Inc.",NYQ,Consumer Defensive,0.644804,44.48,40.35,57.05,6.7,2022-10-27 20:30:00,2022-10-11 08:00:00,2022-09-14 08:00:00,5.04,8.825397,0.98,45.387753,2.11,None,7589875200,3.91081,None,3.864548,3.6735,0.0845,3.76,3.6,0.082645,https://finance.yahoo.com/quote/MO/key-statistics?p=MO,0,dataset,https://seekingalpha.com/symbol/MO

https://finance.yahoo.com/quote/MO/key-statistics?p=MO

                         0
dividend_yield_pct    9.00
current_price        44.48
fifty_two_week_low   40.35
fifty_two_week_high  57.05

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-14  CASH         0.94       2022-08-25  2022-09-15   2022-10-11
1  2022-06-14  CASH         0.90       2022-05-19  2022-06-15   2022-07-11
2  2022-03-24  CASH         0.90       2022-02-25  2022-03-25   2022-04-29
3  2021-12-22  CASH         0.90       2021-12-08  2021-12-23   2022-01-10
4  2021-09-14  CASH         0.90       2021-08-26  2021-09-15   2021-10-12
5  2021-06-14  CASH         0.86       2021-05-20  2021-06-15   2021-07-09
6  2021-03-24  CASH         0.86       2021-02-26  2021-03-25   2021-04-30
7  2020-12-24  CASH         0.86       2020-12-16  2020-12-28   2021-01-11
8  2020-09-14  CASH         0.86       2020-07-28  2020-09-15   2020-10-09
9  2020-06-12  CASH         0.84       2020-05-14  2020-06-15   2020-07-10

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,BGFV Dividend History,BGFV,2022-08-31,8.7,1.0,4.23,https://www.nasdaq.com/market-activity/stocks/bgfv/dividend-history,Big 5 Sporting Goods Corporatio,NMS,Consumer Cyclical,2.582166,11.75,10.23,47.65,7.99,2022-10-31 18:59:00,2022-09-15 08:00:00,2022-08-31 08:00:00,1.48,7.939189,2.77,4.241877,-1.27,0.945446,-33315624,0.23276,115.989,0.246099,0.361,0.0851,1,1,0.086957,https://finance.yahoo.com/quote/BGFV/key-statistics?p=BGFV,0,dataset,https://seekingalpha.com/symbol/BGFV

https://finance.yahoo.com/quote/BGFV/key-statistics?p=BGFV

                         0
dividend_yield_pct    8.70
current_price        11.75
fifty_two_week_low   10.23
fifty_two_week_high  47.65

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-31  CASH         0.25       2022-07-28  2022-09-01   2022-09-15
1  2022-05-31  CASH         0.25       2022-04-28  2022-06-01   2022-06-15
2  2022-03-10  CASH         0.25       2022-02-24  2022-03-11   2022-03-25
3  2021-11-30  CASH         0.25       2021-10-28  2021-12-01   2021-12-15
4  2021-11-16  CASH         1.00       2021-10-28  2021-11-17   2021-12-01
5  2021-08-31  CASH         0.25       2021-07-29  2021-09-01   2021-09-15
6  2021-05-28  CASH         0.18       2021-04-29  2021-06-01   2021-06-15
7  2021-05-14  CASH         1.00       2021-04-29  2021-05-17   2021-06-01
8  2021-03-11  CASH         0.15       2021-02-25  2021-03-12   2021-03-26
9  2020-11-30  CASH         0.10       2020-10-22  2020-12-01   2020-12-15

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,VGR Dividend History,VGR,2022-09-14,8.65,0.8,8.96,https://www.nasdaq.com/market-activity/stocks/vgr/dividend-history,Vector Group Ltd.,NYQ,Consumer Defensive,0.993367,9.59,8.64,17.39,9.66,2022-11-07 18:59:00,2022-09-29 08:00:00,2022-09-14 08:00:00,1.23,7.796748,0.84,11.416667,0.99,None,167041632,None,None,1.768954,0.9524,0.0834,0.8,0.8,0.08547,https://finance.yahoo.com/quote/VGR/key-statistics?p=VGR,0,dataset,https://seekingalpha.com/symbol/VGR

https://finance.yahoo.com/quote/VGR/key-statistics?p=VGR

                         0
dividend_yield_pct    8.65
current_price         9.59
fifty_two_week_low    8.64
fifty_two_week_high  17.39

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-09-14,CASH,0.200,2022-08-22,2022-09-15,2022-09-29
1,2022-06-16,CASH,0.200,2022-06-06,2022-06-17,2022-06-29
2,2022-03-21,CASH,0.200,2022-03-09,2022-03-22,2022-03-30
3,2021-12-30,CASH/STOCK,6.065,2021-12-11,2021-12-20,2021-12-29
4,2021-12-09,CASH,0.200,2021-11-30,2021-12-10,2021-12-20
5,2021-09-14,CASH,0.200,2021-08-23,2021-09-15,2021-09-29
6,2021-06-15,CASH,0.200,2021-05-27,2021-06-16,2021-06-29
7,2021-03-18,CASH,0.200,2021-03-02,2021-03-19,2021-03-30
8,2020-12-16,CASH,0.200,2020-12-03,2020-12-17,2020-12-30
9,2020-09-16,CASH,0.200,2020-08-27,2020-09-17,2020-09-29

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,KRO Dividend History,KRO,2022-08-31,8.33,0.76,6.27,https://www.nasdaq.com/market-activity/stocks/kro/dividend-history,Kronos Worldwide Inc,NYQ,Basic Materials,1.138172,9.34,8.48,19.78,4.92,2022-11-02 18:59:00,2022-09-15 08:00:00,2022-08-31 08:00:00,0.6,15.566667,1.49,6.268457,0.4,1.19361,122675000,0.19944,48.273,0.507764,0.4966,0.0814,0.76,0.74,0.081858,https://finance.yahoo.com/quote/KRO/key-statistics?p=KRO,0,dataset,https://seekingalpha.com/symbol/KRO

https://finance.yahoo.com/quote/KRO/key-statistics?p=KRO

                         0
dividend_yield_pct    8.33
current_price         9.34
fifty_two_week_low    8.48
fifty_two_week_high  19.78

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-31  CASH         0.19       2022-08-03  2022-09-01   2022-09-15
1  2022-06-03  CASH         0.19       2022-05-18  2022-06-06   2022-06-16
2  2022-03-07  CASH         0.19       2022-02-23  2022-03-08   2022-03-17
3  2021-12-01  CASH         0.18       2021-10-27  2021-12-02   2021-12-16
4  2021-09-01  CASH         0.18       2021-08-04  2021-09-02   2021-09-16
5  2021-06-04  CASH         0.18       2021-05-19  2021-06-07   2021-06-17
6  2021-03-08  CASH         0.18       2021-02-24  2021-03-09   2021-03-18
7  2020-11-30  CASH         0.18       2020-10-28  2020-12-01   2020-12-10
8  2020-08-31  CASH         0.18       2020-08-05  2020-09-01   2020-09-10
9  2020-06-08  CASH         0.18       2020-05-20  2020-06-09   2020-06-18

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,SPH Dividend History,SPH,2022-08-01,7.97,1.3,5.95,https://www.nasdaq.com/market-activity/stocks/sph/dividend-history,"Suburban Propane Partners, L.P.",NYQ,Utilities,0.638909,16.54,13.83,17.75,10.96,2022-11-10 21:30:00,2022-08-09 08:00:00,2022-08-01 08:00:00,2.45,6.75102,2.78,5.949641,1.39,1.840846,116565376,0.3481,214.949,0.707711,0.4676,0.0786,1.3,1.3,0.080148,https://finance.yahoo.com/quote/SPH/key-statistics?p=SPH,0,dataset,https://seekingalpha.com/symbol/SPH

https://finance.yahoo.com/quote/SPH/key-statistics?p=SPH

                         0
dividend_yield_pct    7.97
current_price        16.54
fifty_two_week_low   13.83
fifty_two_week_high  17.75

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-08-01  CASH        0.325  2022-07-21 00:00:00  2022-08-02   2022-08-09
1  2022-05-02  CASH        0.325  2022-04-21 00:00:00  2022-05-03   2022-05-10
2  2022-01-31  CASH        0.325  2022-01-20 00:00:00  2022-02-01   2022-02-08
3  2021-11-01  CASH        0.325  2021-10-21 00:00:00  2021-11-02   2021-11-09
4  2021-08-02  CASH        0.325  2021-07-22 00:00:00  2021-08-03   2021-08-10
5  2021-05-03  CASH        0.300  2021-04-22 00:00:00  2021-05-04   2021-05-11
6  2021-02-01  CASH        0.300  2021-01-21 00:00:00  2021-02-02   2021-02-09
7  2020-11-02  CASH        0.300  2020-10-22 00:00:00  2020-11-03   2020-11-10
8  2020-08-03  CASH        0.300  2020-07-23 00:00:00  2020-08-04   2020-08-11
9  2020-05-04  CASH        0.600  2020-04-23 00:00:00  2020-05-05   2020-05-12

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CHSCP Dividend History,CHSCP,2022-09-16,7.28,2.0,0,https://www.nasdaq.com/market-activity/stocks/chscp/dividend-history,CHS Inc - 8% Cumulative Redeem,NMS,Consumer Defensive,None,27.42,27.1,32.9,6.61,2022-11-02 20:30:00,2022-09-30 08:00:00,2022-09-16 08:00:00,None,None,None,None,None,None,712033152,0.16006,40.97,None,None,0.0728,2,0,0,https://finance.yahoo.com/quote/CHSCP/key-statistics?p=CHSCP,0,dataset,https://seekingalpha.com/symbol/CHSCP

https://finance.yahoo.com/quote/CHSCP/key-statistics?p=CHSCP

                         0
dividend_yield_pct    7.28
current_price        27.42
fifty_two_week_low   27.10
fifty_two_week_high  32.90

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-09-16,CASH,0.5,2022-09-07 00:00:00,2022-09-19,2022-09-30 00:00:00
1,2022-06-16,CASH,0.5,2022-06-07 00:00:00,2022-06-17,2022-06-30 00:00:00
2,2022-03-16,CASH,0.5,2022-01-04 00:00:00,2022-03-17,2022-03-31 00:00:00
3,2021-12-16,CASH,0.5,2021-11-02 00:00:00,2021-12-17,2021-12-31 00:00:00
4,2021-09-16,CASH,0.5,2021-09-08 00:00:00,2021-09-17,2021-09-30 00:00:00
5,2021-06-15,CASH,0.5,2021-06-01 00:00:00,2021-06-16,2021-06-30 00:00:00
6,2021-03-16,CASH,0.5,2021-01-06 00:00:00,2021-03-17,2021-03-31 00:00:00
7,2020-12-16,CASH,0.5,2020-11-05 00:00:00,2020-12-17,2020-12-31 00:00:00
8,2020-09-15,CASH,0.5,2020-09-01 00:00:00,2020-09-16,2020-09-30 00:00:00
9,2020-06-15,CASH,0.5,2020-06-02 00:00:00,2020-06-16,2020-06-30 00:00:00

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,T Dividend History,T,2022-10-06,7.24,1.11,6.33,https://www.nasdaq.com/market-activity/stocks/t/dividend-history,AT&T Inc.,NYQ,Communication Services,0.653647,17.1,14.46,21.53,6.91,2022-10-20 20:30:00,2022-11-01 08:00:00,2022-10-06 08:00:00,2.52,6.785715,2.72,6.286765,-1.37,0.995517,29654624256,0.11922,108.94,0.784544,0.4972,0.0649,1.11,1.353,0.080824,https://finance.yahoo.com/quote/T/key-statistics?p=T,0,dataset,https://seekingalpha.com/symbol/T

https://finance.yahoo.com/quote/T/key-statistics?p=T

                         0
dividend_yield_pct    7.24
current_price        17.10
fifty_two_week_low   14.46
fifty_two_week_high  21.53

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-10-06  CASH       0.2775  2022-09-30 00:00:00  2022-10-10   2022-11-01
1  2022-07-08  CASH       0.2775  2022-06-28 00:00:00  2022-07-11   2022-08-01
2  2022-04-13  CASH       0.2775  2022-03-25 00:00:00  2022-04-14   2022-05-02
3  2022-01-07  CASH       0.5200  2021-12-16 00:00:00  2022-01-10   2022-02-01
4  2021-10-07  CASH       0.5200  2021-09-23 00:00:00  2021-10-11   2021-11-01
5  2021-07-08  CASH       0.5200  2021-06-25 00:00:00  2021-07-09   2021-08-02
6  2021-04-08  CASH       0.5200  2021-03-26 00:00:00  2021-04-09   2021-05-03
7  2021-01-08  CASH       0.5200  2020-12-11 00:00:00  2021-01-11   2021-02-01
8  2020-10-08  CASH       0.5200  2020-09-25 00:00:00  2020-10-12   2020-11-02
9  2020-07-09  CASH       0.5200  2020-06-26 00:00:00  2020-07-10   2020-08-03

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,KSS Dividend History,KSS,2022-09-06,7.07,2.0,5.71,https://www.nasdaq.com/market-activity/stocks/kss/dividend-history,Kohl's Corporation,NYQ,Consumer Cyclical,1.598378,28.95,24.61,64.38,4.62,2022-11-16 21:30:00,2022-09-21 08:00:00,2022-09-06 08:00:00,3.56,8.132023,4.99,5.801604,-0.88,0.815493,-966875008,0.14319,167.077,0.17865,0.3006,0.0691,2,1.75,0.061837,https://finance.yahoo.com/quote/KSS/key-statistics?p=KSS,0,dataset,https://seekingalpha.com/symbol/KSS

https://finance.yahoo.com/quote/KSS/key-statistics?p=KSS

                         0
dividend_yield_pct    7.07
current_price        28.95
fifty_two_week_low   24.61
fifty_two_week_high  64.38

  ex_eff_date  type  cash_amount     declaration_date record_date payment_date
0  2022-09-06  CASH        0.500  2022-08-09 00:00:00  2022-09-07   2022-09-21
1  2022-06-07  CASH        0.500  2022-05-10 00:00:00  2022-06-08   2022-06-22
2  2022-03-15  CASH        0.500  2022-02-28 00:00:00  2022-03-16   2022-03-30
3  2021-12-07  CASH        0.250  2021-11-10 00:00:00  2021-12-08   2021-12-22
4  2021-09-07  CASH        0.250  2021-08-11 00:00:00  2021-09-08   2021-09-22
5  2021-06-08  CASH        0.250  2021-05-12 00:00:00  2021-06-09   2021-06-23
6  2021-03-16  CASH        0.250  0001-01-01 00:00:00  2021-03-17   2021-03-31
7  2020-03-17  CASH        0.704  2020-02-26 00:00:00  2020-03-18   2020-04-01
8  2019-12-10  CASH        0.670  2019-11-19 00:00:00  2019-12-11   2019-12-24
9  2019-09-10  CASH        0.670  2019-08-20 00:00:00  2019-09-11   2019-09-25

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,EVA Dividend History,EVA,2022-08-12,6.76,3.62,0,https://www.nasdaq.com/market-activity/stocks/eva/dividend-history,Enviva Inc.,NYQ,Basic Materials,1.172439,54.16,45.88,91.06,6.96,2022-11-03 04:00:00,2022-08-26 08:00:00,2022-08-12 08:00:00,0.88,61.545456,-4.024,None,-4.73,7.500346,-226739632,-0.39774,317.133,3.467641,None,0.0715,3.62,3.51,0.069313,https://finance.yahoo.com/quote/EVA/key-statistics?p=EVA,0,dataset,https://seekingalpha.com/symbol/EVA

https://finance.yahoo.com/quote/EVA/key-statistics?p=EVA

                         0
dividend_yield_pct    6.76
current_price        54.16
fifty_two_week_low   45.88
fifty_two_week_high  91.06

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-12  CASH        0.905       2022-08-03  2022-08-15   2022-08-26
1  2022-05-13  CASH        0.905       2022-05-04  2022-05-16   2022-05-27
2  2022-02-11  CASH        0.860       2022-02-03  2022-02-14   2022-02-25
3  2021-11-12  CASH        0.840       2021-11-03  2021-11-15   2021-11-26
4  2021-08-12  CASH        0.815       2021-07-27  2021-08-13   2021-08-27
5  2021-05-13  CASH        0.785       2021-04-27  2021-05-14   2021-05-28
6  2021-02-11  CASH        0.780       2021-01-27  2021-02-15   2021-02-26
7  2020-11-12  CASH        0.775       2020-10-30  2020-11-13   2020-11-27
8  2020-08-14  CASH        0.765       2020-08-05  2020-08-17   2020-08-28
9  2020-05-14  CASH        0.680       2020-04-29  2020-05-15   2020-05-29

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,XRX Dividend History,XRX,2022-09-29,6.56,1.0,0.0,https://www.nasdaq.com/market-activity/stocks/xrx/dividend-history,Xerox Holdings Corporation,NMS,Technology,1.736551,16.06,13.06,24.14,4.24,2022-10-25 18:30:00,2023-01-03 08:00:00,2022-09-29 08:00:00,1.77,9.073446,-3.255,None,2.32,0.64258,720249984,-0.13458,100.39,0.35949,None,0.0656,1,1,0.065617,https://finance.yahoo.com/quote/XRX/key-statistics?p=XRX,0,dataset,https://seekingalpha.com/symbol/XRX

https://finance.yahoo.com/quote/XRX/key-statistics?p=XRX

                         0
dividend_yield_pct    6.56
current_price        16.06
fifty_two_week_low   13.06
fifty_two_week_high  24.14

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-09-29,CASH,0.25,0001-01-01 00:00:00,2022-09-30,2022-10-31 00:00:00
1,2022-06-29,CASH,0.25,2022-05-19 00:00:00,2022-06-30,2022-08-01 00:00:00
2,2022-03-30,CASH,0.25,2022-02-17 00:00:00,2022-03-31,2022-05-02 00:00:00
3,2021-12-30,CASH,0.25,2021-10-21 00:00:00,2021-12-31,2022-01-31 00:00:00
4,2021-09-29,CASH,0.25,2021-07-22 00:00:00,2021-09-30,2021-11-01 00:00:00
5,2021-06-29,CASH,0.25,2021-05-20 00:00:00,2021-06-30,2021-08-02 00:00:00
6,2021-03-30,CASH,0.25,2021-02-18 00:00:00,2021-03-31,2021-04-30 00:00:00
7,2020-12-30,CASH,0.25,2020-10-22 00:00:00,2020-12-31,2021-01-29 00:00:00
8,2020-09-29,CASH,0.25,2020-07-23 00:00:00,2020-09-30,2020-10-30 00:00:00
9,2020-06-29,CASH,0.25,2020-05-21 00:00:00,2020-06-30,2020-07-31 00:00:00

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,PETS Dividend History,PETS,2022-08-11,5.75,1.2,22.36,https://www.nasdaq.com/market-activity/stocks/pets/dividend-history,"PetMed Express, Inc.",NMS,Healthcare,0.579955,21.47,19.02,32.67,3.99,2022-11-08 05:00:00,2022-08-19 08:00:00,2022-08-11 08:00:00,1.1,19.51818,0.96,22.364584,-1133.5,3.096337,19477124,0.13864,None,1.707075,1.25,0.0559,1.2,1.2,0.057526,https://finance.yahoo.com/quote/PETS/key-statistics?p=PETS,0,dataset,https://seekingalpha.com/symbol/PETS

https://finance.yahoo.com/quote/PETS/key-statistics?p=PETS

                         0
dividend_yield_pct    5.75
current_price        21.47
fifty_two_week_low   19.02
fifty_two_week_high  32.67

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-08-11  CASH         0.30       2022-07-25  2022-08-12   2022-08-19
1  2022-05-19  CASH         0.30       2022-05-09  2022-05-20   2022-05-27
2  2022-02-04  CASH         0.30       2022-01-24  2022-02-07   2022-02-18
3  2021-11-05  CASH         0.30       2021-10-25  2021-11-08   2021-11-19
4  2021-08-05  CASH         0.30       2021-07-26  2021-08-06   2021-08-13
5  2021-05-13  CASH         0.30       2021-05-03  2021-05-14   2021-05-21
6  2021-01-29  CASH         0.28       2021-01-19  2021-02-01   2021-02-12
7  2020-11-06  CASH         0.28       2020-10-26  2020-11-09   2020-11-20
8  2020-07-30  CASH         0.28       2020-07-20  2020-07-31   2020-08-07
9  2020-05-14  CASH         0.28       2020-05-04  2020-05-15   2020-05-22

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CODI Dividend History,CODI,2022-10-19,5.46,1.0,15.6,https://www.nasdaq.com/market-activity/stocks/codi/dividend-history,D/B/A Compass Diversified Holdi,NYQ,Industrials,1.679071,18.72,17.08,33.31,7.32,2022-11-04 04:00:00,2022-10-27 08:00:00,2022-10-19 08:00:00,2.44,7.672131,0.861,21.742159,1.28,1.527166,-254681872,0.06194,105.404,0.66218,None,0.0541,1,1.11,0.06,https://finance.yahoo.com/quote/CODI/key-statistics?p=CODI,0,dataset,https://seekingalpha.com/symbol/CODI

https://finance.yahoo.com/quote/CODI/key-statistics?p=CODI

                         0
dividend_yield_pct    5.46
current_price        18.72
fifty_two_week_low   17.08
fifty_two_week_high  33.31

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-19  CASH         0.25       2022-10-04  2022-10-20   2022-10-27
1  2022-07-20  CASH         0.25       2022-07-01  2022-07-21   2022-07-28
2  2022-04-20  CASH         0.25       2022-04-01  2022-04-21   2022-04-28
3  2022-01-12  CASH         0.25       2022-01-03  2022-01-13   2022-01-20
4  2021-10-14  CASH         0.36       2021-10-05  2021-10-15   2021-10-22
5  2021-08-30  CASH         0.88       2021-08-03  2021-08-31   2021-09-07
6  2021-07-14  CASH         0.36       2021-07-02  2021-07-15   2021-07-22
7  2021-04-14  CASH         0.36       2021-04-01  2021-04-15   2021-04-22
8  2021-01-14  CASH         0.36       2021-01-04  2021-01-15   2021-01-22
9  2020-10-14  CASH         0.36       2020-10-01  2020-10-15   2020-10-22

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,CRWS Dividend History,CRWS,2022-09-15,5.45,0.32,6.79,https://www.nasdaq.com/market-activity/stocks/crws/dividend-history,"Crown Crafts, Inc.",NCM,Consumer Cyclical,0.799189,5.84,5.73,8.03,5.11,2022-11-08 21:30:00,2022-10-07 08:00:00,2022-09-15 08:00:00,0.76,7.684211,0.85,6.870588,None,1.259978,3973000,0.19198,4.996,0.69712,0.3765,0.0548,0.32,0.32,0.055077,https://finance.yahoo.com/quote/CRWS/key-statistics?p=CRWS,0,dataset,https://seekingalpha.com/symbol/CRWS

https://finance.yahoo.com/quote/CRWS/key-statistics?p=CRWS

                        0
dividend_yield_pct   5.45
current_price        5.84
fifty_two_week_low   5.73
fifty_two_week_high  8.03

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-15  CASH         0.08       2022-08-15  2022-09-16   2022-10-07
1  2022-06-16  CASH         0.08       2022-05-16  2022-06-17   2022-07-08
2  2022-03-17  CASH         0.08       2022-02-08  2022-03-18   2022-04-08
3  2021-12-09  CASH         0.43       2021-11-09  2021-12-10   2021-12-31
4  2021-09-09  CASH         0.08       2021-08-10  2021-09-10   2021-10-01
5  2021-06-10  CASH         0.08       2021-05-11  2021-06-11   2021-07-02
6  2021-03-11  CASH         0.08       2021-02-09  2021-03-12   2021-04-02
7  2020-12-10  CASH         0.33       2020-11-10  2020-12-11   2020-12-31
8  2020-09-10  CASH         0.08       2020-08-11  2020-09-11   2020-10-02
9  2020-03-12  CASH         0.08       2020-02-11  2020-03-13   2020-04-03

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,PDCO Dividend History,PDCO,2022-10-20,4.0,1.04,13.7,https://www.nasdaq.com/market-activity/stocks/pdco/dividend-history,"Patterson Companies, Inc.",NMS,Healthcare,1.263448,26.98,23.87,35.29,4.15,2022-11-29 21:30:00,2022-11-04 08:00:00,2022-10-20 08:00:00,2.42,11.14876,1.96,13.765306,2.82,2.548408,104762248,0.19144,69.956,0.407993,0.5306,0.0385,1.04,1.04,0.040046,https://finance.yahoo.com/quote/PDCO/key-statistics?p=PDCO,0,dataset,https://seekingalpha.com/symbol/PDCO

https://finance.yahoo.com/quote/PDCO/key-statistics?p=PDCO

                         0
dividend_yield_pct    4.00
current_price        26.98
fifty_two_week_low   23.87
fifty_two_week_high  35.29

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-20  CASH         0.26       2022-09-13  2022-10-21   2022-11-04
1  2022-07-21  CASH         0.26       2022-06-14  2022-07-22   2022-08-05
2  2022-04-21  CASH         0.26       2022-03-14  2022-04-22   2022-05-06
3  2022-01-20  CASH         0.26       2021-12-14  2022-01-21   2022-02-04
4  2021-10-21  CASH         0.26       2021-09-14  2021-10-22   2021-11-05
5  2021-07-22  CASH         0.26       2021-06-15  2021-07-23   2021-08-06
6  2021-04-15  CASH         0.26       2021-03-16  2021-04-16   2021-04-30
7  2021-01-14  CASH         0.26       2020-12-15  2021-01-15   2021-01-29
8  2020-10-15  CASH         0.26       2020-09-15  2020-10-16   2020-10-30
9  2020-07-16  CASH         0.26       2020-06-22  2020-07-17   2020-07-31

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,ABBV Dividend History,ABBV,2022-10-13,3.95,5.64,20.83,https://www.nasdaq.com/market-activity/stocks/abbv/dividend-history,AbbVie Inc.,NYQ,Healthcare,0.647383,147.06,107.75,175.91,4.31,2022-10-28 20:30:00,2022-11-15 08:00:00,2022-10-13 08:00:00,11.84,12.420608,7.07,20.800566,-34.37,17.743725,18629376000,0.92706,498.284,4.533938,0.7666,0.0384,5.64,5.53,0.03869,https://finance.yahoo.com/quote/ABBV/key-statistics?p=ABBV,0,dataset,https://seekingalpha.com/symbol/ABBV

https://finance.yahoo.com/quote/ABBV/key-statistics?p=ABBV

                          0
dividend_yield_pct     3.95
current_price        147.06
fifty_two_week_low   107.75
fifty_two_week_high  175.91

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-10-13  CASH         1.41       2022-09-09  2022-10-14   2022-11-15
1  2022-07-14  CASH         1.41       2022-06-23  2022-07-15   2022-08-15
2  2022-04-13  CASH         1.41       2022-02-17  2022-04-15   2022-05-16
3  2022-01-13  CASH         1.41       2021-10-29  2022-01-14   2022-02-15
4  2021-10-14  CASH         1.30       2021-09-10  2021-10-15   2021-11-15
5  2021-07-14  CASH         1.30       2021-06-17  2021-07-15   2021-08-16
6  2021-04-14  CASH         1.30       2021-02-18  2021-04-15   2021-05-14
7  2021-01-14  CASH         1.30       2020-10-30  2021-01-15   2021-02-16
8  2020-10-14  CASH         1.18       2020-09-11  2020-10-15   2020-11-16
9  2020-07-14  CASH         1.18       2020-06-17  2020-07-15   2020-08-14

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,EVC Dividend History,EVC,2022-09-14,2.32,0.1,14.7,https://www.nasdaq.com/market-activity/stocks/evc/dividend-history,Entravision Communications Corp,NYQ,Communication Services,1.034635,4.41,3.96,9.34,4.96,2022-11-02 18:59:00,2022-09-30 08:00:00,2022-09-14 08:00:00,0.43,10.255814,0.3,14.699999,-0.59,1.467554,103713752,0.09696,93.192,0.439804,0.3333,0.0227,0.1,0.1,0.023202,https://finance.yahoo.com/quote/EVC/key-statistics?p=EVC,0,dataset,https://seekingalpha.com/symbol/EVC

https://finance.yahoo.com/quote/EVC/key-statistics?p=EVC

                        0
dividend_yield_pct   2.32
current_price        4.41
fifty_two_week_low   3.96
fifty_two_week_high  9.34

  ex_eff_date  type  cash_amount declaration_date record_date payment_date
0  2022-09-14  CASH        0.025       2022-08-03  2022-09-15   2022-09-30
1  2022-06-15  CASH        0.025       2022-05-05  2022-06-16   2022-06-30
2  2022-03-15  CASH        0.025       2022-03-03  2022-03-16   2022-03-31
3  2021-12-15  CASH        0.025       2021-11-04  2021-12-16   2021-12-31
4  2021-09-14  CASH        0.025       2021-08-05  2021-09-15   2021-09-30
5  2021-06-15  CASH        0.025       2021-05-06  2021-06-16   2021-06-30
6  2021-03-15  CASH        0.025       2021-03-03  2021-03-16   2021-03-31
7  2020-12-15  CASH        0.025       2020-11-05  2020-12-16   2020-12-31
8  2020-09-14  CASH        0.025       2020-08-04  2020-09-15   2020-09-30
9  2020-06-12  CASH        0.025       2020-05-07  2020-06-15   2020-06-30

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,MMLP Dividend History,MMLP,2022-08-04,0.62,0.02,6.04,https://www.nasdaq.com/market-activity/stocks/mmlp/dividend-history,Martin Midstream Partners L.P.,NMS,Energy,2.134856,3.38,2.52,5.98,16.08,2022-11-03 04:00:00,2022-11-14 08:00:00,2022-08-04 08:00:00,0.05,67.6,0.55,6.145454,None,None,32374500,None,None,0.125858,0.0364,0.0059,0.02,0.02,0.006116,https://finance.yahoo.com/quote/MMLP/key-statistics?p=MMLP,0,dataset,https://seekingalpha.com/symbol/MMLP

https://finance.yahoo.com/quote/MMLP/key-statistics?p=MMLP

                        0
dividend_yield_pct   0.62
current_price        3.38
fifty_two_week_low   2.52
fifty_two_week_high  5.98

,ex_eff_date,type,cash_amount,declaration_date,record_date,payment_date
0,2022-11-04,CASH,0.005,2022-10-18 00:00:00,2022-11-07,2022-11-14 00:00:00
1,2022-08-04,CASH,0.005,2022-07-20 00:00:00,2022-08-05,2022-08-12 00:00:00
2,2022-05-05,CASH,0.005,2022-04-20 00:00:00,2022-05-06,2022-05-13 00:00:00
3,2022-02-04,CASH,0.005,2022-01-25 00:00:00,2022-02-07,2022-02-14 00:00:00
4,2021-11-04,CASH,0.005,2021-10-20 00:00:00,2021-11-05,2021-11-12 00:00:00
5,2021-08-05,CASH,0.005,2021-07-22 00:00:00,2021-08-06,2021-08-13 00:00:00
6,2021-05-06,CASH,0.005,2021-04-21 00:00:00,2021-05-07,2021-05-14 00:00:00
7,2021-02-04,CASH,0.005,2021-01-25 00:00:00,2021-02-05,2021-02-12 00:00:00
8,2020-11-05,CASH,0.005,2020-10-21 00:00:00,2020-11-06,2020-11-13 00:00:00
9,2020-08-06,CASH,0.005,2020-07-27 00:00:00,2020-08-07,2020-08-14 00:00:00

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,WLKP,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/wlkp/dividend-history,Westlake Chemical Partners LP,NYQ,Basic Materials,0.985998,22.78,19.71,29.4,7.6,2022-11-03 20:30:00,2022-08-25 08:00:00,2022-08-10 08:00:00,2.04,11.166667,2.13,10.694836,2.93,1.496223,339655872,0.385,41.248,0.558777,0.8853,0.0828,1.89,1.886,0.082647,https://finance.yahoo.com/quote/WLKP/key-statistics?p=WLKP,0,dataset,https://seekingalpha.com/symbol/WLKP

https://finance.yahoo.com/quote/WLKP/key-statistics?p=WLKP

                         0
dividend_yield_pct    0.00
current_price        22.78
fifty_two_week_low   19.71
fifty_two_week_high  29.40

Empty DataFrame
Columns: []
Index: []

,label,symbol,ex_dividend_date,dividend_yield_pct,annual_dividend,pe_ratio,nasdaq_url,name,exchange,sector,beta,current_price,fifty_two_week_low,fifty_two_week_high,five_year_avg_dividend_yield,earnings_date,dividend_date,last_dividend_date,forward_eps,forward_pe,trailing_eps,trailing_pe,peg_ratio,price_to_book,free_cash_flow,return_on_equity,debt_to_equity,price_to_sales_trailing_12_months,payout_ratio,dividend_yield,dividend_rate,trailing_annual_dividend_rate,trailing_annual_dividend_yield,yfinance_url,sentiment_score,source,info_url
0,,PMT,0001-01-01 00:00:00,0,0,0,https://www.nasdaq.com/market-activity/stocks/pmt/dividend-history,PennyMac Mortgage Investment Tr,NYQ,Real Estate,1.192336,12.04,10.78,20.5,10.21,2022-10-28 04:00:00,2022-10-28 08:00:00,2022-10-13 08:00:00,1.69,7.12426,-0.731,None,-6.78,0.717136,None,-0.06466,524.42,13.778539,None,0.1629,1.88,1.88,0.162912,https://finance.yahoo.com/quote/PMT/key-statistics?p=PMT,0,yahoo_finance,https://seekingalpha.com/symbol/PMT

https://finance.yahoo.com/quote/PMT/key-statistics?p=PMT

                         0
dividend_yield_pct    0.00
current_price        12.04
fifty_two_week_low   10.78
fifty_two_week_high  20.50

Empty DataFrame
Columns: []
Index: []

Stocks to track
- PBR-A
- PBR
- GOGL
- ORC - monthly
- OXLC - monthly