In [2]:
!git clone https://github.com/alpha2phi-platform/alphalib.git

fatal: destination path 'alphalib' already exists and is not an empty directory.
/content

In [3]:
!pwd

/content

In [5]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.display import display
InteractiveShell.ast_node_interactivity = "all"

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
import pandas as pd
import numpy as np
import time
from datetime import datetime, timezone

In [7]:
%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_seq_items', 500)
pd.set_option("display.max_colwidth", None)

# EDA

In [9]:
DATASET_FILE = "alphalib/data/MDTaug13.xlsx"
COLUMNS = ["year",
           "month",
           "day",
           "first_prize",
           "second_prize",
           "third_prize",
           "starter_prize_1",
           "starter_prize_2",
           "starter_prize_3",
           "starter_prize_4",
           "starter_prize_5",
           "starter_prize_6",
           "starter_prize_7",
           "starter_prize_8",
           "starter_prize_9",
           "starter_prize_10",
           "consolation_prize_1",
           "consolation_prize_2",
           "consolation_prize_3",
           "consolation_prize_4",
           "consolation_prize_5",
           "consolation_prize_6",
           "consolation_prize_7",
           "consolation_prize_8",
           "consolation_prize_9",
           "consolation_prize_10",
           "day_name"
           ]

df_data = pd.read_excel(DATASET_FILE, sheet_name="Damacai", header=None, names=COLUMNS)
display(df_data.head(15))

# Drop NaN
df_data.dropna(inplace = True)
display(df_data.head(15))

,year,month,day,first_prize,second_prize,third_prize,starter_prize_1,starter_prize_2,starter_prize_3,starter_prize_4,starter_prize_5,starter_prize_6,starter_prize_7,starter_prize_8,starter_prize_9,starter_prize_10,consolation_prize_1,consolation_prize_2,consolation_prize_3,consolation_prize_4,consolation_prize_5,consolation_prize_6,consolation_prize_7,consolation_prize_8,consolation_prize_9,consolation_prize_10,day_name
0,1990,1,6,4670.0,8971.0,6810.0,4244,2195.0,3137.0,1027.0,7944.0,9722.0,9047.0,5624.0,8263.0,8371.0,2651.0,5122.0,4971.0,4753.0,4475.0,7349.0,8817.0,6351.0,9422.0,4650.0,sat
1,1990,1,7,3455.0,3558.0,1691.0,6923,1566.0,6474.0,7666.0,6368.0,4121.0,7896.0,6568.0,1979.0,855.0,7768.0,1825.0,3158.0,1387.0,4179.0,9476.0,861.0,5972.0,9166.0,9263.0,sun
2,1990,1,13,4040.0,8784.0,8539.0,3151,9763.0,9258.0,7000.0,6893.0,1740.0,4934.0,3806.0,3628.0,6561.0,9927.0,1164.0,6088.0,5130.0,6212.0,4382.0,2532.0,6163.0,3785.0,7776.0,sat
3,1990,1,14,4556.0,1148.0,2672.0,5117,3379.0,504.0,6511.0,8791.0,2271.0,8232.0,1638.0,4234.0,3050.0,3521.0,7205.0,2309.0,224.0,4574.0,8923.0,2467.0,6841.0,7890.0,2420.0,sun
4,1990,1,14,NaN,NaN,NaN,9823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sun
5,1990,1,20,6244.0,4776.0,8323.0,4902,8838.0,3316.0,3388.0,5052.0,1669.0,2393.0,4700.0,9421.0,8654.0,6790.0,9589.0,2750.0,2065.0,8926.0,3858.0,6969.0,9874.0,8967.0,3674.0,sat
6,1990,1,21,6113.0,3495.0,32.0,2525,2355.0,9693.0,3341.0,1846.0,5194.0,8287.0,6353.0,6004.0,7462.0,1123.0,7488.0,4022.0,568.0,702.0,3134.0,9505.0,9483.0,4839.0,5010.0,sun
7,1990,1,27,9146.0,3241.0,7741.0,2428,9835.0,2569.0,8351.0,479.0,3047.0,4301.0,2820.0,8126.0,6641.0,4266.0,5289.0,5560.0,1793.0,7071.0,8311.0,3780.0,8462.0,9862.0,2917.0,sat
8,1990,1,28,9460.0,3491.0,4964.0,8233,9774.0,1248.0,9998.0,8516.0,5076.0,1169.0,8027.0,5223.0,8750.0,6434.0,8016.0,2841.0,7721.0,512.0,5008.0,1519.0,4406.0,1708.0,3208.0,sun
9,1990,1,28,NaN,NaN,NaN,5863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sun
10,1990,2,3,229.0,5388.0,9279.0,4758,8977.0,8587.0,8132.0,4401.0,9501.0,1105.0,3420.0,6313.0,781.0,9669.0,5156.0,9819.0,5823.0,1882.0,3757.0,6335.0,9425.0,8572.0,4809.0,sat
11,1990,2,3,NaN,NaN,NaN,2314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sat
12,1990,2,4,389.0,2752.0,6244.0,7818,7110.0,1996.0,6347.0,7664.0,6289.0,2583.0,9922.0,7359.0,7733.0,6751.0,2845.0,9304.0,4815.0,8792.0,7653.0,7675.0,2519.0,6603.0,2388.0,sun
13,1990,2,10,4449.0,5107.0,3466.0,6901,5826.0,549.0,1701.0,687.0,9615.0,4933.0,1784.0,6530.0,2306.0,8576.0,3201.0,9294.0,1245.0,9931.0,5836.0,9088.0,1246.0,9039.0,5647.0,sat
14,1990,2,10,NaN,NaN,NaN,9009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sat

,year,month,day,first_prize,second_prize,third_prize,starter_prize_1,starter_prize_2,starter_prize_3,starter_prize_4,starter_prize_5,starter_prize_6,starter_prize_7,starter_prize_8,starter_prize_9,starter_prize_10,consolation_prize_1,consolation_prize_2,consolation_prize_3,consolation_prize_4,consolation_prize_5,consolation_prize_6,consolation_prize_7,consolation_prize_8,consolation_prize_9,consolation_prize_10,day_name
0,1990,1,6,4670.0,8971.0,6810.0,4244,2195.0,3137.0,1027.0,7944.0,9722.0,9047.0,5624.0,8263.0,8371.0,2651.0,5122.0,4971.0,4753.0,4475.0,7349.0,8817.0,6351.0,9422.0,4650.0,sat
1,1990,1,7,3455.0,3558.0,1691.0,6923,1566.0,6474.0,7666.0,6368.0,4121.0,7896.0,6568.0,1979.0,855.0,7768.0,1825.0,3158.0,1387.0,4179.0,9476.0,861.0,5972.0,9166.0,9263.0,sun
2,1990,1,13,4040.0,8784.0,8539.0,3151,9763.0,9258.0,7000.0,6893.0,1740.0,4934.0,3806.0,3628.0,6561.0,9927.0,1164.0,6088.0,5130.0,6212.0,4382.0,2532.0,6163.0,3785.0,7776.0,sat
3,1990,1,14,4556.0,1148.0,2672.0,5117,3379.0,504.0,6511.0,8791.0,2271.0,8232.0,1638.0,4234.0,3050.0,3521.0,7205.0,2309.0,224.0,4574.0,8923.0,2467.0,6841.0,7890.0,2420.0,sun
5,1990,1,20,6244.0,4776.0,8323.0,4902,8838.0,3316.0,3388.0,5052.0,1669.0,2393.0,4700.0,9421.0,8654.0,6790.0,9589.0,2750.0,2065.0,8926.0,3858.0,6969.0,9874.0,8967.0,3674.0,sat
6,1990,1,21,6113.0,3495.0,32.0,2525,2355.0,9693.0,3341.0,1846.0,5194.0,8287.0,6353.0,6004.0,7462.0,1123.0,7488.0,4022.0,568.0,702.0,3134.0,9505.0,9483.0,4839.0,5010.0,sun
7,1990,1,27,9146.0,3241.0,7741.0,2428,9835.0,2569.0,8351.0,479.0,3047.0,4301.0,2820.0,8126.0,6641.0,4266.0,5289.0,5560.0,1793.0,7071.0,8311.0,3780.0,8462.0,9862.0,2917.0,sat
8,1990,1,28,9460.0,3491.0,4964.0,8233,9774.0,1248.0,9998.0,8516.0,5076.0,1169.0,8027.0,5223.0,8750.0,6434.0,8016.0,2841.0,7721.0,512.0,5008.0,1519.0,4406.0,1708.0,3208.0,sun
10,1990,2,3,229.0,5388.0,9279.0,4758,8977.0,8587.0,8132.0,4401.0,9501.0,1105.0,3420.0,6313.0,781.0,9669.0,5156.0,9819.0,5823.0,1882.0,3757.0,6335.0,9425.0,8572.0,4809.0,sat
12,1990,2,4,389.0,2752.0,6244.0,7818,7110.0,1996.0,6347.0,7664.0,6289.0,2583.0,9922.0,7359.0,7733.0,6751.0,2845.0,9304.0,4815.0,8792.0,7653.0,7675.0,2519.0,6603.0,2388.0,sun
13,1990,2,10,4449.0,5107.0,3466.0,6901,5826.0,549.0,1701.0,687.0,9615.0,4933.0,1784.0,6530.0,2306.0,8576.0,3201.0,9294.0,1245.0,9931.0,5836.0,9088.0,1246.0,9039.0,5647.0,sat
15,1990,2,11,9889.0,4516.0,6984.0,7203,9393.0,4192.0,4801.0,727.0,9168.0,9541.0,1748.0,4484.0,9012.0,3046.0,5274.0,9858.0,2819.0,7890.0,4368.0,8958.0,3284.0,1596.0,3498.0,sun
16,1990,2,17,2368.0,4902.0,9905.0,360,133.0,2295.0,3069.0,6806.0,3296.0,6342.0,4542.0,8561.0,6122.0,4672.0,4867.0,1190.0,3576.0,3663.0,6679.0,6217.0,1543.0,7507.0,6015.0,sat
17,1990,2,18,6565.0,5920.0,1460.0,3198,4124.0,2408.0,2045.0,6874.0,2310.0,8521.0,8363.0,484.0,1052.0,3622.0,4034.0,4221.0,4225.0,3350.0,596.0,3239.0,1595.0,3652.0,7187.0,sun
18,1990,2,24,2707.0,9936.0,6619.0,1824,8674.0,2742.0,1313.0,6827.0,3065.0,6045.0,3872.0,5530.0,6972.0,4830.0,8441.0,8269.0,4497.0,2795.0,9040.0,454.0,4859.0,257.0,1979.0,sat

In [ ]:
# Transpose the dataset
def format_tabular(df):
    df_tabular = df.melt(
        id_vars=["year", "month", "day", "day_name"], var_name="prize_type", value_name="lucky_no")
    df_tabular = df_tabular.sort_values(["year", "month", "day", "day_name"], ascending=True)
    df_tabular.reset_index(inplace=True, drop=True)
    df_tabular["draw_date"] = df_tabular["year"].apply(str) + "-" + df_tabular["month"].apply(str) + "-" + df_tabular["day"].apply(str)
    df_tabular["draw_date"] = pd.to_datetime(df_tabular["draw_date"], format="%Y-%m-%d")
    return df_tabular

df_transposed = format_tabular(df_data)
df_transposed.head(10)

   year  month  day day_name       prize_type  lucky_no  draw_date
0  1990      1    6      sat      first_prize    4670.0 1990-01-06
1  1990      1    6      sat     second_prize    8971.0 1990-01-06
2  1990      1    6      sat      third_prize    6810.0 1990-01-06
3  1990      1    6      sat  starter_prize_1    4244.0 1990-01-06
4  1990      1    6      sat  starter_prize_2    2195.0 1990-01-06
5  1990      1    6      sat  starter_prize_3    3137.0 1990-01-06
6  1990      1    6      sat  starter_prize_4    1027.0 1990-01-06
7  1990      1    6      sat  starter_prize_5    7944.0 1990-01-06
8  1990      1    6      sat  starter_prize_6    9722.0 1990-01-06
9  1990      1    6      sat  starter_prize_7    9047.0 1990-01-06

In [ ]:
# Convert data type
df_transposed["lucky_no"] = df_transposed["lucky_no"].apply(int)
df_transposed["day_name"] = df_transposed["day_name"].astype("category")
df_transposed["prize_type"] = df_transposed["prize_type"].astype("category")
df_transposed["lucky_no"] = df_transposed["lucky_no"].astype("category")
df_transposed.replace({"first_prize": 1,
                       "second_prize":2,
                       "third_prize": 3,
                       "starter_prize_1": 4,
                       "starter_prize_2": 4,
                       "starter_prize_3": 4,
                       "starter_prize_4": 4,
                       "starter_prize_5": 4,
                       "starter_prize_6": 4,
                       "starter_prize_7": 4,
                       "starter_prize_8": 4,
                       "starter_prize_9": 4,
                       "starter_prize_10": 4,
                       "consolation_prize_1": 5,
                       "consolation_prize_2": 5,
                       "consolation_prize_3": 5,
                       "consolation_prize_4": 5,
                       "consolation_prize_5": 5,
                       "consolation_prize_6": 5,
                       "consolation_prize_7": 5,
                       "consolation_prize_8": 5,
                       "consolation_prize_9": 5,
                       "consolation_prize_1": 5,
                      },
                       inplace=True)
df_transposed.dtypes

year                   int64
month                  int64
day                    int64
day_name            category
prize_type          category
lucky_no            category
draw_date     datetime64[ns]
dtype: object

In [ ]:
df_transposed.head(24)

    year  month  day day_name prize_type lucky_no  draw_date
0   1990      1    6      sat          1     4670 1990-01-06
1   1990      1    6      sat          2     8971 1990-01-06
2   1990      1    6      sat          3     6810 1990-01-06
3   1990      1    6      sat          4     4244 1990-01-06
4   1990      1    6      sat          4     2195 1990-01-06
5   1990      1    6      sat          4     3137 1990-01-06
6   1990      1    6      sat          4     1027 1990-01-06
7   1990      1    6      sat          4     7944 1990-01-06
8   1990      1    6      sat          4     9722 1990-01-06
9   1990      1    6      sat          4     9047 1990-01-06
10  1990      1    6      sat          4     5624 1990-01-06
11  1990      1    6      sat          4     8263 1990-01-06
12  1990      1    6      sat          4     8371 1990-01-06
13  1990      1    6      sat          5     2651 1990-01-06
14  1990      1    6      sat          5     5122 1990-01-06
15  1990      1    6      sat          5     4971 1990-01-06
16  1990      1    6      sat          5     4753 1990-01-06
17  1990      1    6      sat          5     4475 1990-01-06
18  1990      1    6      sat          5     7349 1990-01-06
19  1990      1    6      sat          5     8817 1990-01-06
20  1990      1    6      sat          5     6351 1990-01-06
21  1990      1    6      sat          5     9422 1990-01-06
22  1990      1    6      sat          5     4650 1990-01-06
23  1990      1    7      sun          1     3455 1990-01-07

# Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score

In [ ]:
df_X = df_transposed[["draw_date", "prize_type", "year", "month", "day", "day_name"]]
df_X.dtypes, df_X.head(10)

(draw_date     datetime64[ns]
 prize_type          category
 year                   int64
 month                  int64
 day                    int64
 day_name            category
 dtype: object,
    draw_date prize_type  year  month  day day_name
 0 1990-01-06          1  1990      1    6      sat
 1 1990-01-06          2  1990      1    6      sat
 2 1990-01-06          3  1990      1    6      sat
 3 1990-01-06          4  1990      1    6      sat
 4 1990-01-06          4  1990      1    6      sat
 5 1990-01-06          4  1990      1    6      sat
 6 1990-01-06          4  1990      1    6      sat
 7 1990-01-06          4  1990      1    6      sat
 8 1990-01-06          4  1990      1    6      sat
 9 1990-01-06          4  1990      1    6      sat)

In [ ]:
df_Y = df_transposed[["lucky_no"]]
df_Y.head(10)

  lucky_no
0     4670
1     8971
2     6810
3     4244
4     2195
5     3137
6     1027
7     7944
8     9722
9     9047

# tsfresh

In [ ]:
from tsfresh import extract_features

df_Xf = extract_features(df_X, column_id="prize_type", column_sort="draw_date")

Feature Extraction:   0%|                                                                                                                | 0/20 [00:00<?, ?it/s]

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# tsflex

# featuretools

In [ ]:
import featuretools as ft